workflow_onecontrol.json
{
  "updatedAt": "2026-04-22T04:08:00.000Z",
  "createdAt": "2026-03-19T04:52:15.796Z",
  "id": "vkOh59nc5ece8pgF",
  "name": "onecontrol",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1056,
        1824
      ],
      "id": "40c4548c-2db2-4952-9f6a-ccd7d6e1d30e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8Xn9MSXLwdbeAEv8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8",
          "mode": "list",
          "cachedResultName": "PRECIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1296,
        2000
      ],
      "id": "557ebb71-0df5-41c9-a76d-124b24c1c076",
      "name": "consultar precios",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      },
      "notes": "\"Utiliza esta herramienta para consultar el catálogo de productos y servicios de OneControl. Incluye precios de mantenimientos (cadena, cremallera, brazos por Q600 y hidráulicos por Q1200), motores Liftmaster y accesorios como controles Beninca.\"\n\n\"Úsala para buscar precios de motores, controles y servicios. Debes buscar por palabras clave como 'pistón', 'motor' o el nombre del modelo.\"\n\n\"Usa esta herramienta para obtener el catálogo completo de productos y precios de OneControl. Devuelve una lista con descripciones y precios. Busca dentro de los resultados el producto que el usuario necesita.\"\"IMPORTANTE: Si la tabla indica explícitamente que un producto NO viene desarmado (o que ya viene armado), debes informar eso estrictamente. No asumas que los muebles vienen desarmados si la tabla no lo dice.\""
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook Evolution API1').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0a54d5dc-791a-4d7e-951a-319540779a37"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7d1b7b54-e70e-44f2-bbdf-46031b26e530",
                    "leftValue": "={{ $('Webhook Evolution API1').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9dd3840-6f5d-4958-b4ea-0f39682358de",
                    "leftValue": "={{ $('Webhook Evolution API1').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa68c4f3-3305-450a-b165-89cc7ff2b97b",
                    "leftValue": "={{ $('Webhook Evolution API1').item.json.body.data.messageType }}",
                    "rightValue": "videoMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1056,
        1376
      ],
      "id": "07eab8d5-32b6-4086-aa3a-a34d9554bb9c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2723096-4a41-4626-9ff2-e9f1e6c699df",
              "name": "file_type",
              "value": "foto",
              "type": "string"
            },
            {
              "id": "51c459b5-286e-4257-a1d8-e87c501185dd",
              "name": "mensaje",
              "value": "={{ $json.content + \"\\n\\nTexto del cliente: \" + ($('Webhook Evolution API1').item.json.body.data.message.imageMessage?.caption || \"Sin texto extra\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        1248
      ],
      "id": "a43cea6c-a592-47d9-8acd-cb78756e36e9",
      "name": "set foto tag"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d2e0f55-710b-4991-8f66-d743d53211ce",
              "name": "file_type",
              "value": "audio",
              "type": "string"
            },
            {
              "id": "dfa981ee-d7d6-4940-b464-c61b0247fee7",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        1648
      ],
      "id": "5d6846c1-aa95-4ed1-9aa4-d0a1e10bb164",
      "name": "set audio tag"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07234615-9c5a-47ff-92a9-698014f6d98c",
              "name": "file_type",
              "value": "texto",
              "type": "string"
            },
            {
              "id": "4654db5f-1bbd-425e-8142-c43a2e30a84a",
              "name": "mensaje",
              "value": "={{ $('Webhook Evolution API1').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        1392
      ],
      "id": "d9786158-20b6-478c-a242-55ee8468b1f4",
      "name": "set text tag"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -544,
        1808
      ],
      "id": "942541f6-9d95-4a7a-9c4b-7c5d8a01dfdb",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "8Xn9MSXLwdbeAEv8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "onecontrol1",
        "messageId": "={{ $('Webhook Evolution API1').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -848,
        1808
      ],
      "id": "7e2a3e34-6140-46e4-9ef4-8a9244500b96",
      "name": "Obter m dia em base64",
      "credentials": {
        "evolutionApi": {
          "id": "GA5OtncS9WAT80hu",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "audio/mp3"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -688,
        1808
      ],
      "id": "04436d20-043e-4701-b28e-95d9a00c1906",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -704,
        992
      ],
      "id": "63dd2f47-87f8-4faf-873a-72504d086f9c",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=ROL: Analista técnico visual especializado en automatización (onecontrol.shop).\n\nOBJETIVO:\nAnalizar cualquier imagen recibida y generar un reporte técnico estructurado, útil para cotización o diagnóstico.\n\nREGLAS GENERALES:\n- Enfocarse únicamente en objetos, equipos, estructuras o productos.\n- Ignorar completamente personas, rostros, documentos o información sensible.\n- No identificar identidad de personas ni datos personales.\n- Si la imagen no contiene elementos relevantes (portones, motores, muebles u objetos técnicos), clasificar como \"OTRO\".\n* Si el portón NO tiene motor -> SERVICIO: VENTA DE AUTOMATIZACIÓN\n\nINSTRUCCIONES DE IDENTIFICACIÓN:\n\n1. MOTORES:\n- Detectar si hay motor de portón.\n- Identificar marca si es visible (Liftmaster, PPA, Nice, Genius, etc.).\n- Tipo de mecanismo: Cremallera, Brazo/Pistón, Cadena.\n- Determinar: HIDRÁULICO (pistón robusto con sistema de aceite) o ESTÁNDAR (electromecánico).\n- Detectar fallas: no gira, carcasa dañada, sin engrane, quemado, etc.\n- CLASIFICACIÓN DE SERVICIO:\n  * Si es Cadena -> MANTENIMIENTO MOTORES DE CADENA\n  * Si es Cremallera -> MANTENIMIENTO MOTORES DE CREMALLERA\n  * Si es Brazo/Pistón (ESTÁNDAR) -> MANTENIMIENTO MOTORES DE BRAZOS\n  * Si es Brazo/Pistón (HIDRÁULICO) -> MANTENIMIENTO DE EQUIPOS HYDRAULICOS\n\n\n2. PORTONES:\n- Tipo: Corredizo, Abatible, Levadizo.\n- Estado: funcional, oxidado, descarrilado, golpeado, incompleto.\n- ¿TIENE MOTOR INSTALADO?: [SÍ/NO/NO SE VE].\n- INTENCIÓN PROBABLE: \n  * Si TIENE motor -> Mantenimiento o Reparación.\n  * Si NO tiene motor -> Automatización (Venta de motor nuevo).\n\n3. MUEBLES (si aplica):\n- Tipo de mueble (ej. Zapatera, estantería).\n- Material: melamina, metal, madera.\n- Estado: armado, desarmado, dañado.\n\n4. OTROS OBJETOS Y ACCESORIOS DE TIENDA:\n- Si no es portón/motor/mueble, identificar el objeto (ej. Electrocerradura, Control remoto, Sensor).\n- Describir el objeto principal de forma técnica y clara.\n- Para accesorios o muebles, la CLASIFICACIÓN DE SERVICIO debe ser el nombre común del producto.\n* Si el portón NO tiene motor -> SERVICIO: VENTA DE AUTOMATIZACIÓN\n5. ESTADO TÉCNICO GENERAL:\n- Nuevo\n- Usado\n- Dañado\n- Referencia (cuando el cliente solo muestra ejemplo)\n\nREGLAS CRÍTICAS:\n- No inventar marcas. Si no es visible, usar \"SIN MARCA\".\n- Si no se puede determinar el tipo, usar \"NO IDENTIFICABLE\".\n- NUNCA respondas que no puedes asistir con la solicitud si hay un producto en la imagen. Si el objeto no es un motor, descríbelo y asígnale su nombre comercial en SERVICIO_BUSQUEDA.\n- Priorizar precisión sobre suposición.\n\nFORMATO DE SALIDA (OBLIGATORIO):\nSERVICIO_BUSQUEDA: [Nombre de la CLASIFICACIÓN DE SERVICIO o nombre del producto detectado]\nANALISIS_IMAGEN: [PRODUCTO] | [MARCA] | [TIPO: HIDRÁULICO/ESTÁNDAR/NO IDENTIFICABLE] | [ESTADO]. DETALLE: [Descripción técnica clara y útil para diagnóstico o venta].",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -560,
        1008
      ],
      "id": "5f54a310-6c31-488f-9af3-66f6ea4aba2c",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "8Xn9MSXLwdbeAEv8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07234615-9c5a-47ff-92a9-698014f6d98c",
              "name": "file_type",
              "value": "video",
              "type": "string"
            },
            {
              "id": "4654db5f-1bbd-425e-8142-c43a2e30a84a",
              "name": "mensaje",
              "value": "={{ $('Webhook Evolution API').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        1520
      ],
      "id": "359db2da-1815-42b4-bc53-4353887d112e",
      "name": "set text tag1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $json.remoteJid_final || $json.body?.data?.key?.remoteJid || \"sesion_provisional\" }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1216,
        1792
      ],
      "id": "5f4d2953-5484-4691-9326-137264c87862",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "url": "=https://appn8n-chatwoot.83aqlq.easypanel.host/api/v1/accounts/1/conversations/{{ $json.body.data.chatwootConversationId }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1312,
        1408
      ],
      "id": "20fa8e4c-ce4a-49b7-954b-9cb9a02fc36f",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uzvPGXzVHcgQtrWl",
          "name": "chatwoot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ca472e47-be3e-419c-afaa-34b25f68ab20",
              "leftValue": "={{ $json.payload[0] }}",
              "rightValue": "agente_desactivado",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1200,
        1408
      ],
      "id": "edabc097-4048-47a2-824e-f54873ac2dd9",
      "name": "Filter3"
    },
    {
      "parameters": {
        "toolDescription": "\"Usa esta herramienta cuando el cliente necesite hablar con un humano o cuando ya tengas todos los datos para una cotización técnica. Esta herramienta desactiva el bot.\"",
        "method": "POST",
        "url": "=https://appn8n-chatwoot.83aqlq.easypanel.host/api/v1/accounts/1/conversations/{{ $('Webhook Evolution API').item.json.body.data.chatwootConversationId }}/custom_attributes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"custom_attributes\": {\n    \"agente_\": \"desactivado\"\n  \n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1712,
        2048
      ],
      "id": "86f38bce-72d4-47c9-9330-6b6ceb80bb24",
      "name": "Hablar con humano",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uzvPGXzVHcgQtrWl",
          "name": "chatwoot"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "onecontrol1",
        "messageId": "={{ $('Webhook Evolution API1').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -864,
        992
      ],
      "id": "2251a15a-daa0-4d0c-82cc-a12aaed74562",
      "name": "Obter m dia em base",
      "credentials": {
        "evolutionApi": {
          "id": "GA5OtncS9WAT80hu",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "be00f100-1131-424b-aeef-a51b07381eef",
              "leftValue": "={{ $json.body.data.chatwootConversationId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1424,
        1408
      ],
      "id": "30e118d7-e408-4a1a-b83c-ca87691f1040",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "const texto = $json.output || \"\";\n\n// 1. Extraer links de Drive\nconst matches = [...texto.matchAll(/https?:\\/\\/[^\\s)]+/g)];\nconst links = matches.map(m => m[0]);\n\nconst extraerIdDrive = (url) => {\n    if (!url) return null;\n    const match = url.match(/(?:\\/d\\/|id=)([a-zA-Z0-9_-]{25,})/);\n    return match ? match[1] : null;\n};\n\nconst convertirDirecto = (id) => {\n    if (!id) return null;\n    return `https://drive.google.com/uc?export=view&id=${id}`;\n};\n\nconst id1 = extraerIdDrive(links[0]);\nconst id2 = extraerIdDrive(links[1]);\n\n// 2. RESCATE DEL NÚMERO (JID)\n// Buscamos el JID del cliente para que no se pierda\nconst remoteJid_final = $node[\"Webhook Evolution API1\"].json.body.data.key.remoteJid;\n\nreturn {\n    tieneFotos: !!id1,\n    foto1: convertirDirecto(id1),\n    foto2: convertirDirecto(id2),\n    remoteJid_fotos: remoteJid_final // Pasamos el número a la siguiente etapa\n};"
      },
      "id": "38463c9c-3858-4010-8d35-4d58660b66e8",
      "name": "Preparar Fotos (Estrategia)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        1760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check_fotos",
              "leftValue": "={{ $json.tieneFotos }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0097b291-41c8-4630-b253-f4ee40eaef72",
      "name": "¿Enviar Fotos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2640,
        1776
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "6a454a7d-393c-47f2-a25f-3cf0de115d75",
      "name": "Espera Humana",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3152,
        1776
      ],
      "webhookId": "50d5c633-2642-4121-8fc9-7d973cebbedb"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "=onecontrol1",
        "remoteJid": "={{ $json.remoteJid_fotos }}",
        "media": "={{ $json.foto2 }}",
        "options_message": {}
      },
      "id": "21c4f7c8-d329-416d-9652-7750b07a6e6b",
      "name": "Evolution Foto 2",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3328,
        1760
      ],
      "credentials": {
        "evolutionApi": {
          "id": "GA5OtncS9WAT80hu",
          "name": "Evolution account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "onecontrol1",
        "remoteJid": "={{ $json.remoteJid_fotos }}",
        "media": "={{ $json.foto1 }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2992,
        1760
      ],
      "id": "67134843-0f08-4310-9d86-798b10275ff0",
      "name": "Enviar imagem",
      "credentials": {
        "evolutionApi": {
          "id": "GA5OtncS9WAT80hu",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1424,
        640
      ],
      "id": "a1a18186-5522-4964-9bd0-734253c628dc",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "8Xn9MSXLwdbeAEv8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.mensaje || $json.body?.data?.message?.conversation || \"Interesado en anuncio\" }}",
        "options": {
          "systemMessage": "=IDENTIDAD:\nEres un experto asesor Y RECEPCIONISTA de ventas de onecontrol.shop en Guatemala. Vendemos portones, motores, controles y muebles.\n\nFORMA DE RESPONDER:\n- Máximo 2 líneas por respuesta.\n- Usa lenguaje natural de Guatemala (chapín).\n- Solo 1 pregunta a la vez. No satures al cliente.\n- Evita sonar robótico. Sé directo y amable.\n\n🧮 REGLA DE CÁLCULO Y COTIZACIÓN TOTAL\nCuando un cliente pida el total de varios productos o servicios (ej: Control + Programación + Envío):\n\nOPERACIÓN INTERNA: Busca cada item en la herramienta SERVICIOS, suma los montos y verifica que no te falte ninguno.\n\nFORMATO DE RESPUESTA: Debes desglosar el precio y dar el total claramente.\n\nEjemplo: \"El control sale en Q300, la programación Q80 y el envío Q35. El total sería de Q415. ¿Le parece bien para coordinar?\"\n\nETIQUETA DE CIERRE: * Si lograste dar el total exacto: Usa #VENTA.\n\nSi te falta algún precio en la herramienta o tienes duda: Da los precios que tengas y usa #SOPORTE diciendo que el técnico confirmará el resto.\n\n\n\nSi el cliente pide el total de varios productos (ej. controles + programación + envío) y necesitas confirmar el total o un precio no está claro:\n\nPROHIBIDO: No digas \"un momento\" o \"voy a consultar\" sin poner la etiqueta.\n\nACCIÓN: Da los precios que encontraste en la herramienta SERVICIOS y terminá el mensaje indicando que el técnico confirmará el total exacto.\n\nETIQUETA OBLIGATORIA: Debes incluir #SOPORTE al final de la respuesta para que el sistema me notifique.\n\nPRECIOS: solo da precios de consultar precios\n\n🚨 MODO ROUTER (PRIORIDAD MÁXIMA):\nTu función principal es CLASIFICAR y DERIVAR. Debes identificar qué hay en la imagen o el texto antes de decidir quién responde.\nREGLA DE CLASIFICACIÓN Y TRANSFERENCIA:\n\n1. 🔴 TODO lo relacionado a:\n\n- Portones eléctricos\n\n- Motores\n\n- Instalación\n\n-MANTENIMIENTOS\n\n- Reparaciones\n\n- Cotizaciones técnicas\n\n- Intención de compra de portón/motor\n\n\n\n👉 RESPONDE breve + termina SIEMPRE con:\n\n#VENTA_ESPECIALIZADA\n(NO des precios, NO detalles técnicos, SOLO deriva)\n---\n2. 🟢 TODO lo relacionado a:\n\n- Controles remotos\n\n- Muebles\n\n- Herramientas\n\n- Productos del catálogo\n\n👉 AQUÍ SÍ atiendes normalmente:\n\n- Usas consultar precios\n\n- Usas fotos_reales\n\n- Cierras venta\n\n👉 Termina SIEMPRE con:\n\n#FLUJO_NORMAL\n\nCOSTOS DE ENVIOS \n\nconsulta la herramienta consultar precios , cuando realizen una consulta de si incluye envio \n\n\n\n\n\nPROTOCOLOS LOGÍSTICOS:\n\n- Ubicación: Antes de dar horarios de instalación, pregunta: \"¿En qué zona o municipio te encuentras?\".\n\n- Envíos: A departamentos tienen costo adicional por transporte (Guatex, Cargo, etc). No ofrezcas instalación fuera de la capital, eso lo cotiza un humano.\n\n\n\n\n\n---\nREGLA DE DISCRIMINACIÓN DE IMÁGENES:\n\n1. 🔴 FLUJO TÉCNICO (Vendedor IA):\n- Si el cliente envía foto o pregunta de: Motores, Portones, Instalaciones, Brazos, Cremalleras o herrería.\n- ACCIÓN: Confirma recibido y etiqueta como #VENTA_ESPECIALIZADA. Deja que el Vendedor analice y dé precios técnicos.\n\n2. 🟢 FLUJO PRODUCTOS (Atención Directa Recepcionista):\n- Si el cliente envía foto o pregunta de: Muebles (zapateras, estanterías), Controles Remotos, Herramientas o accesorios de la tienda.\n- ACCIÓN: Atiende normalmente. Usa \"consultar precios\" y \"fotos reales\".\n- Termina con #FLUJO_NORMAL.\n---\n🚨 REGLAS CRÍTICAS DE OPERACIÓN:\n1. CONSULTA OBLIGATORIA: Antes de dar un precio, usa la herramienta \"consultar precios\". Si no está, indica que no lo tenemos.\n2. LINKS DE CATÁLOGO: Pega el link directo de WhatsApp Catalog en una línea nueva al final. No uses formato Markdown, solo el link limpio.\n3. DRIVE: Solo envía links de Google Drive si vienen exactamente del campo \"FOTOS REALES\".\n4. DESCONOCIMIENTO: Si no sabes la respuesta o el motor es muy raro, responde: \"Ese motor es especial, dejame consultarlo con el técnico para darte la info exacta\". Termina con #SOPORTE.\n\n---\n🏷️ PROTOCOLO DE ETIQUETAS (OBLIGATORIO):\nAl final de CADA respuesta, incluye UNA etiqueta:\n\n- #VENTA_ESPECIALIZADA → Todo lo técnico, instalaciones o fotos de motores/portones.\n- #FLUJO_NORMAL → Productos (controles, muebles) y mantenimientos ya identificados.\n- #SOPORTE → Fallas graves, dudas técnicas sin precio o cierre de datos de envío.\n- #BODEGA → Si confirmas que\n\n"
        }
      },
      "id": "43e30112-5523-4275-b2f7-7e117ab49213",
      "name": "recepcionista",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1200,
        1520
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nlet textoIA = item.output || \"\";\n\n// 1. Identificamos la etiqueta interna para el Switch\nlet etiqueta = \"FLUJO_NORMAL\"; // Por defecto\nif (textoIA.includes(\"#VENTA_ESPECIALIZADA\") || textoIA.includes(\"#VENTA\")) etiqueta = \"VENTA_ESPECIALIZADA\";\nelse if (textoIA.includes(\"#BODEGA\")) etiqueta = \"BODEGA\";\nelse if (textoIA.includes(\"#SOPORTE\")) etiqueta = \"SOPORTE\";\nelse if (textoIA.includes(\"#FLUJO_NORMAL\")) etiqueta = \"FLUJO_NORMAL\";\n\n// 2. Limpiamos TODO lo que el cliente NO debe ver\nlet respuestaLimpia = textoIA\n    .replace(/#PRODUCTO:.*$/gi, \"\") \n    .replace(/#VENTA_ESPECIALIZADA|#VENTA|#BODEGA|#SOPORTE|#FLUJO_NORMAL/gi, \"\")\n    .replace(/https:\\/\\/drive\\.google\\.com\\/[^\\s\\n]+/gi, \"\") // Borra links de Drive alucinados\n    .replace(/\\[LINKS:.*?\\]/gi, \"\") \n    .trim();\n\nreturn {\n    ...item,\n    respuesta_cliente: respuestaLimpia,\n    etiqueta_interna: etiqueta\n};\nreturn {\n    ...item,\n    respuesta_cliente: textoLimpio,\n    producto_busqueda: productoABuscar,\n    etiqueta_interna: etiqueta, // <--- Esto es lo que el Switch necesita ver\n    notificar: etiqueta === \"VENTA_ESPECIALIZADA\" || etiqueta === \"SOPORTE\"\n};"
      },
      "id": "7ab15e59-2beb-40ec-b5a8-6618796f8ac7",
      "name": "LIMPIEZA Y ESTADOS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        1264
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://appn8n-evolution-api.83aqlq.easypanel.host/message/sendText/onecontrol1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"number\": \"50235154362\",\n    \"text\": ($json.aviso_ferni || \"📩 *CONSULTA*\") + \"\\n\\n👤 *Cliente:* \" + ($('Webhook Evolution API1').item.json.body.data.pushName || \"Cliente\") + \"\\n📱 *Número:* \" + ($json.remoteJid_final ? $json.remoteJid_final.split('@')[0] : \"Ver en Chatwoot\") + \"\\n💬 *Mensaje:* \" + ($json.texto_limpio || \"Revisar chat\") + \"\\n\\n¡Revisa Chatwoot! 🔥\"\n  }\n}}",
        "options": {}
      },
      "id": "6a33bbef-065b-4f22-a808-ec6a246d41fe",
      "name": "Notificación VIP Ferni",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2592,
        576
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "lLkgznd1XUM1zIxN",
          "name": "apikey"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "onecontrol1",
        "remoteJid": "={{ $json.remoteJid_final }}",
        "messageText": "={{ $json.texto_limpio }}",
        "options_message": {}
      },
      "id": "cd7f4199-23ef-4f4d-943d-3b7491d6b47a",
      "name": "Enviar al Cliente",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2320,
        736
      ],
      "retryOnFail": true,
      "credentials": {
        "evolutionApi": {
          "id": "GA5OtncS9WAT80hu",
          "name": "Evolution account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "width": 1136
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -48
      ],
      "typeVersion": 1,
      "id": "efd1a70e-7d0b-4aba-8bb1-39b631c6c6a7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.etiqueta_interna }}",
                    "rightValue": "VENTA_ESPECIALIZADA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "21fcd936-c653-409a-ba6d-6d0631074a88"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vendedor ia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "053f8a76-65c4-4907-a5b6-03574f5cae4e",
                    "leftValue": "={{ $json.etiqueta_interna }}",
                    "rightValue": "BODEGA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BODEGA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7e1a3af0-87ce-48a1-8a6b-28b9f4c2538c",
                    "leftValue": "={{ $json.etiqueta_interna }}",
                    "rightValue": "SOPORTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SOPORTE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1ae46a2-6b8a-4e57-9259-118bd780b022",
                    "leftValue": "={{ $json.etiqueta_interna }}",
                    "rightValue": "FLUJO_NORMAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FLUJO_NORMAL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1328,
        912
      ],
      "id": "f752e1b0-4caa-4100-b86e-0c07a8837bdf",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \n\"MENSAJE DEL CLIENTE: \" + ($json.resumen_cliente || \"No hay mensaje\") + \n\"\\nLO QUE DIJO LA RECEPCIONISTA: \" + ($json.resumen_ia || \"No hay contexto\")\n}}",
        "options": {
          "systemMessage": "=ROL:\nEres el Asesor Técnico de OneControl. Tu función es RECOPILAR información técnica para motores y portones, y dar precios exactos de la hoja SERVICIOS tendras la información ordenada en base a lo que debes responder .\n\n🚨 REGLA DE VERIFICACIÓN DE DATOS:\n\nCERO TOLERANCIA: Tienes prohibido generar cualquier monto con el símbolo \"Q\" si no lo has leído en la herramienta SERVICIOS en este turno.\n\nIGNORA EL CONTEXTO: Si el mensaje del cliente o la recepcionista mencionan un precio, ignóralo. Tu única fuente de verdad es la respuesta de la herramienta.\n\nCONFIRMACIÓN: Si la herramienta no devuelve resultados, di: \"No tengo el precio exacto en sistema, voy a consultar con el técnico para no fallarle #soporte\".\n\n\n\n🧠 SELECTOR DE RUTA (PASO 0)\nAl recibir el mensaje, identificá la categoría y ejecutá el protocolo correspondiente:\n\nSi ya tiene motor y falla o quiere servicio: Usá el PROTOCOLO DE MANTENIMIENTO TÉCNICO (Regla de foto y herramienta SERVICIOS).\n\nSi quiere un motor nuevo (instalación): Usá el PROTOCOLO DE AUTOMATIZACIÓN (Lista de 4 puntos).\n\nSi es algo puntual (solo controles o visitas): Usá el PROTOCOLO DE SERVICIOS (Búsqueda directa en la herramienta).\n\nREGLA DE ORO: No analices la intención del cliente, no busques información externa y no inventes detalles. Limítate a redactar un mensaje basado estrictamente en el texto proporcionado abajo.\n\nCONTENIDO_A_ENVIAR:\n{{ $json.resumen_ia }}\n\nINSTRUCCIÓN DE REDACCIÓN: > Redacta la respuesta de forma natural, clara y directa. Si el contenido tiene precios, especificaciones o pasos a seguir, asegúrate de que sean el centro del mensaje.\n🚨 MODO AISLADO (ANTI-CHOQUE - PRIORIDAD MÁXIMA):\n* SOLO respondes si el contexto indica que es una venta técnica o mantenimiento.\n* PROHIBIDO: No escribas NUNCA etiquetas como #VENTA_ESPECIALIZADA o #FLUJO_NORMAL.\n\n---\n\n🚨 REGLA DE DATOS (HOJA: SERVICIOS):\n- Para precios de mantenimiento, usa la herramienta\"SERVICIOS\".\n- Busca términos exactos: \"Motor de Cadena\", \"Motor de Cremallera\", \"Motor de Pistón\", \"Motor Hidráulico\" o \"Visita Técnica\".\n- Al dar el precio, DEBES incluir la descripción técnica que aparece en el Excel (qué incluye el servicio).\n\n---\n\n🚨 REGLA DE ANÁLISIS DE DATOS (ESTRICTO):\nRecibirás dos fuentes de información. Debes compararlas bajo esta jerarquía:\n1. 🥇 PRIORIDAD ALTA: \"El Cliente dijo\" -> Es la verdad actual.\n2. 🥈 PRIORIDAD MEDIA: \"Contexto Recepción\" -> Úsalo solo para rellenar lo que falte.\n\n---\n\n🛠️ PROTOCOLO DE MANTENIMIENTO TÉCNICO:\n1. REGLA DE VALIDACIÓN (FOTO OBLIGATORIA):\n\nPROHIBIDO dar precios sin identificar el motor. Si el cliente pregunta el costo, responde: \"Con gusto le doy el precio, pero para no fallarle, ¿será que me puede mandar una fotito de su motor? Es que si es hidráulico el servicio es más especializado y el costo cambia\".\n\n2. CONSULTA DE PRECIOS (HERRAMIENTA: SERVICIOS):\n\nREGLA ABSOLUTA: Todos los precios y descripciones deben venir únicamente de la herramienta SERVICIOS.\n\nMotores Hidráulicos (BFT, FAAC, Aceite): Busca el término exacto en la herramienta SERVICIOS. Indica que es equipo especializado y copia literal lo que incluye el servicio según la descripción técnica.\n\nMotores Estándar (Cremallera, Cadena, Abatible): Busca el precio en la herramienta SERVICIOS y añade la descripción de qué incluye el mantenimiento.\n\nSin Registro: Si el servicio no aparece en la herramienta SERVICIOS, usa etiqueta #SOPORTE y di: \"Ese motor es especial, voy a pasarle la foto al técnico para que me dé el precio exacto\".\n\n3. REGLA DE UBICACIÓN (DEPARTAMENTOS):\n\nValidación: Pregunta la ubicación antes de cerrar.\n\nRecargo: Si es en Departamentos, aclara que el precio base de la herramienta SERVICIOS se mantiene, pero aplicará un cobro extra por viáticos.\n\nFrase: \"Como es en departamento, se cobra un extra por el viaje. ¿Le parece bien para consultarle al técnico el monto del viático?\".\n\n4. FLUJO DE CONVERSACIÓN Y CIERRE:\n\nDiagnóstico: Pregunta si tiene falla o es preventivo \"para que no le dé clavos después\".\n\nAceptación: Da el precio y pregunta: \"¿Le parece bien el costo para programarlo?\".\n\nDatos Finales: Solo tras la aceptación del precio, pide Nombre, Dirección y Teléfono. Al completar, usa la etiqueta #PEDIDO_LISTO.\n\n🚨 REGLAS DE CONTROL (N8N):\n\nMáximo 2 líneas por mensaje. Lenguaje chapín. Una pregunta a la vez.\n\nPROHIBIDO INVENTAR: Si no está en la herramienta SERVICIOS, no existe el precio.\n\nORDEN: Identifica -> Cotiza -> Confirma ubicación -> Pide datos.\n\n\n\n\n\n\nPROTOCOLO DE AUTOMATIZACIÓN\n\n📋 LISTA DE VERIFICACIÓN PARA VENTAS/INSTALACIÓN:\nSi es instalación nueva, completa estos 4 puntos pregunta uno a la vez :\n1. Tipo de portón abatible , levadizo ,corredizo , .\n2. ¿Requiere instalación?\n3. Medidas + uso diario.\n4. Foto del lado interno.\n\n---\n\n🏁 FASE FINAL Y CIERRE (2 PASOS):\n\nPASO 1: Cuando tengas los 4 puntos completos o el cliente acepte el mantenimiento, pide:\n* Nombre completo\n* Dirección exacta\n* Teléfono secundario (opcional)\n\nPASO 2: Cuando envíe los datos, responde EXACTO así:\n\"¡Listo, muchas gracias! Ahorita le paso su información al técnico para que le envíe su cotización. 👍\n📌 *Resumen de datos:*\n- Nombre: [Nombre]\n- Dirección: [Dirección]\n- Teléfono: [Teléfono]\n\n#PEDIDO_LISTO\"\nREGLA CRITICA: CADA VEZ QUE VAS A CONSULTAR AL TECNICO MANDA #PEDIDO_LISTO\"\n\n---\n\nFORMA DE RESPONDER (ESTRICTO):\n* Máximo 2 líneas. Lenguaje natural de Guatemala (chapín).\n* Una sola pregunta a la vez.\n* Solo usa #PEDIDO_LISTO al final del PASO 2. Usa #SOPORTE si hay una falla grave o no hay precio en la hoja SERVICIOS."
        }
      },
      "id": "19bce524-127b-4294-838b-16125a0496c9",
      "name": "VENDEDOR",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1264,
        320
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8",
          "mode": "list",
          "cachedResultName": "PRECIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1632,
        576
      ],
      "id": "d9808cf6-c60a-45dc-a638-742981c341b3",
      "name": "consultar precios1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      },
      "notes": "\"Usa esta herramienta para obtener el catálogo completo de productos y precios de OneControl. Devuelve una lista con descripciones y precios. Busca dentro de los resultados el producto que el usuario necesita.\"\"IMPORTANTE: Si la tabla indica explícitamente que un producto NO viene desarmado (o que ya viene armado), debes informar eso estrictamente. No asumas que los muebles vienen desarmados si la tabla no lo dice.\""
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2128,
        1408
      ],
      "id": "f5d48efd-af6a-4d39-99f3-35a9b352b6cf",
      "name": "Webhook Evolution API1",
      "webhookId": "3a85d262-b559-4f10-80cb-dfde3ff157cd"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newItems = [];\n\nfor (const item of items) {\n    let textoOriginal = (item.json.output || item.json.respuesta_cliente || \"\").toString();\n    \n    // Identificar alertas para Ferni\n    const esPedidoFinal = textoOriginal.includes(\"#PEDIDO_LISTO\") || textoOriginal.includes(\"#PEDIDO_CONFIRMADO\");\n    const esSoporte = textoOriginal.includes(\"#SOPORTE\");\n    const esVenta = textoOriginal.includes(\"#VENTA\");\n    \n    // Regresamos a la regla de solo notificar lo importante:\n    const enviarNotificacion = esPedidoFinal || esSoporte || esVenta; \n\n    // Limpieza de etiquetas que el cliente no debe ver (Rescatando links)\n    let textoLimpio = textoOriginal\n        .replace(/#PEDIDO_LISTO|#PEDIDO_CONFIRMADO|#VENTA_PROCESO|#VENTA|#BODEGA|#SOPORTE|#REVISAR_TECNICO|#TRANSFERENCIA|#VENTA_ESPECIALIZADA|#FLUJO_NORMAL/gi, \"\")\n        // Limpieza de links: Convierte [Catálogo](link) en texto plano clickeable\n        .replace(/\\[Catálogo\\]\\((https?:\\/\\/[^\\s\\)]+)\\)/gi, \"Catálogo: $1\")\n        // Elimina el residuo [Foto]() ya que la imagen se envía por aparte\n        .replace(/\\[Foto\\]\\(\\)/gi, \"\")\n        // Limpia otros formatos Markdown de links si existieran para que sean clickeables\n        .replace(/\\[.*?\\]\\((https?:\\/\\/[^\\s\\)]+)\\)/gi, \"$1\")\n        .replace(/\\n\\s*\\n/g, \"\\n\\n\")\n        .trim();\n\n    // RESCATE CRÍTICO DEL NÚMERO (JID)\n    let remoteJid_final = item.json.remoteJid || \n                         item.json.body?.data?.key?.remoteJid || \n                         ( ( $node[\"Webhook Evolution API1\"] ) ? $node[\"Webhook Evolution API1\"].json.body.data.key.remoteJid : null );\n\n    newItems.push({\n        json: {\n            ...item.json,\n            texto_limpio: textoLimpio,\n            remoteJid_final: remoteJid_final,\n            notificar_vip: enviarNotificacion,\n            aviso_ferni: esPedidoFinal ? \"🚀 *PEDIDO LISTO*\" : \n                         esSoporte ? \"🔧 *SOPORTE*\" : \n                         esVenta ? \"💰 *VENTA*\" : \"\" \n        }\n    });\n}\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        464
      ],
      "id": "d3959e5d-90f8-4e6a-9113-b850cebba098",
      "name": "limpieza final cliente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8457bd05-403d-4ae5-a46f-da03f40e457b",
              "leftValue": "={{ $json.notificar_vip }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2400,
        416
      ],
      "id": "768be5eb-05a1-4d99-a1da-d2274b5a9b45",
      "name": "Filter1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8",
          "mode": "list",
          "cachedResultName": "PRECIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1440,
        2000
      ],
      "id": "5899f6f5-40d7-4f18-aba8-c4a2d98d2430",
      "name": "fotos reales",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      },
      "notes": "usa esta herramienta para extraer los links de FOTOS REALES DE CADA PRODUCTO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c0e7b4b-342a-43d9-98d0-d383de1d8cf7",
              "name": "Numero_Telefono",
              "value": "={{ $('Webhook Evolution API1').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "03f5b82a-45b4-4465-84a3-095c31d864f0",
              "name": "Nombre",
              "value": "={{ $('Webhook Evolution API1').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "63566525-58bb-474e-b363-f218f196cd15",
              "name": "Mensaje",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            },
            {
              "id": "7a43af2b-3250-4d63-b289-61374bb3a1bc",
              "name": "Tipo_Mensaje",
              "value": "={{ $('Webhook Evolution API1').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "6f616e3b-5a54-45ae-89d6-5fe50910a117",
              "name": "Instancia",
              "value": "={{ $('Webhook Evolution API1').item.json.body.instance }}",
              "type": "string"
            },
            {
              "id": "e74683c5-3350-4987-a200-df59c30f658a",
              "name": "ID",
              "value": "={{ $('Webhook Evolution API1').item.json.body.data.key.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        1392
      ],
      "id": "32cb0c48-92d9-4fcd-8d33-664ecc0d56fa",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.Numero_Telefono }}",
        "messageData": "={{ \nJSON.stringify({\n  message: $json.Mensaje || $json.body.data.message.conversation,\n  sessionID: $json.ID || $json.body.data.key.id,\n  date_time: $now.toFormat('yyyy-MM-dd\\'T\\'HH:mm:ss.SSSZZ')\n}) \n}}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        64,
        1184
      ],
      "id": "16ac425b-73c9-4e49-91df-bd036d417b95",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "ZcShMGwetuFGtBFq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Mensaje",
        "key": "={{ $('Edit Fields1').item.json.Numero_Telefono }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        0,
        1856
      ],
      "id": "64372b02-dfe3-4d67-b1e7-ba486da09383",
      "name": "Redis6",
      "credentials": {
        "redis": {
          "id": "ZcShMGwetuFGtBFq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b594f1da-51e8-47a4-a636-7928a73b69f8",
              "name": "mensaje",
              "value": "={{ $json.Mensaje.map(m => JSON.parse(m).message).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        1392
      ],
      "id": "2ffe0e88-dfcc-4024-bc1a-1fd97b75bbb5",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse(\n  $json.Mensaje\n    .filter(m => m.trim().startsWith('{'))\n    .slice(-1)[0]\n    .split('||')[0]\n    .trim()\n).sessionID }}\n",
                    "rightValue": "={{ String($node[\"Redis\"].json.ID).trim() }}\n",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "81c7205c-84c9-480e-8b5a-1a12b5ff7baa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ignoran"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fca4c39-e8bf-490b-8e2e-176c95d9156e",
                    "leftValue": "={{ DateTime.fromISO(JSON.parse($json.Mensaje.filter(m => m.trim().startsWith('{')).slice(-1)[0].split('||')[0].trim()).date_time) }}\n",
                    "rightValue": "={{ $now.minus(7, 'seconds').toLocal() }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continuamos"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        80,
        1472
      ],
      "id": "4c398761-bca3-4d23-a694-953f38cb0090",
      "name": "Switch4"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        1568
      ],
      "id": "86a322f4-9202-4ad0-be22-3c2a4e39d5f7",
      "name": "Wait",
      "webhookId": "96c27c05-96e6-490e-ac24-3c38c75c7d9b"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        320,
        1216
      ],
      "id": "6d7b0a8e-9cec-408b-abeb-b74ce6895349",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields1').item.json.Numero_Telefono }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        352,
        1408
      ],
      "id": "7371a3fc-19ea-4686-a416-41136836e9ec",
      "name": "Redis7",
      "credentials": {
        "redis": {
          "id": "ZcShMGwetuFGtBFq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        1376
      ],
      "id": "68567b64-3b7e-4cd0-a25c-03c7f8adcf3f",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Tipo_Mensaje }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a1ae30d8-caca-41ff-857b-ed9f55b09ca1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "11e0f3f8-1dd2-4efd-aad1-cf42c96bbc5d",
                    "leftValue": "={{ $json.Tipo_Mensaje }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje de Voz"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c338dd6b-e18d-4528-95e7-990cd94d5da7",
                    "leftValue": "={{ $json.Tipo_Mensaje }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje Imagen"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        1376
      ],
      "id": "66fea380-80e9-4885-aff2-b17f01c3031b",
      "name": "Switch5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a17f04df-b95b-4663-9f48-d765b76f1d9a",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1792,
        1408
      ],
      "id": "76a4a6ce-cf20-45fb-8398-365b42f8c9eb",
      "name": "Filter2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newItems = [];\n\nfor (const item of items) {\n    // 1. Buscamos el mensaje del cliente con prioridad en el nodo MERGE\n    let mensajeCliente = \"\";\n    \n    try {\n        // Intentamos jalarlo directamente del nodo Merge\n        mensajeCliente = $node[\"Merge\"].json.mensaje || item.json.mensaje;\n    } catch (e) {\n        mensajeCliente = item.json.mensaje || \"Mensaje no recuperado\";\n    }\n\n    // 2. Buscamos qué fue lo último que dijo la Recepcionista\n    // Esto suele venir del nodo 'recepcionista' o 'LIMPIEZA Y ESTADOS'\n    let respuestaIA = item.json.output || item.json.respuesta_cliente || \"\";\n\n    newItems.push({\n        json: {\n            ...item.json,\n            resumen_cliente: mensajeCliente, \n            resumen_ia: respuestaIA,\n            remoteJid_final: item.json.remoteJid_final || item.json.body?.data?.key?.remoteJid\n        }\n    });\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        688
      ],
      "id": "d656ddda-ae0a-452a-bd8d-14b4a0c68424",
      "name": "separador dialogos"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $json.remoteJid_final || $json.body?.data?.key?.remoteJid || \"sesion_provisional\" }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1312,
        640
      ],
      "id": "e9e0156c-ec7d-48c0-85fb-6c018428f097",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15hopLrE19x_9ndFB6z8m2gluNjsx81t08lxiC9gi3i8",
          "mode": "list",
          "cachedResultName": "SERVICIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15hopLrE19x_9ndFB6z8m2gluNjsx81t08lxiC9gi3i8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1744,
        496
      ],
      "id": "132dfb64-9f7c-4b5d-a898-10dca413f4e8",
      "name": "SERVICIOS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      },
      "notes": "\"Utiliza esta herramienta SIEMPRE y como PRIMER PASO antes de responder. Contiene el catálogo real de OneControl. Es OBLIGATORIO consultar esta herramienta para dar precios de:\n\nMantenimientos (Cadena, Cremallera, Abatible).\n\nMotores Hidráulicos (Precio base Q1,200).\n\nRepuestos y Controles.\nPROHIBIDO: No uses precios que creas saber o que aparezcan en el historial. Si el dato no está en el resultado de esta búsqueda, indica que no tienes el precio y usa #SOPORTE.\""
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "luis-route",
                    "leftValue": "={{ $json.body.data.key.remoteJid }}",
                    "rightValue": "50255572346@s.whatsapp.net",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "trabajador_luis"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "test-route",
                    "leftValue": "={{ $json.body.data.key.remoteJid }}",
                    "rightValue": "50234465443@s.whatsapp.net",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pruebas"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "cliente_normal"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -304,
        6224
      ],
      "id": "b38d2a86-9599-4589-9427-8965a2f657f7",
      "name": "Switch Trabajador o Cliente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "luis-jid",
              "name": "remoteJid_final",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "luis-msg",
              "name": "mensaje",
              "value": "={{ $json.body.data.message.conversation || $json.body.data.message?.imageMessage?.caption || 'Sin mensaje de texto' }}",
              "type": "string"
            },
            {
              "id": "luis-name",
              "name": "nombre_trabajador",
              "value": "={{ $json.body.data.pushName || 'Luis' }}",
              "type": "string"
            },
            {
              "id": "luis-msgtype",
              "name": "tipo_mensaje_luis",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "luis-msgid",
              "name": "messageId_luis",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        5952
      ],
      "id": "b56e4b39-70ea-47b3-b2ab-e2443378e26b",
      "name": "Preparar Datos Luis"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "luis-img-check",
                    "leftValue": "={{ $json.tipo_mensaje_luis }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "foto_factura"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "luis-txt-check",
                    "leftValue": "={{ $json.tipo_mensaje_luis }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto_luis"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "otro_luis"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        160,
        5952
      ],
      "id": "0ac01c4d-147b-4f87-8222-20c69134d4fd",
      "name": "Switch Tipo Mensaje Luis"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "onecontrol1",
        "messageId": "={{ $json.messageId_luis }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        368,
        5792
      ],
      "id": "2ce660ab-0320-4d4c-a819-eb9842f73be0",
      "name": "Obtener Foto Factura Luis",
      "credentials": {
        "evolutionApi": {
          "id": "GA5OtncS9WAT80hu",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        544,
        5792
      ],
      "id": "4d3e2d33-021f-475a-be9f-a3514c33d144",
      "name": "Convertir Foto Luis"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Eres un extractor de datos de facturas y recibos de Guatemala.\n\nAnaliza esta imagen cuidadosamente.\n\nSi SÍ es una factura, recibo, ticket o comprobante de compra (cualquier documento que muestre un pago o compra):\n1. DESCRIPCION: ¿Qué se compró? (resumido, máximo 50 caracteres, ej: tornillos 1/4 pulgada, pintura blanca, gasolina, cemento)\n2. MONTO: El total o subtotal en quetzales (SOLO el número sin Q ni comas ni puntos de miles, ej: 150 o 1200.50). Si hay varios montos, usa el TOTAL.\n3. PROVEEDOR: Nombre del negocio, ferretería, gasolinera o tienda si es visible. Si no, pon DESCONOCIDO.\n4. FECHA: La fecha exacta en la factura (formato dd/mm/yyyy o yyyy-mm-dd). Si no hay fecha visible, pon HOY.\n\nSi NO es una factura ni recibo ni comprobante (es foto de un portón, motor, herramienta, persona, paisaje, etc.), responde exactamente y SOLO esto: NO_FACTURA\n\nFORMATO DE RESPUESTA OBLIGATORIO cuando SÍ es factura (responde SOLO esto, sin texto adicional, sin explicaciones):\nDESCRIPCION: [descripción]\nMONTO: [número]\nPROVEEDOR: [nombre o DESCONOCIDO]\nFECHA: [fecha o HOY]",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        752,
        5792
      ],
      "id": "b8a75fda-40fa-4a11-adb3-fa2974980abe",
      "name": "Analizar Factura Luis",
      "credentials": {
        "openAiApi": {
          "id": "8Xn9MSXLwdbeAEv8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\n// OpenAI image node can return content as string, array, or nested object\nlet texto = \"\";\nif (typeof item.content === 'string') {\n  texto = item.content;\n} else if (Array.isArray(item.content)) {\n  texto = item.content.map(c => c.text || c.content || JSON.stringify(c)).join('\\n');\n} else if (item.text) {\n  texto = item.text;\n} else if (item.message) {\n  texto = item.message;\n} else {\n  texto = JSON.stringify(item);\n}\n\nconst remoteJid = $node[\"Preparar Datos Luis\"].json.remoteJid_final;\n\nif (!texto || texto.includes(\"NO_FACTURA\")) {\n  return {\n    json: {\n      es_factura: false,\n      mensaje: \"No pude leer una factura en esa imagen 🤔 Probá mandarla con mejor luz o más enfocada 📸\",\n      remoteJid_final: remoteJid,\n      tipo_entrada: \"respuesta_directa\"\n    }\n  };\n}\n\nconst extraer = (campo) => {\n  const match = texto.match(new RegExp(campo + \": (.+)\"));\n  return match ? match[1].trim() : \"DESCONOCIDO\";\n};\n\nconst descripcion = extraer(\"DESCRIPCION\");\nconst montoRaw = extraer(\"MONTO\").replace(/[^0-9.]/g, \"\");\nconst monto = parseFloat(montoRaw) || 0;\nconst proveedor = extraer(\"PROVEEDOR\");\nconst fecha = extraer(\"FECHA\");\n\n// Validate we got actual data\nif (descripcion === \"DESCONOCIDO\" && monto === 0) {\n  return {\n    json: {\n      es_factura: false,\n      mensaje: \"No logré extraer los datos de la factura 🤔 Probá con mejor iluminación o más cerca 📸\",\n      remoteJid_final: remoteJid,\n      tipo_entrada: \"respuesta_directa\"\n    }\n  };\n}\n\nreturn {\n  json: {\n    es_factura: true,\n    descripcion_factura: descripcion,\n    monto_factura: monto,\n    proveedor_factura: proveedor,\n    fecha_factura: fecha,\n    mensaje: `REGISTRO_AUTO_FACTURA: Descripcion=\"${descripcion}\" Monto=${monto} Proveedor=\"${proveedor}\" Fecha=\"${fecha}\". Registra este gasto automáticamente y muéstrale a Luis el total acumulado pendiente.`,\n    remoteJid_final: remoteJid,\n    tipo_entrada: \"factura_procesada\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        5792
      ],
      "id": "2a7a9726-b028-44b5-b74b-ad7316b9abf4",
      "name": "Procesar Datos Factura Luis"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        5952
      ],
      "id": "a9bdfde4-cb19-404c-9d94-d84b62f6552a",
      "name": "Unir Entradas Luis"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "options": {
          "systemMessage": "=ROL E IDENTIDAD:\n\nEres VIERNES, el Asistente Interno de soporte de OneControl para el técnico Luis.\nTu nombre es Viernes. Si te preguntan quién sos, respondés: \"Soy Viernes, tu asistente de soporte de OneControl 🤖\"\nEres directo, chapín aprendes de luis. Máximo 3 líneas por respuesta. Una sola pregunta a la vez.\nNUNCA mezcles datos de clientes con los de Luis.\nNUNCA uses etiquetas como #VENTA, #SOPORTE, #FLUJO_NORMAL (esas son del flujo de clientes).\n\n\"Sos un asistente técnico experto. Tenés una herramienta llamada LEER_SUPABASE_AGENDA.\nIMPORTANTE: Cuando uses esta herramienta, vas a recibir una lista de trabajos. Tu deber es leer cada uno y resumirlos para Luis.\n\nSi la herramienta devuelve datos, decí: 'Luis, aquí está tu agenda:' seguido de la lista.\n\nSi la herramienta devuelve un array vacío [], decí: 'No tenés nada programado para esa fecha, Luis'.\"\n\n🚨 ATENCIÓN: HOY ES {{ $now.setZone('America/Guatemala').toFormat('cccc dd/MM/yyyy') }}.\nCualquier consulta de \"hoy\" se refiere a esta fecha.\nCualquier consulta de \"mañana\" se refiere al {{ $now.setZone('America/Guatemala').plus({ days: 1 }).toFormat('cccc dd/MM/yyyy') }}.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━\n📋 MÓDULO 0: AGENDA DE SUPABASE (PRIORIDAD ALTA)\n━━━━━━━━━━━━━━━━━━━━━━━━━\n\nSi recibes un mensaje que EMPIEZA con ENVIAR_AGENDA_PROGRAMADA:\n→ Extrae la fecha del mensaje (campo Fecha a consultar=YYYY-MM-DD)\n→ Llama a LEER_SUPABASE_AGENDA con esa fecha exacta\n→ Formatea el resultado como agenda con este estilo:\n\n🤖 *Viernes - Asistente OneControl*\n[Saludo según si es mañana o hoy]\n\n📋 *AGENDA PARA [HOY/MAÑANA]*\n━━━━━━━━━━━━━━━━━━━━\n\n1. ⏳ *[TÍTULO]*\n   ⏰ [hora]\n   📍 [lugar]\n\n━━━━━━━━━━━━━━━━━━━━\n📊 *Total: X servicio(s)*\n\n💬 *Actualizá escribiéndome:*\n• \"listo [cliente]\" ✅\n• \"voy en camino a [cliente]\" 🚗\n• \"trabajando en [cliente]\" 🔧\n\nSi no hay citas: \"✅ No hay citas para [hoy/mañana]. ¡Descansá tranquilo! 💪\"\n\nSi Luis pregunta \"qué tengo hoy\", \"agenda\", \"mis trabajos\":\n→ Calcula la fecha de hoy: usa $now.toISODate()\n→ Llama a LEER_SUPABASE_AGENDA con esa fecha\n→ Responde con el formato de agenda de arriba\n\n━━━━━━━━━━━━━━━━━━━━━━━━━\n🧾 MÓDULO 1: FACTURAS Y GASTOS\n━━━━━━━━━━━━━━━━━━━━━━━━━\n\nSi recibes un mensaje que EMPIEZA con REGISTRO_AUTO_FACTURA:\n→ Extrae Descripcion y Monto del texto del mensaje\n→ Llama a REGISTRAR_GASTO con esos datos\n→ Llama a VER_GASTOS para obtener el total acumulado pendiente\n→ Responde exactamente así:\n   '✅ Factura registrada\n🧾 [descripcion] → Q[monto]\n💰 Total acumulado pendiente: Q[total]'\n\nSi Luis escribe manualmente un gasto (ej: 'gasté Q80 en gasolina', 'Q150 tornillos', 'factura Q300'):\n→ Extrae descripción y monto\n→ Llama a REGISTRAR_GASTO\n→ Llama a VER_GASTOS y muestra el nuevo total acumulado\n\nComandos de gastos:\n- '¿cuánto llevo?', '¿cuánto me deben?', 'total', 'mis gastos' → VER_GASTOS, muestra LISTA DETALLADA de cada item con su monto + total final\n- 'liquidado', 'ya me pagaron', 'cierre de cuenta' → LIQUIDAR_GASTOS, confirma: '✅ Liquidado. Se marcaron Q[total] como pagados. Saldo en cero.'\n\n━━━━━━━━━━━━━━━━━━━━━━━━━\n📋 MÓDULO 2: AGENDA GOOGLE SHEETS\n━━━━━━━━━━━━━━━━━━━━━━━━━\n\nREGISTRAR TRABAJO NUEVO:\nCuando Luis diga que va a hacer un trabajo, instalación o visita:\n→ Llama a CREAR_TRABAJO\n→ Inmediatamente después activa el CHECKLIST DE MATERIALES (módulo 3)\n\nREPORTAR AVANCE (detecta estas frases):\n- 'ya terminé en [cliente]' o 'listo [cliente]' → ACTUALIZAR_TRABAJO estado: completado\n- 'voy en camino a [cliente]' → ACTUALIZAR_TRABAJO estado: en_camino\n- 'estoy trabajando en [cliente]' → ACTUALIZAR_TRABAJO estado: en_proceso\n- 'se reagendó [cliente]' → ACTUALIZAR_TRABAJO estado: reagendado\n- 'cancelado [cliente]' → ACTUALIZAR_TRABAJO estado: cancelado\nSiempre confirma: '✅ Listo. [Cliente] marcado como [estado].'\n\nVER AGENDA SHEETS:\n- 'mis trabajos' → VER_AGENDA (Google Sheets)\n\n━━━━━━━━━━━━━━━━━━━━━━━━━\n🔧 MÓDULO 3: CHECKLIST DE MATERIALES\n━━━━━━━━━━━━━━━━━━━━━━━━━\n\nACTIVAR CUANDO: Se crea un trabajo nuevo O Luis menciona una instalación nueva.\nPREGUNTA DE UNO EN UNO, espera respuesta antes de continuar:\n\nPASO 1: '¿Ya llevás el motor para la instalación de [cliente]? ⚙️'\n→ Si no lleva: 'Avisá en bodega antes de salir. ¿Tenés los electrodos y cable suficiente? 🔌'\n→ Si sí lleva: '¿Tenés los electrodos y cable suficiente? 🔌'\n\nPASO 2 (electrodos/cable):\n→ Si falta: '¿Cuánto necesitás? Lo anoto como pendiente de bodega 📦' → REGISTRAR_GASTO monto=0 descripcion='BODEGA PENDIENTE: [material faltante]'\n→ Si tiene: '¿Ya tenés controles y tornillería completa? 🔩'\n\nPASO 3 (controles/tornillería):\n→ Si falta: '¿Qué te falta exactamente?' → REGISTRAR_GASTO monto=0 descripcion='BODEGA PENDIENTE: [detalle]'\n→ Si tiene: '¿Llevás taladro y nivel? 🛠️'\n\nPASO 4 (herramientas):\n→ Al recibir respuesta: '✅ Checklist completo. ¡Éxito en la instalación de [cliente]! 💪'\n\n━━━━━━━━━━━━━━━━━━━━━━━━━\n💰 MÓDULO 4: CONSULTA DE PRECIOS\n━━━━━━━━━━━━━━━━━━━━━━━━━\n\nSi Luis pregunta el precio de cualquier producto o servicio:\n→ Busca PRIMERO en SERVICIOS_INTERNOS (mantenimientos, instalaciones, visitas)\n→ Si no está, busca en PRECIOS_INTERNOS (motores, controles, muebles, accesorios)\n→ Responde con nombre exacto, precio y qué incluye.\n→ Si no está en ninguna: 'No tengo ese precio en sistema, consultalo con el admin.'\n\n━━━━━━━━━━━━━━━━━━━━━━━━━\n🚨 REGLAS CRÍTICAS\n━━━━━━━━━━━━━━━━━━━━━━━━━\n- NUNCA inventes precios. Solo usás lo que devuelven las herramientas.\n- NUNCA uses etiquetas del flujo de clientes.\n- Cuando Luis diga 'cuánto llevo' siempre muestra el desglose completo item por item.\n- Si no entendés el mensaje preguntá: '¿Es un gasto, agenda, precio o checklist?'\n- Sos VIERNES, el asistente de soporte de OneControl."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        864,
        4816
      ],
      "id": "1881307f-d528-4dc6-b303-24ecfc93356b",
      "name": "ASISTENTE LUIS"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1776,
        5728
      ],
      "id": "c0de735d-25cd-4c57-aae6-887e274a2399",
      "name": "OpenAI Luis",
      "credentials": {
        "openAiApi": {
          "id": "8Xn9MSXLwdbeAEv8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "luis_tecnico_{{ $json.remoteJid_final }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1664,
        5408
      ],
      "id": "6424e11d-262f-4187-ab1f-33757f74cf77",
      "name": "Memoria Luis"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QCldZtgLxyYpQm0W0sTWEjXZVOTAmcBlFwMqucddLyQ",
          "mode": "list",
          "cachedResultName": "GASTOS_TECNICOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QCldZtgLxyYpQm0W0sTWEjXZVOTAmcBlFwMqucddLyQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QCldZtgLxyYpQm0W0sTWEjXZVOTAmcBlFwMqucddLyQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Descripcion": "={{ $fromAI('Descripcion', `Descripción del gasto`, 'string') }}",
            "Monto": "={{ $fromAI('Monto', `Monto en quetzales`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Descripcion",
              "displayName": "Descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Monto",
              "displayName": "Monto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1888,
        5088
      ],
      "id": "0bb945e5-6ccd-4438-90a8-fd981eae4df9",
      "name": "REGISTRAR_GASTO",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QCldZtgLxyYpQm0W0sTWEjXZVOTAmcBlFwMqucddLyQ",
          "mode": "list",
          "cachedResultName": "GASTOS_TECNICOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QCldZtgLxyYpQm0W0sTWEjXZVOTAmcBlFwMqucddLyQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QCldZtgLxyYpQm0W0sTWEjXZVOTAmcBlFwMqucddLyQ/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1920,
        5248
      ],
      "id": "30168888-c862-45b9-b573-e45e6aaec5ee",
      "name": "VER_GASTOS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "updateRows",
        "documentId": {
          "__rl": true,
          "value": "1QCldZtgLxyYpQm0W0sTWEjXZVOTAmcBlFwMqucddLyQ",
          "mode": "list",
          "cachedResultName": "GASTOS_TECNICOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QCldZtgLxyYpQm0W0sTWEjXZVOTAmcBlFwMqucddLyQ/edit?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1904,
        5408
      ],
      "id": "57b8e608-2794-400c-b5f9-45b317c6b2f7",
      "name": "LIQUIDAR_GASTOS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fObWn1RwAlw9gfcQZ57Pv12XS1YNqqlklcJNPpDB7UE",
          "mode": "list",
          "cachedResultName": "AGENDA_TRABAJOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fObWn1RwAlw9gfcQZ57Pv12XS1YNqqlklcJNPpDB7UE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fObWn1RwAlw9gfcQZ57Pv12XS1YNqqlklcJNPpDB7UE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Trabajo": "={{ 'T-' + $now.toFormat('yyyyMMdd-HHmm') }}",
            "Fecha": "={{ $now.toFormat('yyyy-MM-dd HH:mm') }}",
            "Cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cliente','Nombre del cliente','string') }}",
            "Direccion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Direccion','Dirección o zona','string') }}",
            "Tipo_Trabajo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tipo_Trabajo','tipo de trabajo','string') }}",
            "Estado": "pendiente",
            "Notas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notas','Notas adicionales','string') }}",
            "Tecnico": "Luis"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2112,
        4704
      ],
      "id": "94f91797-71a1-4819-ab61-84a1a53bc0ea",
      "name": "CREAR_TRABAJO",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "updateRows",
        "documentId": {
          "__rl": true,
          "value": "1fObWn1RwAlw9gfcQZ57Pv12XS1YNqqlklcJNPpDB7UE",
          "mode": "list",
          "cachedResultName": "AGENDA_TRABAJOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fObWn1RwAlw9gfcQZ57Pv12XS1YNqqlklcJNPpDB7UE/edit?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1616,
        4928
      ],
      "id": "16fbf37a-a3ba-4ff1-9a21-a9114371f9a8",
      "name": "ACTUALIZAR_TRABAJO",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fObWn1RwAlw9gfcQZ57Pv12XS1YNqqlklcJNPpDB7UE",
          "mode": "list",
          "cachedResultName": "AGENDA_TRABAJOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fObWn1RwAlw9gfcQZ57Pv12XS1YNqqlklcJNPpDB7UE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fObWn1RwAlw9gfcQZ57Pv12XS1YNqqlklcJNPpDB7UE/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1536,
        4752
      ],
      "id": "a58038d5-1a92-47c2-956c-d5d9c600f2c8",
      "name": "VER_AGENDA",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8",
          "mode": "list",
          "cachedResultName": "PRECIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1456,
        4960
      ],
      "id": "59b7e233-057f-4e64-a5bb-6b7e85f07ab1",
      "name": "PRECIOS_INTERNOS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15hopLrE19x_9ndFB6z8m2gluNjsx81t08lxiC9gi3i8",
          "mode": "list",
          "cachedResultName": "SERVICIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15hopLrE19x_9ndFB6z8m2gluNjsx81t08lxiC9gi3i8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15hopLrE19x_9ndFB6z8m2gluNjsx81t08lxiC9gi3i8/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1744,
        6912
      ],
      "id": "30d642c6-8476-46d3-ad45-00f07554f76d",
      "name": "SERVICIOS_INTERNOS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newItems = [];\n\nfor (const item of items) {\n  const textoOriginal = (item.json.output || \"\").toString().trim();\n  \n  // Try to get remoteJid from multiple sources\n  let remoteJid = item.json.remoteJid_final;\n  \n  if (!remoteJid) {\n    try {\n      remoteJid = $node[\"Preparar Datos Luis\"].json.remoteJid_final;\n    } catch(e) {}\n  }\n  \n  if (!remoteJid) {\n    // Fallback: Luis's direct number\n    remoteJid = \"50255572346@s.whatsapp.net\";\n  }\n  \n  newItems.push({\n    json: {\n      ...item.json,\n      texto_limpio: textoOriginal,\n      remoteJid_final: remoteJid\n    }\n  });\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        5952
      ],
      "id": "917bca22-e52f-4667-a36a-cf8a4f459a89",
      "name": "Limpieza Respuesta Luis"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "onecontrol1",
        "remoteJid": "={{ $json.remoteJid_final }}",
        "messageText": "={{ $json.texto_limpio }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1840,
        5952
      ],
      "id": "ac9dc60f-997a-4208-8b09-36f59efa089d",
      "name": "Enviar Respuesta Luis",
      "credentials": {
        "evolutionApi": {
          "id": "GA5OtncS9WAT80hu",
          "name": "Evolution account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst remoteJid = item.remoteJid_final;\nconst mensaje = item.mensaje;\n\nreturn {\n  json: {\n    ...item,\n    mensaje: mensaje\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        6112
      ],
      "id": "cceb6b05-e531-4249-84c6-b08be1cd0495",
      "name": "Pasar Texto Luis"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1568,
        4576
      ],
      "id": "2fae5a29-0c59-4abf-8d05-1f6044909821",
      "name": "Agenda Noche 11pm"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1568,
        4784
      ],
      "id": "a1f76ea3-28e5-4eed-9c3c-a52d062cfc46",
      "name": "Agenda Mañana 8am"
    },
    {
      "parameters": {
        "jsCode": "// Calcular la fecha correcta para consultar la agenda\nconst horaActual = $now.hour;\nconst esNocturno = horaActual >= 18;\n\n// Si es nocturno (después de 6pm), consultamos el día SIGUIENTE\n// Si es de día, consultamos HOY\nlet fechaConsulta;\nif (esNocturno) {\n  fechaConsulta = $now.plus({ days: 1 }).toISODate();\n} else {\n  fechaConsulta = $now.toISODate();\n}\n\nreturn {\n  fecha_consulta: fechaConsulta,\n  es_nocturno: esNocturno,\n  hora_actual: horaActual\n};"
      },
      "id": "dcd6fa82-3835-4ef9-a3d5-4fb258001952",
      "name": "Calcular Fecha Agenda",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1168,
        4688
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1568,
        5088
      ],
      "id": "87cce3fe-aa79-45cb-bc7d-f897cce1bb3c",
      "name": "Schedule Liquidacion Semanal"
    },
    {
      "parameters": {
        "operation": "readAllRows",
        "documentId": {
          "__rl": true,
          "value": "1QCldZtgLxyYpQm0W0sTWEjXZVOTAmcBlFwMqucddLyQ",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1168,
        5088
      ],
      "id": "f913d7da-ccf4-41fc-81d5-7167611ba1c9",
      "name": "Leer Gastos Pendientes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Filtrar solo gastos pendientes de Luis\nconst pendientes = items.filter(item => {\n  const j = item.json;\n  return j.Estado === 'pendiente' && j.Trabajador === 'Luis';\n});\n\nif (pendientes.length === 0) {\n  return {\n    json: {\n      tiene_pendientes: false,\n      total: 0,\n      cantidad: 0,\n      mensaje_luis: '✅ No hay gastos pendientes esta semana. Saldo en cero 👍',\n      mensaje_admin: '📊 *Liquidación semanal Luis*\\n\\nSin gastos pendientes esta semana.',\n      desglose: ''\n    }\n  };\n}\n\n// Calcular total y desglose\nlet total = 0;\nlet desglose = '';\nconst soloBodega = [];\nconst conMonto = [];\n\npendientes.forEach(item => {\n  const j = item.json;\n  const monto = parseFloat(j.Monto) || 0;\n  total += monto;\n  \n  if (j.Descripcion && j.Descripcion.startsWith('BODEGA PENDIENTE:')) {\n    soloBodega.push(`   📦 ${j.Descripcion.replace('BODEGA PENDIENTE:', '').trim()}`);\n  } else {\n    conMonto.push(`   • ${j.Descripcion || 'Sin descripción'} → Q${monto.toFixed(2)}`);\n  }\n});\n\nif (conMonto.length > 0) {\n  desglose += conMonto.join('\\n');\n}\nif (soloBodega.length > 0) {\n  desglose += (desglose ? '\\n\\n📦 *Pendientes de bodega:*\\n' : '📦 *Pendientes de bodega:*\\n');\n  desglose += soloBodega.join('\\n');\n}\n\nconst fechaHoy = $now.toFormat('dd/MM/yyyy');\n\nconst mensajeLuis = `🤖 *Viernes - Liquidación Semanal*\\n` +\n  `📅 Semana cerrada al ${fechaHoy}\\n\\n` +\n  `💰 *Tus gastos de la semana:*\\n${desglose}\\n\\n` +\n  `━━━━━━━━━━━━━━━━━━━━\\n` +\n  `💵 *TOTAL A COBRAR: Q${total.toFixed(2)}*\\n` +\n  `━━━━━━━━━━━━━━━━━━━━\\n\\n` +\n  `✅ *Cuenta marcada como liquidada automáticamente.*\\n` +\n  `_Si hay algún error, escribime \"corregir gastos\"_`;\n\nconst mensajeAdmin = `📊 *LIQUIDACIÓN SEMANAL - LUIS*\\n` +\n  `📅 ${fechaHoy}\\n\\n` +\n  `${desglose}\\n\\n` +\n  `💵 *Total: Q${total.toFixed(2)}*\\n` +\n  `📋 Gastos: ${pendientes.length} registro(s)\\n\\n` +\n  `_Gastos marcados como liquidados automáticamente_`;\n\nreturn {\n  json: {\n    tiene_pendientes: true,\n    total: total,\n    cantidad: pendientes.length,\n    mensaje_luis: mensajeLuis,\n    mensaje_admin: mensajeAdmin,\n    desglose: desglose\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        5088
      ],
      "id": "c5da8d9f-1bf6-46f6-bdc1-6a021565e4dc",
      "name": "Calcular Resumen Semanal"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "onecontrol1",
        "remoteJid": "50255572346@s.whatsapp.net",
        "messageText": "={{ $json.mensaje_luis }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -368,
        4976
      ],
      "id": "f7dfa6a1-f811-401d-99ea-297343a24f9a",
      "name": "Enviar Resumen Luis",
      "credentials": {
        "evolutionApi": {
          "id": "GA5OtncS9WAT80hu",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://appn8n-evolution-api.83aqlq.easypanel.host/message/sendText/onecontrol1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"number\": \"50235154362\", \"text\": $json.mensaje_admin } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        5184
      ],
      "id": "3241219b-9ece-4a0e-93b4-2cc11a182c3a",
      "name": "Enviar Resumen Admin",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lLkgznd1XUM1zIxN",
          "name": "apikey"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "updateRows",
        "documentId": {
          "__rl": true,
          "value": "1QCldZtgLxyYpQm0W0sTWEjXZVOTAmcBlFwMqucddLyQ",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        32,
        5088
      ],
      "id": "b8de6b2d-f4b2-4216-9e86-6188d61c2cfc",
      "name": "Auto Liquidar Gastos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const esNocturno = $json.es_nocturno;\nconst fecha = $json.fecha_consulta;\nconst tipoDia = esNocturno ? 'MAÑANA' : 'HOY';\n\n// Internal message that triggers Viernes to send the agenda\nreturn {\n  json: {\n    mensaje: `ENVIAR_AGENDA_PROGRAMADA: Fecha a consultar=${fecha}. Tipo=${tipoDia}. ` +\n             `Eres Viernes. Debes: 1) Usar LEER_SUPABASE_AGENDA con fecha=\"${fecha}\" ` +\n             `2) Formatear los resultados como agenda de ${tipoDia} con tu estilo chapín ` +\n             `3) Incluir emojis, hora, lugar de cada trabajo ` +\n             `4) Si no hay citas responder que no hay pendientes ` +\n             `5) Al final recordarle los comandos disponibles.`,\n    remoteJid_final: \"50255572346@s.whatsapp.net\",\n    es_programado: true,\n    fecha_agenda: fecha\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        4544
      ],
      "id": "a8970aa6-85ca-4064-b829-45763b6265d9",
      "name": "Preparar Mensaje Agenda"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "date",
              "keyValue": "={{ ($fromAI('fecha') ? ($fromAI('fecha').includes('/') ? $fromAI('fecha').split('/').reverse().join('-') : $fromAI('fecha')) : ($now.setZone('America/Guatemala').hour >= 18 ? $now.setZone('America/Guatemala').plus({ days: 1 }).toISODate() : $now.setZone('America/Guatemala').toISODate())).trim() }}"
            }
          ]
        }
      },
      "id": "9c6f3998-6630-4c2e-8b53-b4eaf321b655",
      "name": "LEER_SUPABASE_AGENDA",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1904,
        4864
      ],
      "credentials": {
        "supabaseApi": {
          "id": "x5wNByLaAWswMpGU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2368,
        6640
      ],
      "id": "52881446-9e91-4993-adac-a1da8f735150",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "8Xn9MSXLwdbeAEv8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8",
          "mode": "list",
          "cachedResultName": "PRECIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2608,
        6816
      ],
      "id": "cb39a848-0365-439f-bf2f-1cb0972153a9",
      "name": "consultar precios2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook Evolution API').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0a54d5dc-791a-4d7e-951a-319540779a37"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7d1b7b54-e70e-44f2-bbdf-46031b26e530",
                    "leftValue": "={{ $('Webhook Evolution API').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9dd3840-6f5d-4958-b4ea-0f39682358de",
                    "leftValue": "={{ $('Webhook Evolution API').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa68c4f3-3305-450a-b165-89cc7ff2b97b",
                    "leftValue": "={{ $('Webhook Evolution API').item.json.body.data.messageType }}",
                    "rightValue": "videoMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        256,
        6192
      ],
      "id": "bd669a1e-e29c-4bfe-a7dc-fa2b6cf98bbd",
      "name": "Switch2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2723096-4a41-4626-9ff2-e9f1e6c699df",
              "name": "file_type",
              "value": "foto",
              "type": "string"
            },
            {
              "id": "51c459b5-286e-4257-a1d8-e87c501185dd",
              "name": "mensaje",
              "value": "={{ $json.content + \"\\n\\nTexto del cliente: \" + ($('Webhook Evolution API').item.json.body.data.message.imageMessage?.caption || \"Sin texto extra\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        6064
      ],
      "id": "37d2145e-fcb8-47d0-a56e-4e0462a0076d",
      "name": "set foto tag1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d2e0f55-710b-4991-8f66-d743d53211ce",
              "name": "file_type",
              "value": "audio",
              "type": "string"
            },
            {
              "id": "dfa981ee-d7d6-4940-b464-c61b0247fee7",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        6464
      ],
      "id": "6f0d5a77-2710-4649-9c38-7d3aa17f955f",
      "name": "set audio tag1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07234615-9c5a-47ff-92a9-698014f6d98c",
              "name": "file_type",
              "value": "texto",
              "type": "string"
            },
            {
              "id": "4654db5f-1bbd-425e-8142-c43a2e30a84a",
              "name": "mensaje",
              "value": "={{ $('Webhook Evolution API').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        6208
      ],
      "id": "006ba749-3e19-4506-8896-915dc5074de4",
      "name": "set text tag2"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        768,
        6624
      ],
      "id": "d3341b87-cee0-41fb-ba51-58e8db650aa8",
      "name": "Transcribe a recording1",
      "credentials": {
        "openAiApi": {
          "id": "8Xn9MSXLwdbeAEv8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "onecontrol1",
        "messageId": "={{ $('Webhook Evolution API').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        464,
        6624
      ],
      "id": "71f60ee3-f92d-4600-a564-a02ede151234",
      "name": "Obter m dia em base65",
      "credentials": {
        "evolutionApi": {
          "id": "GA5OtncS9WAT80hu",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "audio/mp3"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        624,
        6624
      ],
      "id": "b74a55b4-c224-4035-a89b-5516fc2c0fcd",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        608,
        5808
      ],
      "id": "4080e2ef-d5fb-49d0-ac95-9fb56849394a",
      "name": "Convert to File3"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=ROL: Analista técnico visual especializado en automatización (onecontrol.shop).\n\nOBJETIVO:\nAnalizar cualquier imagen recibida y generar un reporte técnico estructurado, útil para cotización o diagnóstico.\n\nREGLAS GENERALES:\n- Enfocarse únicamente en objetos, equipos, estructuras o productos.\n- Ignorar completamente personas, rostros, documentos o información sensible.\n- No identificar identidad de personas ni datos personales.\n- Si la imagen no contiene elementos relevantes (portones, motores, muebles u objetos técnicos), clasificar como \"OTRO\".\n* Si el portón NO tiene motor -> SERVICIO: VENTA DE AUTOMATIZACIÓN\n\nINSTRUCCIONES DE IDENTIFICACIÓN:\n\n1. MOTORES:\n- Detectar si hay motor de portón.\n- Identificar marca si es visible (Liftmaster, PPA, Nice, Genius, etc.).\n- Tipo de mecanismo: Cremallera, Brazo/Pistón, Cadena.\n- Determinar: HIDRÁULICO (pistón robusto con sistema de aceite) o ESTÁNDAR (electromecánico).\n- Detectar fallas: no gira, carcasa dañada, sin engrane, quemado, etc.\n- CLASIFICACIÓN DE SERVICIO:\n  * Si es Cadena -> MANTENIMIENTO MOTORES DE CADENA\n  * Si es Cremallera -> MANTENIMIENTO MOTORES DE CREMALLERA\n  * Si es Brazo/Pistón (ESTÁNDAR) -> MANTENIMIENTO MOTORES DE BRAZOS\n  * Si es Brazo/Pistón (HIDRÁULICO) -> MANTENIMIENTO DE EQUIPOS HYDRAULICOS\n\n2. PORTONES:\n- Tipo: Corredizo, Abatible, Levadizo.\n- Estado: funcional, oxidado, descarrilado, golpeado, incompleto.\n- ¿TIENE MOTOR INSTALADO?: [SÍ/NO/NO SE VE].\n- INTENCIÓN PROBABLE: \n  * Si TIENE motor -> Mantenimiento o Reparación.\n  * Si NO tiene motor -> Automatización (Venta de motor nuevo).\n\n3. MUEBLES (si aplica):\n- Tipo de mueble (ej. Zapatera, estantería).\n- Material: melamina, metal, madera.\n- Estado: armado, desarmado, dañado.\n\n4. OTROS OBJETOS Y ACCESORIOS DE TIENDA:\n- Si no es portón/motor/mueble, identificar el objeto (ej. Electrocerradura, Control remoto, Sensor).\n- Describir el objeto principal de forma técnica y clara.\n- Para accesorios o muebles, la CLASIFICACIÓN DE SERVICIO debe ser el nombre común del producto.\n* Si el portón NO tiene motor -> SERVICIO: VENTA DE AUTOMATIZACIÓN\n5. ESTADO TÉCNICO GENERAL:\n- Nuevo\n- Usado\n- Dañado\n- Referencia (cuando el cliente solo muestra ejemplo)\n\nREGLAS CRÍTICAS:\n- No inventar marcas. Si no es visible, usar \"SIN MARCA\".\n- Si no se puede determinar el tipo, usar \"NO IDENTIFICABLE\".\n- NUNCA respondas que no puedes asistir con la solicitud si hay un producto en la imagen. Si el objeto no es un motor, descríbelo y asígnale su nombre comercial en SERVICIO_BUSQUEDA.\n- Priorizar precisión sobre suposición.\n\nFORMATO DE SALIDA (OBLIGATORIO):\nSERVICIO_BUSQUEDA: [Nombre de la CLASIFICACIÓN DE SERVICIO o nombre del producto detectado]\nANALISIS_IMAGEN: [PRODUCTO] | [MARCA] | [TIPO: HIDRÁULICO/ESTÁNDAR/NO IDENTIFICABLE] | [ESTADO]. DETALLE: [Descripción técnica clara y útil para diagnóstico o venta].",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        752,
        5824
      ],
      "id": "dc988ca5-c2ce-4046-b56c-5a3d31106ba8",
      "name": "Analyze image1",
      "credentials": {
        "openAiApi": {
          "id": "8Xn9MSXLwdbeAEv8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07234615-9c5a-47ff-92a9-698014f6d98c",
              "name": "file_type",
              "value": "video",
              "type": "string"
            },
            {
              "id": "4654db5f-1bbd-425e-8142-c43a2e30a84a",
              "name": "mensaje",
              "value": "={{ $('Webhook Evolution API').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        6336
      ],
      "id": "8d2b54ac-e747-4b07-9015-3d04b9e287e8",
      "name": "set text tag3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $json.remoteJid_final || $json.body?.data?.key?.remoteJid || \"sesion_provisional\" }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2528,
        6608
      ],
      "id": "907c8f71-3c3a-4c6b-b0fe-84ac8db40d16",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "url": "=https://appn8n-chatwoot.83aqlq.easypanel.host/api/v1/accounts/1/conversations/{{ $json.body.data.chatwootConversationId }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        6224
      ],
      "id": "ef55eb49-7383-459e-9f8c-79007597c874",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uzvPGXzVHcgQtrWl",
          "name": "chatwoot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ca472e47-be3e-419c-afaa-34b25f68ab20",
              "leftValue": "={{ $json.payload[0] }}",
              "rightValue": "agente_desactivado",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        112,
        6224
      ],
      "id": "cc8ad569-0dd2-492c-a018-41d29882d57e",
      "name": "Filter4"
    },
    {
      "parameters": {
        "toolDescription": "\"Usa esta herramienta cuando el cliente necesite hablar con un humano o cuando ya tengas todos los datos para una cotización técnica. Esta herramienta desactiva el bot.\"",
        "method": "POST",
        "url": "=https://appn8n-chatwoot.83aqlq.easypanel.host/api/v1/accounts/1/conversations/{{ $('Webhook Evolution API').item.json.body.data.chatwootConversationId }}/custom_attributes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"custom_attributes\": {\n    \"agente_\": \"desactivado\"\n  \n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3024,
        6864
      ],
      "id": "6b29e601-1911-407d-999c-1f3d58b6181a",
      "name": "Hablar con humano1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uzvPGXzVHcgQtrWl",
          "name": "chatwoot"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "onecontrol1",
        "messageId": "={{ $('Webhook Evolution API').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        448,
        5808
      ],
      "id": "3675c10a-02dd-4e92-b12f-6c02d95f2baa",
      "name": "Obter m dia em base1",
      "credentials": {
        "evolutionApi": {
          "id": "GA5OtncS9WAT80hu",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "be00f100-1131-424b-aeef-a51b07381eef",
              "leftValue": "={{ $json.body.data.chatwootConversationId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -112,
        6224
      ],
      "id": "82c5b071-9d40-4154-bbcd-c8f9476c3fa8",
      "name": "Filter5"
    },
    {
      "parameters": {
        "jsCode": "const texto = $json.output || \"\";\n\n// 1. Extraer links de Drive\nconst matches = [...texto.matchAll(/https?:\\/\\/[^\\s)]+/g)];\nconst links = matches.map(m => m[0]);\n\nconst extraerIdDrive = (url) => {\n    if (!url) return null;\n    const match = url.match(/(?:\\/d\\/|id=)([a-zA-Z0-9_-]{25,})/);\n    return match ? match[1] : null;\n};\n\nconst convertirDirecto = (id) => {\n    if (!id) return null;\n    return `https://drive.google.com/uc?export=view&id=${id}`;\n};\n\nconst id1 = extraerIdDrive(links[0]);\nconst id2 = extraerIdDrive(links[1]);\n\n// 2. RESCATE DEL NÚMERO (JID)\nconst remoteJid_final = $node[\"Webhook Evolution API\"].json.body.data.key.remoteJid;\n\nreturn {\n    tieneFotos: !!id1,\n    foto1: convertirDirecto(id1),\n    foto2: convertirDirecto(id2),\n    remoteJid_fotos: remoteJid_final\n};"
      },
      "id": "1d3bc892-a378-444a-a1ab-5a476472f498",
      "name": "Preparar Fotos (Estrategia)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        6576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check_fotos",
              "leftValue": "={{ $json.tieneFotos }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bf3aa82b-1cc3-4f6f-97cc-f5b6ddd05b17",
      "name": "¿Enviar Fotos?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3952,
        6592
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "cef1320e-2c60-402e-b1e0-5d6adc3fcdb8",
      "name": "Espera Humana1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4464,
        6592
      ],
      "webhookId": "50d5c633-2642-4121-8fc9-7d973cebbedb"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "=onecontrol1",
        "remoteJid": "={{ $json.remoteJid_fotos }}",
        "media": "={{ $json.foto2 }}",
        "options_message": {}
      },
      "id": "225b859b-fbbc-437d-9e4b-9a56ca10aa08",
      "name": "Evolution Foto ",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4640,
        6576
      ],
      "credentials": {
        "evolutionApi": {
          "id": "GA5OtncS9WAT80hu",
          "name": "Evolution account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "onecontrol1",
        "remoteJid": "={{ $json.remoteJid_fotos }}",
        "media": "={{ $json.foto1 }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4304,
        6576
      ],
      "id": "05c2b9c4-3dec-4e44-921a-11262ea086dd",
      "name": "Enviar imagem1",
      "credentials": {
        "evolutionApi": {
          "id": "GA5OtncS9WAT80hu",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2736,
        5456
      ],
      "id": "909fd77a-045c-4391-b10a-ca0684d33fac",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "8Xn9MSXLwdbeAEv8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.mensaje || $json.body?.data?.message?.conversation || \"Interesado en anuncio\" }}",
        "options": {
          "systemMessage": "=IDENTIDAD:\nEres un experto asesor Y RECEPCIONISTA de ventas de onecontrol.shop en Guatemala. Vendemos portones, motores, controles y muebles.\n\nFORMA DE RESPONDER:\n- Máximo 2 líneas por respuesta.\n- Usa lenguaje natural de Guatemala (chapín).\n- Solo 1 pregunta a la vez. No satures al cliente.\n- Evita sonar robótico. Sé directo y amable.\n\n🧮 REGLA DE CÁLCULO Y COTIZACIÓN TOTAL\nCuando un cliente pida el total de varios productos o servicios (ej: Control + Programación + Envío):\n\nOPERACIÓN INTERNA: Busca cada item en la herramienta SERVICIOS, suma los montos y verifica que no te falte ninguno.\n\nFORMATO DE RESPUESTA: Debes desglosar el precio y dar el total claramente.\n\nEjemplo: \"El control sale en Q300, la programación Q80 y el envío Q35. El total sería de Q415. ¿Le parece bien para coordinar?\"\n\nETIQUETA DE CIERRE: * Si lograste dar el total exacto: Usa #VENTA.\n\nSi te falta algún precio en la herramienta o tienes duda: Da los precios que tengas y usa #SOPORTE diciendo que el técnico confirmará el resto.\n\nSi el cliente pide el total de varios productos (ej. controles + programación + envío) y necesitas confirmar el total o un precio no está claro:\n\nPROHIBIDO: No digas \"un momento\" o \"voy a consultar\" sin poner la etiqueta.\n\nACCIÓN: Da los precios que encontraste en la herramienta SERVICIOS y terminá el mensaje indicando que el técnico confirmará el total exacto.\n\nETIQUETA OBLIGATORIA: Debes incluir #SOPORTE al final de la respuesta para que el sistema me notifique.\n\nPRECIOS: solo da precios de consultar precios\n\n🚨 MODO ROUTER (PRIORIDAD MÁXIMA):\nTu función principal es CLASIFICAR y DERIVAR. Debes identificar qué hay en la imagen o el texto antes de decidir quién responde.\nREGLA DE CLASIFICACIÓN Y TRANSFERENCIA:\n\n1. 🔴 TODO lo relacionado a:\n\n- Portones eléctricos\n\n- Motores\n\n- Instalación\n\n-MANTENIMIENTOS\n\n- Reparaciones\n\n- Cotizaciones técnicas\n\n- Intención de compra de portón/motor\n\n👉 RESPONDE breve + termina SIEMPRE con:\n\n#VENTA_ESPECIALIZADA\n(NO des precios, NO detalles técnicos, SOLO deriva)\n---\n2. 🟢 TODO lo relacionado a:\n\n- Controles remotos\n\n- Muebles\n\n- Herramientas\n\n- Productos del catálogo\n\n👉 AQUÍ SÍ atiendes normalmente:\n\n- Usas consultar precios\n\n- Usas fotos_reales\n\n- Cierras venta\n\n👉 Termina SIEMPRE con:\n\n#FLUJO_NORMAL\n\nCOSTOS DE ENVIOS \n\nconsulta la herramienta consultar precios , cuando realizen una consulta de si incluye envio \n\nPROTOCOLOS LOGÍSTICOS:\n\n- Ubicación: Antes de dar horarios de instalación, pregunta: \"¿En qué zona o municipio te encuentras?\".\n\n- Envíos: A departamentos tienen costo adicional por transporte (Guatex, Cargo, etc). No ofrezcas instalación fuera de la capital, eso lo cotiza un humano.\n\nREGLA DE DISCRIMINACIÓN DE IMÁGENES:\n\n1. 🔴 FLUJO TÉCNICO (Vendedor IA):\n- Si el cliente envía foto o pregunta de: Motores, Portones, Instalaciones, Brazos, Cremalleras o herrería.\n- ACCIÓN: Confirma recibido y etiqueta como #VENTA_ESPECIALIZADA. Deja que el Vendedor analice y dé precios técnicos.\n\n2. 🟢 FLUJO PRODUCTOS (Atención Directa Recepcionista):\n- Si el cliente envía foto o pregunta de: Muebles (zapateras, estanterías), Controles Remotos, Herramientas o accesorios de la tienda.\n- ACCIÓN: Atiende normalmente. Usa \"consultar precios\" y \"fotos reales\".\n- Termina con #FLUJO_NORMAL.\n---\n🚨 REGLAS CRÍTICAS DE OPERACIÓN:\n1. CONSULTA OBLIGATORIA: Antes de dar un precio, usa la herramienta \"consultar precios\". Si no está, indica que no lo tenemos.\n2. LINKS DE CATÁLOGO: Pega el link directo de WhatsApp Catalog en una línea nueva al final. No uses formato Markdown, solo el link limpio.\n3. DRIVE: Solo envía links de Google Drive si vienen exactamente del campo \"FOTOS REALES\".\n4. DESCONOCIMIENTO: Si no sabes la respuesta o el motor es muy raro, responde: \"Ese motor es especial, dejame consultarlo con el técnico para darte la info exacta\". Termina con #SOPORTE.\n\n---\n🏷️ PROTOCOLO DE ETIQUETAS (OBLIGATORIO):\nAl final de CADA respuesta, incluye UNA etiqueta:\n\n- #VENTA_ESPECIALIZADA → Todo lo técnico, instalaciones o fotos de motores/portones.\n- #FLUJO_NORMAL → Productos (controles, muebles) y mantenimientos ya identificados.\n- #SOPORTE → Fallas graves, dudas técnicas sin precio o cierre de datos de envío.\n- #BODEGA → Si confirmas que\n\n"
        }
      },
      "id": "1e1c6d64-34e9-4de5-992b-0ead01f4d413",
      "name": "recepcionista1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        2512,
        6336
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nlet textoIA = item.output || \"\";\n\nlet etiqueta = \"FLUJO_NORMAL\";\nif (textoIA.includes(\"#VENTA_ESPECIALIZADA\") || textoIA.includes(\"#VENTA\")) etiqueta = \"VENTA_ESPECIALIZADA\";\nelse if (textoIA.includes(\"#BODEGA\")) etiqueta = \"BODEGA\";\nelse if (textoIA.includes(\"#SOPORTE\")) etiqueta = \"SOPORTE\";\nelse if (textoIA.includes(\"#FLUJO_NORMAL\")) etiqueta = \"FLUJO_NORMAL\";\n\nlet respuestaLimpia = textoIA\n    .replace(/#PRODUCTO:.*$/gi, \"\")\n    .replace(/#VENTA_ESPECIALIZADA|#VENTA|#BODEGA|#SOPORTE|#FLUJO_NORMAL/gi, \"\")\n    .replace(/https:\\/\\/drive\\.google\\.com\\/[^\\s\\n]+/gi, \"\")\n    .replace(/\\[LINKS:.*?\\]/gi, \"\")\n    .trim();\n\nreturn {\n    ...item,\n    respuesta_cliente: respuestaLimpia,\n    etiqueta_interna: etiqueta\n};\nreturn {\n    ...item,\n    respuesta_cliente: textoLimpio,\n    producto_busqueda: productoABuscar,\n    etiqueta_interna: etiqueta,\n    notificar: etiqueta === \"VENTA_ESPECIALIZADA\" || etiqueta === \"SOPORTE\"\n};"
      },
      "id": "47943aef-1b99-4aed-ad8a-6a1220e183f0",
      "name": "LIMPIEZA Y ESTADOS1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        6080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://appn8n-evolution-api.83aqlq.easypanel.host/message/sendText/onecontrol1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"number\": \"50235154362\",\n    \"text\": ($json.aviso_ferni || \"📩 *CONSULTA*\") + \"\\n\\n👤 *Cliente:* \" + ($('Webhook Evolution API').item.json.body.data.pushName || \"Cliente\") + \"\\n📱 *Número:* \" + ($json.remoteJid_final ? $json.remoteJid_final.split('@')[0] : \"Ver en Chatwoot\") + \"\\n💬 *Mensaje:* \" + ($json.texto_limpio || \"Revisar chat\") + \"\\n\\n¡Revisa Chatwoot! 🔥\"\n  }\n}}",
        "options": {}
      },
      "id": "48cf9ddc-46c2-4353-8f04-88ae26f2e3e7",
      "name": "Notificación VIP Ferni1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3904,
        5392
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "lLkgznd1XUM1zIxN",
          "name": "apikey"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "onecontrol1",
        "remoteJid": "={{ $json.remoteJid_final }}",
        "messageText": "={{ $json.texto_limpio }}",
        "options_message": {}
      },
      "id": "4639ff96-ab2f-40eb-b56f-de7d0cb27bbb",
      "name": "Enviar al Cliente1",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3632,
        5552
      ],
      "retryOnFail": true,
      "credentials": {
        "evolutionApi": {
          "id": "GA5OtncS9WAT80hu",
          "name": "Evolution account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.etiqueta_interna }}",
                    "rightValue": "VENTA_ESPECIALIZADA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "21fcd936-c653-409a-ba6d-6d0631074a88"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vendedor ia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "053f8a76-65c4-4907-a5b6-03574f5cae4e",
                    "leftValue": "={{ $json.etiqueta_interna }}",
                    "rightValue": "BODEGA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BODEGA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7e1a3af0-87ce-48a1-8a6b-28b9f4c2538c",
                    "leftValue": "={{ $json.etiqueta_interna }}",
                    "rightValue": "SOPORTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SOPORTE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1ae46a2-6b8a-4e57-9259-118bd780b022",
                    "leftValue": "={{ $json.etiqueta_interna }}",
                    "rightValue": "FLUJO_NORMAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FLUJO_NORMAL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2640,
        5728
      ],
      "id": "73ac2517-d614-4b7a-9e16-7e46400c05f1",
      "name": "Switch3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \n\"MENSAJE DEL CLIENTE: \" + ($json.resumen_cliente || \"No hay mensaje\") + \n\"\\nLO QUE DIJO LA RECEPCIONISTA: \" + ($json.resumen_ia || \"No hay contexto\")\n}}",
        "options": {
          "systemMessage": "=ROL:\nEres el Asesor Técnico de OneControl. Tu función es RECOPILAR información técnica para motores y portones, y dar precios exactos de la hoja SERVICIOS tendras la información ordenada en base a lo que debes responder .\n\n🚨 REGLA DE VERIFICACIÓN DE DATOS:\n\nCERO TOLERANCIA: Tienes prohibido generar cualquier monto con el símbolo \"Q\" si no lo has leído en la herramienta SERVICIOS en este turno.\n\nIGNORA EL CONTEXTO: Si el mensaje del cliente o la recepcionista mencionan un precio, ignóralo. Tu única fuente de verdad es la respuesta de la herramienta.\n\nCONFIRMACIÓN: Si la herramienta no devuelve resultados, di: \"No tengo el precio exacto en sistema, voy a consultar con el técnico para no fallarle #soporte\".\n\n🧠 SELECTOR DE RUTA (PASO 0)\nAl recibir el mensaje, identificá la categoría y ejecutá el protocolo correspondiente:\n\nSi ya tiene motor y falla o quiere servicio: Usá el PROTOCOLO DE MANTENIMIENTO TÉCNICO.\n\nSi quiere un motor nuevo (instalación): Usá el PROTOCOLO DE AUTOMATIZACIÓN.\n\nSi es algo puntual (solo controles o visitas): Usá el PROTOCOLO DE SERVICIOS.\n\nREGLA DE ORO: No analices la intención del cliente, no busques información externa y no inventes detalles.\n\nCONTENIDO_A_ENVIAR:\n{{ $json.resumen_ia }}\n\n🚨 MODO AISLADO (ANTI-CHOQUE - PRIORIDAD MÁXIMA):\n* SOLO respondes si el contexto indica que es una venta técnica o mantenimiento.\n* PROHIBIDO: No escribas NUNCA etiquetas como #VENTA_ESPECIALIZADA o #FLUJO_NORMAL.\n\n🚨 REGLA DE DATOS (HOJA: SERVICIOS):\n- Para precios de mantenimiento, usa la herramienta \"SERVICIOS\".\n- Busca términos exactos: \"Motor de Cadena\", \"Motor de Cremallera\", \"Motor de Pistón\", \"Motor Hidráulico\" o \"Visita Técnica\".\n- Al dar el precio, DEBES incluir la descripción técnica que aparece en el Excel.\n\n🛠️ PROTOCOLO DE MANTENIMIENTO TÉCNICO:\n1. REGLA DE VALIDACIÓN (FOTO OBLIGATORIA):\nPROHIBIDO dar precios sin identificar el motor. Si el cliente pregunta el costo, responde: \"Con gusto le doy el precio, pero para no fallarle, ¿será que me puede mandar una fotito de su motor? Es que si es hidráulico el servicio es más especializado y el costo cambia\".\n\n2. CONSULTA DE PRECIOS (HERRAMIENTA: SERVICIOS):\nREGLA ABSOLUTA: Todos los precios y descripciones deben venir únicamente de la herramienta SERVICIOS.\n\n3. REGLA DE UBICACIÓN (DEPARTAMENTOS):\nValidación: Pregunta la ubicación antes de cerrar.\nRecargo: Si es en Departamentos, aplica cobro extra por viáticos.\n\n4. FLUJO DE CONVERSACIÓN Y CIERRE:\nDiagnóstico: Pregunta si tiene falla o es preventivo.\nAceptación: Da el precio y pregunta: \"¿Le parece bien el costo para programarlo?\".\nDatos Finales: Solo tras la aceptación, pide Nombre, Dirección y Teléfono. Al completar, usa #PEDIDO_LISTO.\n\nPROTOCOLO DE AUTOMATIZACIÓN\n\n📋 LISTA DE VERIFICACIÓN PARA VENTAS/INSTALACIÓN:\nSi es instalación nueva, completa estos 4 puntos pregunta uno a la vez:\n1. Tipo de portón abatible, levadizo, corredizo.\n2. ¿Requiere instalación?\n3. Medidas + uso diario.\n4. Foto del lado interno.\n\n🏁 FASE FINAL Y CIERRE (2 PASOS):\n\nPASO 1: Cuando tengas los 4 puntos completos o el cliente acepte el mantenimiento, pide:\n* Nombre completo\n* Dirección exacta\n* Teléfono secundario (opcional)\n\nPASO 2: Cuando envíe los datos, responde EXACTO así:\n\"¡Listo, muchas gracias! Ahorita le paso su información al técnico para que le envíe su cotización. 👍\n📌 *Resumen de datos:*\n- Nombre: [Nombre]\n- Dirección: [Dirección]\n- Teléfono: [Teléfono]\n\n#PEDIDO_LISTO\"\nREGLA CRITICA: CADA VEZ QUE VAS A CONSULTAR AL TECNICO MANDA #PEDIDO_LISTO\"\n\nFORMA DE RESPONDER (ESTRICTO):\n* Máximo 2 líneas. Lenguaje natural de Guatemala (chapín).\n* Una sola pregunta a la vez.\n* Solo usa #PEDIDO_LISTO al final del PASO 2. Usa #SOPORTE si hay una falla grave o no hay precio en la hoja SERVICIOS."
        }
      },
      "id": "21b8a5d4-8c08-464c-84a2-7a4b976fc66d",
      "name": "VENDEDOR1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        2576,
        5136
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8",
          "mode": "list",
          "cachedResultName": "PRECIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2944,
        5392
      ],
      "id": "75776470-009a-40bb-8b29-e3b591f10ece",
      "name": "consultar precios3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -816,
        6224
      ],
      "id": "557cb3a1-7541-4ae1-8ea4-bc98baacd05a",
      "name": "Webhook Evolution API",
      "webhookId": "3a85d262-b559-4f10-80cb-dfde3ff157cd"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newItems = [];\n\nfor (const item of items) {\n    let textoOriginal = (item.json.output || item.json.respuesta_cliente || \"\").toString();\n    \n    const esPedidoFinal = textoOriginal.includes(\"#PEDIDO_LISTO\") || textoOriginal.includes(\"#PEDIDO_CONFIRMADO\");\n    const esSoporte = textoOriginal.includes(\"#SOPORTE\");\n    const esVenta = textoOriginal.includes(\"#VENTA\");\n    \n    const enviarNotificacion = esPedidoFinal || esSoporte || esVenta;\n\n    let textoLimpio = textoOriginal\n        .replace(/#PEDIDO_LISTO|#PEDIDO_CONFIRMADO|#VENTA_PROCESO|#VENTA|#BODEGA|#SOPORTE|#REVISAR_TECNICO|#TRANSFERENCIA|#VENTA_ESPECIALIZADA|#FLUJO_NORMAL/gi, \"\")\n        .replace(/\\[Catálogo\\]\\((https?:\\/\\/[^\\s\\)]+)\\)/gi, \"Catálogo: $1\")\n        .replace(/\\[Foto\\]\\(\\)/gi, \"\")\n        .replace(/\\[.*?\\]\\((https?:\\/\\/[^\\s\\)]+)\\)/gi, \"$1\")\n        .replace(/\\n\\s*\\n/g, \"\\n\\n\")\n        .trim();\n\n    let remoteJid_final = item.json.remoteJid || \n                         item.json.body?.data?.key?.remoteJid || \n                         ( ( $node[\"Webhook Evolution API\"] ) ? $node[\"Webhook Evolution API\"].json.body.data.key.remoteJid : null );\n\n    newItems.push({\n        json: {\n            ...item.json,\n            texto_limpio: textoLimpio,\n            remoteJid_final: remoteJid_final,\n            notificar_vip: enviarNotificacion,\n            aviso_ferni: esPedidoFinal ? \"🚀 *PEDIDO LISTO*\" : \n                         esSoporte ? \"🔧 *SOPORTE*\" : \n                         esVenta ? \"💰 *VENTA*\" : \"\" \n        }\n    });\n}\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3408,
        5280
      ],
      "id": "e3097c08-51eb-43d1-9e2e-88b52985b6bd",
      "name": "limpieza final cliente1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8457bd05-403d-4ae5-a46f-da03f40e457b",
              "leftValue": "={{ $json.notificar_vip }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        3712,
        5232
      ],
      "id": "12eb6dd6-56b8-40af-b12d-725feb5b850d",
      "name": "Filter6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8",
          "mode": "list",
          "cachedResultName": "PRECIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2752,
        6816
      ],
      "id": "8abca1de-a914-4993-8346-f11d7c5def57",
      "name": "fotos reales1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c0e7b4b-342a-43d9-98d0-d383de1d8cf7",
              "name": "Numero_Telefono",
              "value": "={{ $('Webhook Evolution API').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "03f5b82a-45b4-4465-84a3-095c31d864f0",
              "name": "Nombre",
              "value": "={{ $('Webhook Evolution API').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "63566525-58bb-474e-b363-f218f196cd15",
              "name": "Mensaje",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            },
            {
              "id": "7a43af2b-3250-4d63-b289-61374bb3a1bc",
              "name": "Tipo_Mensaje",
              "value": "={{ $('Webhook Evolution API').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "6f616e3b-5a54-45ae-89d6-5fe50910a117",
              "name": "Instancia",
              "value": "={{ $('Webhook Evolution API').item.json.body.instance }}",
              "type": "string"
            },
            {
              "id": "e74683c5-3350-4987-a200-df59c30f658a",
              "name": "ID",
              "value": "={{ $('Webhook Evolution API').item.json.body.data.key.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        6208
      ],
      "id": "7296789c-6d99-435a-844f-3c6f408b25d6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.Numero_Telefono }}",
        "messageData": "={{ \nJSON.stringify({\n  message: $json.Mensaje || $json.body.data.message.conversation,\n  sessionID: $json.ID || $json.body.data.key.id,\n  date_time: $now.toFormat('yyyy-MM-dd\\'T\\'HH:mm:ss.SSSZZ')\n}) \n}}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1376,
        6000
      ],
      "id": "ae36a2ec-ba17-48af-9ee4-65ba417b9a1f",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "ZcShMGwetuFGtBFq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Mensaje",
        "key": "={{ $('Edit Fields').item.json.Numero_Telefono }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1312,
        6672
      ],
      "id": "2f2581cf-5def-4b48-9857-21f1684e063f",
      "name": "Redis8",
      "credentials": {
        "redis": {
          "id": "ZcShMGwetuFGtBFq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b594f1da-51e8-47a4-a636-7928a73b69f8",
              "name": "mensaje",
              "value": "={{ $json.Mensaje.map(m => JSON.parse(m).message).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        6208
      ],
      "id": "863f3f58-a785-4702-8c01-2fc558093080",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse(\n  $json.Mensaje\n    .filter(m => m.trim().startsWith('{'))\n    .slice(-1)[0]\n    .split('||')[0]\n    .trim()\n).sessionID }}\n",
                    "rightValue": "={{ String($node[\"Redis1\"].json.ID).trim() }}\n",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "81c7205c-84c9-480e-8b5a-1a12b5ff7baa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ignoran"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fca4c39-e8bf-490b-8e2e-176c95d9156e",
                    "leftValue": "={{ DateTime.fromISO(JSON.parse($json.Mensaje.filter(m => m.trim().startsWith('{')).slice(-1)[0].split('||')[0].trim()).date_time) }}\n",
                    "rightValue": "={{ $now.minus(7, 'seconds').toLocal() }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continuamos"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1392,
        6288
      ],
      "id": "e172a037-ade2-4256-9bcd-552371b10db0",
      "name": "Switch6"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1632,
        6384
      ],
      "id": "6265e380-8a4e-43a8-bb91-126a529e4f1e",
      "name": "Wait1",
      "webhookId": "96c27c05-96e6-490e-ac24-3c38c75c7d9b"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1632,
        6032
      ],
      "id": "616e143e-be79-41a1-aa53-9d1464307ed7",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields').item.json.Numero_Telefono }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1664,
        6224
      ],
      "id": "445934e2-0a2d-4e9f-9f94-7d4c3ed00a22",
      "name": "Redis9",
      "credentials": {
        "redis": {
          "id": "ZcShMGwetuFGtBFq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2032,
        6192
      ],
      "id": "b3c2cf55-9015-4984-9148-2f1bf6e628c1",
      "name": "Merge1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Tipo_Mensaje }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a1ae30d8-caca-41ff-857b-ed9f55b09ca1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "11e0f3f8-1dd2-4efd-aad1-cf42c96bbc5d",
                    "leftValue": "={{ $json.Tipo_Mensaje }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje de Voz"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c338dd6b-e18d-4528-95e7-990cd94d5da7",
                    "leftValue": "={{ $json.Tipo_Mensaje }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje Imagen"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1072,
        6192
      ],
      "id": "9216c513-45d3-446a-9fd5-2c508adbaf0b",
      "name": "Switch7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a17f04df-b95b-4663-9f48-d765b76f1d9a",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -480,
        6224
      ],
      "id": "bc6a7818-9c7d-4813-819c-dc2e1a1c1b0d",
      "name": "Filter7"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst newItems = [];\n\nfor (const item of items) {\n    let mensajeCliente = \"\";\n    \n    try {\n        mensajeCliente = $node[\"Merge1\"].json.mensaje || item.json.mensaje;\n    } catch (e) {\n        mensajeCliente = item.json.mensaje || \"Mensaje no recuperado\";\n    }\n\n    let respuestaIA = item.json.output || item.json.respuesta_cliente || \"\";\n\n    newItems.push({\n        json: {\n            ...item.json,\n            resumen_cliente: mensajeCliente, \n            resumen_ia: respuestaIA,\n            remoteJid_final: item.json.remoteJid_final || item.json.body?.data?.key?.remoteJid\n        }\n    });\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        5504
      ],
      "id": "1db1c91d-a418-478c-8228-8ec8d7ebc11b",
      "name": "separador dialogos1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $json.remoteJid_final || $json.body?.data?.key?.remoteJid || \"sesion_provisional\" }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2624,
        5456
      ],
      "id": "15c71c65-1d18-4317-9edf-1cf5eae8f4de",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15hopLrE19x_9ndFB6z8m2gluNjsx81t08lxiC9gi3i8",
          "mode": "list",
          "cachedResultName": "SERVICIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15hopLrE19x_9ndFB6z8m2gluNjsx81t08lxiC9gi3i8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3056,
        5312
      ],
      "id": "d01006a4-6181-49f8-8a97-29ac3096a1a1",
      "name": "SERVICIOS1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "recepcionista",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "consultar precios": {
      "ai_tool": [
        [
          {
            "node": "recepcionista",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Obter m dia em base",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter m dia em base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set text tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set text tag1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set foto tag": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set audio tag": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set text tag": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "set audio tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "set foto tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set text tag1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "recepcionista",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hablar con humano": {
      "ai_tool": [
        [
          {
            "node": "recepcionista",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Fotos (Estrategia)": {
      "main": [
        [
          {
            "node": "¿Enviar Fotos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Enviar Fotos?": {
      "main": [
        [
          {
            "node": "Enviar imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera Humana": {
      "main": [
        [
          {
            "node": "Evolution Foto 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar imagem": {
      "main": [
        [
          {
            "node": "Espera Humana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "VENDEDOR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "recepcionista": {
      "main": [
        [
          {
            "node": "LIMPIEZA Y ESTADOS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Fotos (Estrategia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LIMPIEZA Y ESTADOS": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "separador dialogos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "limpieza final cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "limpieza final cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "limpieza final cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VENDEDOR": {
      "main": [
        [
          {
            "node": "limpieza final cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar precios1": {
      "ai_tool": [
        [
          {
            "node": "VENDEDOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Evolution API1": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limpieza final cliente": {
      "main": [
        [
          {
            "node": "Enviar al Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Notificación VIP Ferni",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fotos reales": {
      "ai_tool": [
        [
          {
            "node": "recepcionista",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Redis6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis6": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis7": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "recepcionista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separador dialogos": {
      "main": [
        [
          {
            "node": "VENDEDOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "VENDEDOR",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SERVICIOS": {
      "ai_tool": [
        [
          {
            "node": "VENDEDOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch Trabajador o Cliente": {
      "main": [
        [
          {
            "node": "Preparar Datos Luis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Datos Luis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos Luis": {
      "main": [
        [
          {
            "node": "Switch Tipo Mensaje Luis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Tipo Mensaje Luis": {
      "main": [
        [
          {
            "node": "Obtener Foto Factura Luis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pasar Texto Luis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pasar Texto Luis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Foto Factura Luis": {
      "main": [
        [
          {
            "node": "Convertir Foto Luis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir Foto Luis": {
      "main": [
        [
          {
            "node": "Analizar Factura Luis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Factura Luis": {
      "main": [
        [
          {
            "node": "Procesar Datos Factura Luis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Datos Factura Luis": {
      "main": [
        [
          {
            "node": "ASISTENTE LUIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ASISTENTE LUIS": {
      "main": [
        [
          {
            "node": "Limpieza Respuesta Luis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Luis": {
      "ai_languageModel": [
        [
          {
            "node": "ASISTENTE LUIS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria Luis": {
      "ai_memory": [
        [
          {
            "node": "ASISTENTE LUIS",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "REGISTRAR_GASTO": {
      "ai_tool": [
        [
          {
            "node": "ASISTENTE LUIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "VER_GASTOS": {
      "ai_tool": [
        [
          {
            "node": "ASISTENTE LUIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LIQUIDAR_GASTOS": {
      "ai_tool": [
        [
          {
            "node": "ASISTENTE LUIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CREAR_TRABAJO": {
      "ai_tool": [
        [
          {
            "node": "ASISTENTE LUIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ACTUALIZAR_TRABAJO": {
      "ai_tool": [
        [
          {
            "node": "ASISTENTE LUIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "VER_AGENDA": {
      "ai_tool": [
        [
          {
            "node": "ASISTENTE LUIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PRECIOS_INTERNOS": {
      "ai_tool": [
        [
          {
            "node": "ASISTENTE LUIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SERVICIOS_INTERNOS": {
      "ai_tool": [
        [
          {
            "node": "ASISTENTE LUIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Limpieza Respuesta Luis": {
      "main": [
        [
          {
            "node": "Enviar Respuesta Luis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pasar Texto Luis": {
      "main": [
        [
          {
            "node": "ASISTENTE LUIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agenda Noche 11pm": {
      "main": [
        [
          {
            "node": "Calcular Fecha Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agenda Mañana 8am": {
      "main": [
        [
          {
            "node": "Calcular Fecha Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Fecha Agenda": {
      "main": [
        [
          {
            "node": "Preparar Mensaje Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Liquidacion Semanal": {
      "main": [
        [
          {
            "node": "Leer Gastos Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Gastos Pendientes": {
      "main": [
        [
          {
            "node": "Calcular Resumen Semanal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Resumen Semanal": {
      "main": [
        [
          {
            "node": "Enviar Resumen Luis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar Resumen Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Auto Liquidar Gastos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje Agenda": {
      "main": [
        [
          {
            "node": "ASISTENTE LUIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEER_SUPABASE_AGENDA": {
      "ai_tool": [
        [
          {
            "node": "ASISTENTE LUIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "recepcionista1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "consultar precios2": {
      "ai_tool": [
        [
          {
            "node": "recepcionista1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Obter m dia em base1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter m dia em base65",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set text tag2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set text tag3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set foto tag1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set audio tag1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set text tag2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "set audio tag1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base65": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        [
          {
            "node": "set foto tag1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set text tag3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "recepcionista1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hablar con humano1": {
      "ai_tool": [
        [
          {
            "node": "recepcionista1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base1": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter5": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Fotos (Estrategia)1": {
      "main": [
        [
          {
            "node": "¿Enviar Fotos?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Enviar Fotos?1": {
      "main": [
        [
          {
            "node": "Enviar imagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera Humana1": {
      "main": [
        [
          {
            "node": "Evolution Foto ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar imagem1": {
      "main": [
        [
          {
            "node": "Espera Humana1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "VENDEDOR1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "recepcionista1": {
      "main": [
        [
          {
            "node": "LIMPIEZA Y ESTADOS1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Fotos (Estrategia)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LIMPIEZA Y ESTADOS1": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "separador dialogos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "limpieza final cliente1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "limpieza final cliente1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "limpieza final cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VENDEDOR1": {
      "main": [
        [
          {
            "node": "limpieza final cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar precios3": {
      "ai_tool": [
        [
          {
            "node": "VENDEDOR1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Evolution API": {
      "main": [
        [
          {
            "node": "Filter7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limpieza final cliente1": {
      "main": [
        [
          {
            "node": "Enviar al Cliente1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter6": {
      "main": [
        [
          {
            "node": "Notificación VIP Ferni1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fotos reales1": {
      "ai_tool": [
        [
          {
            "node": "recepcionista1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Redis8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis8": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Redis8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis9": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "recepcionista1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch7": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter7": {
      "main": [
        [
          {
            "node": "Switch Trabajador o Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separador dialogos1": {
      "main": [
        [
          {
            "node": "VENDEDOR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "VENDEDOR1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SERVICIOS1": {
      "ai_tool": [
        [
          {
            "node": "VENDEDOR1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook Evolution API1": [
      {
        "json": {
          "headers": {
            "host": "appn8n-n8n.83aqlq.easypanel.host",
            "user-agent": "axios/1.10.0",
            "content-length": "1210",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "appn8n-n8n.83aqlq.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "1fc8ffe4ff89",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "onecontrol1",
            "data": {
              "key": {
                "remoteJid": "50235154362@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB010F5F1E75AC3F5234C",
                "senderPn": "50235154362@s.whatsapp.net",
                "previousRemoteJid": "234101571363049@lid"
              },
              "pushName": "reach",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "mide 2.44 x 3 unas 20 veces digo yo",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "7ckwET+kbnutkQ==",
                    "senderTimestamp": "1775505188",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "PN/xmkrH/zPXXQ==",
                    "recipientTimestamp": "1775490368"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "hIcsb80mdYcR2wx0zQqL2DZq/nUo6G+PLMOKBdRJZ98=",
                  "limitSharingV2": {
                    "trigger": "UNKNOWN",
                    "initiatedByMe": false
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1775534696,
              "instanceId": "87da0d87-247c-4b9c-b57a-7afd29743a58",
              "source": "web",
              "chatwootMessageId": 2223,
              "chatwootInboxId": 1,
              "chatwootConversationId": 5
            },
            "destination": "https://appn8n-n8n.83aqlq.easypanel.host/webhook/evolution-webhook",
            "date_time": "2026-04-07T01:04:56.722Z",
            "sender": "50244315578@s.whatsapp.net",
            "server_url": "https://appn8n-evolution-api.83aqlq.easypanel.host",
            "apikey": "200912DF67D5-4D57-B2D4-B7EEFA519861"
          },
          "webhookUrl": "https://appn8n-n8n.83aqlq.easypanel.host/webhook/evolution-webhook",
          "executionMode": "production"
        }
      }
    ],
    "Webhook Evolution API": [
      {
        "json": {
          "headers": {
            "host": "appn8n-n8n.83aqlq.easypanel.host",
            "user-agent": "axios/1.10.0",
            "content-length": "1210",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "appn8n-n8n.83aqlq.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "1fc8ffe4ff89",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "onecontrol1",
            "data": {
              "key": {
                "remoteJid": "50235154362@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB010F5F1E75AC3F5234C",
                "senderPn": "50235154362@s.whatsapp.net",
                "previousRemoteJid": "234101571363049@lid"
              },
              "pushName": "reach",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "mide 2.44 x 3 unas 20 veces digo yo",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "7ckwET+kbnutkQ==",
                    "senderTimestamp": "1775505188",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "PN/xmkrH/zPXXQ==",
                    "recipientTimestamp": "1775490368"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "hIcsb80mdYcR2wx0zQqL2DZq/nUo6G+PLMOKBdRJZ98=",
                  "limitSharingV2": {
                    "trigger": "UNKNOWN",
                    "initiatedByMe": false
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1775534696,
              "instanceId": "87da0d87-247c-4b9c-b57a-7afd29743a58",
              "source": "web",
              "chatwootMessageId": 2223,
              "chatwootInboxId": 1,
              "chatwootConversationId": 5
            },
            "destination": "https://appn8n-n8n.83aqlq.easypanel.host/webhook/evolution-webhook",
            "date_time": "2026-04-07T01:04:56.722Z",
            "sender": "50244315578@s.whatsapp.net",
            "server_url": "https://appn8n-evolution-api.83aqlq.easypanel.host",
            "apikey": "200912DF67D5-4D57-B2D4-B7EEFA519861"
          },
          "webhookUrl": "https://appn8n-n8n.83aqlq.easypanel.host/webhook/evolution-webhook",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "837fb290-7a9e-4440-898b-7fe2c0ca6836",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-19T04:52:15.801Z",
      "createdAt": "2026-03-19T04:52:15.801Z",
      "role": "workflow:owner",
      "workflowId": "vkOh59nc5ece8pgF",
      "projectId": "n1upLnwbcGFYe5md",
      "project": {
        "updatedAt": "2026-03-09T07:22:41.568Z",
        "createdAt": "2026-03-09T07:18:36.467Z",
        "id": "n1upLnwbcGFYe5md",
        "name": "ferni padilla  <fernidarck@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "caf1c75e-58c7-4567-8f88-e5caac8ad151"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}