workflow_ycloud.json
{
  "updatedAt": "2026-05-14T06:42:24.312Z",
  "createdAt": "2026-04-30T19:09:51.921Z",
  "id": "5537mcUjW8GdaxF4",
  "name": "ycloud",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "21228c18-514c-4039-9afb-ac40c3635f7c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -10192,
        224
      ],
      "id": "6c0a1934-035d-4f45-8a9b-a385b7bc127a",
      "name": "Webhook",
      "webhookId": "21228c18-514c-4039-9afb-ac40c3635f7c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "luis-route",
                    "leftValue": "={{ $json.body.whatsappInboundMessage.from }}",
                    "rightValue": "+50255572346",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "trabajador_luis"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "test-route",
                    "leftValue": "={{ $json.body.whatsappInboundMessage.from }}",
                    "rightValue": "+50234465443",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pruebas"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "cliente_normal"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -7904,
        -320
      ],
      "id": "4a2f7b63-cf94-4644-ac64-9e3c9952acab",
      "name": "Switch Trabajador o Cliente"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -6672,
        -960
      ],
      "id": "1004e749-eb0f-4436-b5fc-610c53b97815",
      "name": "Unir Entradas Luis"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -5408,
        64
      ],
      "id": "99e3bb75-e613-4e57-b30c-d1b5b7caad21",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "8Xn9MSXLwdbeAEv8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8",
          "mode": "list",
          "cachedResultName": "PRECIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -5040,
        128
      ],
      "id": "2428263a-29c2-44b5-97af-a58244d0967c",
      "name": "consultar precios2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.whatsappInboundMessage.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0a54d5dc-791a-4d7e-951a-319540779a37"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7d1b7b54-e70e-44f2-bbdf-46031b26e530",
                    "leftValue": "={{ $('Webhook').item.json.body.whatsappInboundMessage.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9dd3840-6f5d-4958-b4ea-0f39682358de",
                    "leftValue": "={{ $('Webhook').item.json.body.whatsappInboundMessage.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa68c4f3-3305-450a-b165-89cc7ff2b97b",
                    "leftValue": "={{ $('Webhook').item.json.body.whatsappInboundMessage.type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -7472,
        -320
      ],
      "id": "74695e34-9fca-46a0-bf32-176fbdbb0cc7",
      "name": "Switch2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d2e0f55-710b-4991-8f66-d743d53211ce",
              "name": "file_type",
              "value": "audio",
              "type": "string"
            },
            {
              "id": "dfa981ee-d7d6-4940-b464-c61b0247fee7",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7152,
        -224
      ],
      "id": "d8d4bb47-112f-44d0-925b-d5cd85080491",
      "name": "set audio tag1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07234615-9c5a-47ff-92a9-698014f6d98c",
              "name": "file_type",
              "value": "texto",
              "type": "string"
            },
            {
              "id": "4654db5f-1bbd-425e-8142-c43a2e30a84a",
              "name": "mensaje",
              "value": "={{ $json.body.whatsappInboundMessage.text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7152,
        -480
      ],
      "id": "3c79cd53-9c51-423b-b3bd-14662de82e8f",
      "name": "set text tag2"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=ROL: Analista técnico visual especializado en automatización (onecontrol.shop).\n\nOBJETIVO:\nAnalizar cualquier imagen recibida y generar un reporte técnico estructurado, útil para cotización o diagnóstico.\n\nREGLAS GENERALES:\n- Enfocarse únicamente en objetos, equipos, estructuras o productos.\n- Ignorar completamente personas, rostros, documentos o información sensible.\n- No identificar identidad de personas ni datos personales.\n- Si la imagen no contiene elementos relevantes (portones, motores, muebles u objetos técnicos), clasificar como \"OTRO\".\n* Si el portón NO tiene motor -> SERVICIO: VENTA DE AUTOMATIZACIÓN\n🔍 IMPORTANTE: Extrae también el MODELO ESPECÍFICO si es visible.\nBusca en la imagen:\n- Etiquetas con números/letras (ej. \"422\", \"844\", \"S2500\", \"LA400\")\n- Texto cerca del logo de la marca\n- Placas con código de modelo\n\nSi NO ves modelo claro, escribe \"MODELO: NO VISIBLE\"\n\nFORMATO ACTUALIZADO:\nSERVICIO_BUSQUEDA: [...]\nANALISIS_IMAGEN: [PRODUCTO] | [MARCA] | [MODELO] | [TIPO inicial] | [ESTADO]. DETALLE: [...]\n\nINSTRUCCIONES DE IDENTIFICACIÓN:\n\n1. MOTORES:\n- Detectar si hay motor de portón.\n- Identificar marca si es visible (Liftmaster, FAAC, PPA, Nice, Genius, etc.).\n- Identificar MODELO si es visible (números/códigos en etiquetas, ej: \"422\", \"LA400\", \"884\").\n- Tipo de mecanismo: Cremallera, Brazo/Pistón, Cadena.\n- DETERMINAR HIDRÁULICO vs ESTÁNDAR:\n  * HIDRÁULICO: pistón robusto + sistema visible de aceite + más grande + cuerpo metálico cilíndrico macizo\n  * ESTÁNDAR (electromecánico): brazo articulado + caja con motor eléctrico visible + más pequeño\n  * 🚨 Si NO podés determinar con CERTEZA si es hidráulico o estándar → pon \"REQUIERE_VERIFICACION\"\n- 🚨 NUNCA pongas \"ESTÁNDAR\" si no estás 100% seguro. Es preferible \"REQUIERE_VERIFICACION\"\n\nCLASIFICACIÓN DE SERVICIO:\n- Si es Cadena → MANTENIMIENTO MOTORES DE CADENA\n- Si es Cremallera → MANTENIMIENTO MOTORES DE CREMALLERA\n- Si es Brazo/Pistón ESTÁNDAR (CONFIRMADO) → MANTENIMIENTO MOTORES DE BRAZOS\n- Si es Brazo/Pistón HIDRÁULICO (CONFIRMADO) → MANTENIMIENTO DE EQUIPOS HIDRAULICOS\n- Si REQUIERE_VERIFICACION → REVISAR_TIPO_MOTOR\n\nFORMATO DE SALIDA (OBLIGATORIO):\nSERVICIO_BUSQUEDA: [Nombre de la CLASIFICACIÓN o REVISAR_TIPO_MOTOR]\nANALISIS_IMAGEN: [PRODUCTO] | [MARCA o SIN MARCA] | [MODELO o SIN MODELO] | [TIPO: HIDRÁULICO/ESTÁNDAR/REQUIERE_VERIFICACION] | [ESTADO]. DETALLE: [...]\n2. PORTONES:\n- Tipo: Corredizo, Abatible, Levadizo.\n- Estado: funcional, oxidado, descarrilado, golpeado, incompleto.\n- ¿TIENE MOTOR INSTALADO?: [SÍ/NO/NO SE VE].\n- INTENCIÓN PROBABLE: \n  * Si TIENE motor -> Mantenimiento o Reparación.\n  * Si NO tiene motor -> Automatización (Venta de motor nuevo).\n\n3. MUEBLES (si aplica):\n- Tipo de mueble (ej. Zapatera, estantería).\n- Material: melamina, metal, madera.\n- Estado: armado, desarmado, dañado.\n\n4. OTROS OBJETOS Y ACCESORIOS DE TIENDA:\n- Si no es portón/motor/mueble, identificar el objeto (ej. Electrocerradura, Control remoto, Sensor).\n- Describir el objeto principal de forma técnica y clara.\n- Para accesorios o muebles, la CLASIFICACIÓN DE SERVICIO debe ser el nombre común del producto.\n* Si el portón NO tiene motor -> SERVICIO: VENTA DE AUTOMATIZACIÓN\n5. ESTADO TÉCNICO GENERAL:\n- Nuevo\n- Usado\n- Dañado\n- Referencia (cuando el cliente solo muestra ejemplo)\n\nREGLAS CRÍTICAS:\n- No inventar marcas. Si no es visible, usar \"SIN MARCA\".\n- Si no se puede determinar el tipo, usar \"NO IDENTIFICABLE\".\n- NUNCA respondas que no puedes asistir con la solicitud si hay un producto en la imagen. Si el objeto no es un motor, descríbelo y asígnale su nombre comercial en SERVICIO_BUSQUEDA.\n- Priorizar precisión sobre suposición.\n\nFORMATO DE SALIDA (OBLIGATORIO):\nSERVICIO_BUSQUEDA: [Nombre de la CLASIFICACIÓN DE SERVICIO o nombre del producto detectado]\nANALISIS_IMAGEN: [PRODUCTO] | [MARCA] | [TIPO: HIDRÁULICO/ESTÁNDAR/NO IDENTIFICABLE] | [ESTADO]. DETALLE: [Descripción técnica clara y útil para diagnóstico o venta].",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -7248,
        -752
      ],
      "id": "19b9dd2c-e272-436b-9afb-d401d7eaebc9",
      "name": "Analyze image1",
      "credentials": {
        "openAiApi": {
          "id": "8Xn9MSXLwdbeAEv8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07234615-9c5a-47ff-92a9-698014f6d98c",
              "name": "file_type",
              "value": "video",
              "type": "string"
            },
            {
              "id": "4654db5f-1bbd-425e-8142-c43a2e30a84a",
              "name": "mensaje",
              "value": "={{ $('Webhook Evolution API').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7152,
        -352
      ],
      "id": "fc1e18c6-2c73-4d07-b983-f728f796d3ed",
      "name": "set text tag3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "reseteo_total_bull8",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -5376,
        240
      ],
      "id": "57260311-1cf2-474a-879b-b61024bff041",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "jsCode": "// 1. Extraer el texto del Agente\nconst texto = $json.output || $json.text || \"\";\n\n// 2. Buscar CUALQUIER URL de imagen en la respuesta (Drive, YCloud Dashboard, imgur, etc.)\n// Primero intentamos extraer links en formato Markdown: [texto](URL)\nconst markdownLinks = [];\nconst mdRegex = /\\[.*?\\]\\((https?:\\/\\/[^)]+)\\)/g;\nlet mdMatch;\nwhile ((mdMatch = mdRegex.exec(texto)) !== null) {\n    markdownLinks.push(mdMatch[1]);\n}\n\n// Si no hay links Markdown, buscamos URLs directas\nconst directLinks = texto.match(/https?:\\/\\/[^\\s)\\]]+/g) || [];\n\n// Unir ambas fuentes, priorizando los Markdown\nconst allUrls = markdownLinks.length > 0 ? markdownLinks : directLinks;\n\n// Filtrar solo URLs que parezcan imágenes o vengan del dashboard\nconst imageExtensions = /\\.(jpg|jpeg|png|gif|webp)(\\?.*)?$/i;\nconst trustedDomains = /ycloud-dashboard|drive\\.google\\.com|uploads|imgur|cloudinary|storage/i;\n\nconst matches = allUrls.filter(url =>\n    imageExtensions.test(url) || trustedDomains.test(url)\n);\n\n// Si no hay coincidencias filtradas, usar todas las URLs encontradas\nconst finalMatches = matches.length > 0 ? matches : allUrls;\n\n// Helper: si es Google Drive, convertir a enlace de descarga directa\nconst extraerIdDrive = (url) => {\n    const match = url.match(/(?:\\/d\\/|id=)([a-zA-Z0-9_-]{25,})/);\n    return match ? match[1] : null;\n};\n\nconst getImageUrl = (url) => {\n    if (!url) return null;\n    const driveId = extraerIdDrive(url);\n    let finalUrl = driveId ? `https://drive.google.com/uc?export=view&id=${driveId}` : url;\n    \n    // Forzar HTTPS para el dashboard de ycloud y otras URLs de imágenes inseguras\n    if (finalUrl.startsWith('http://')) {\n        finalUrl = finalUrl.replace('http://', 'https://');\n    }\n    return finalUrl;\n};\n\n// 3. Obtener número del cliente\nlet remoteJid = null;\ntry {\n    const datosWebhook = $('Webhook').item.json.body;\n    remoteJid = datosWebhook.whatsappInboundMessage?.from || datosWebhook.from;\n} catch (e) {\n    remoteJid = null;\n}\n\nif (remoteJid) {\n    remoteJid = remoteJid.replace(/\\D/g, '');\n    if (remoteJid.length === 8) remoteJid = '502' + remoteJid;\n    if (!remoteJid.startsWith('+')) remoteJid = '+' + remoteJid;\n}\n\nreturn {\n    tieneFotos: finalMatches.length > 0,\n    foto1: finalMatches[0] ? getImageUrl(finalMatches[0]) : null,\n    foto2: finalMatches[1] ? getImageUrl(finalMatches[1]) : null,\n    remoteJid_fotos: remoteJid\n};"
      },
      "id": "9ca8367d-960f-4ee1-bc76-e526fbb9e4a6",
      "name": "Preparar Fotos (Estrategia)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4272,
        -272
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check_fotos",
              "leftValue": "={{ $json.tieneFotos }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "da4cabd0-a5c7-4da2-a1b2-ee03bddb9043",
      "name": "¿Enviar Fotos?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3696,
        -96
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "84acbf4d-7394-4759-a1d0-7f371c05fe45",
      "name": "Espera Humana1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -3184,
        -96
      ],
      "webhookId": "50d5c633-2642-4121-8fc9-7d973cebbedb"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4768,
        432
      ],
      "id": "b465d61c-171b-40d3-9f87-fd9ef34a9e40",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "8Xn9MSXLwdbeAEv8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8",
          "mode": "list",
          "cachedResultName": "PRECIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -4896,
        128
      ],
      "id": "c4ea71b5-2a06-4c95-a60d-45c4739c08c1",
      "name": "fotos reales1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c0e7b4b-342a-43d9-98d0-d383de1d8cf7",
              "name": "Numero_Telefono",
              "value": "={{ $('Webhook').item.json.body.whatsappInboundMessage.from }}",
              "type": "string"
            },
            {
              "id": "03f5b82a-45b4-4465-84a3-095c31d864f0",
              "name": "Nombre",
              "value": "={{ $('Webhook').item.json.body.whatsappInboundMessage?.customerProfile?.name || 'Cliente' }}",
              "type": "string"
            },
            {
              "id": "63566525-58bb-474e-b363-f218f196cd15",
              "name": "Mensaje",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            },
            {
              "id": "7a43af2b-3250-4d63-b289-61374bb3a1bc",
              "name": "Tipo_Mensaje",
              "value": "={{ $('Webhook').item.json.body.whatsappInboundMessage.type }}",
              "type": "string"
            },
            {
              "id": "6f616e3b-5a54-45ae-89d6-5fe50910a117",
              "name": "Instancia",
              "value": "={{ $('Webhook').item.json.body.whatsappInboundMessage.wamid }}",
              "type": "string"
            },
            {
              "id": "e74683c5-3350-4987-a200-df59c30f658a",
              "name": "ID",
              "value": "={{ $('Webhook').item.json.body.whatsappInboundMessage.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6736,
        -480
      ],
      "id": "dd7cab8f-fa0d-404f-8445-fc10fc59c06f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.Numero_Telefono }}",
        "value": "={{ JSON.stringify({ message: $json.Mensaje, sessionID: $json.ID, date_time: $now.toFormat(\"yyyy-MM-dd'T'HH:mm:ss.SSSZZ\") }) }}",
        "keyType": "string",
        "expire": true,
        "ttl": 300
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -6464,
        -912
      ],
      "id": "89c12e41-dbbd-4196-bfd2-6a35ada20b24",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "ZcShMGwetuFGtBFq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Mensaje",
        "key": "={{ $('Edit Fields').item.json.Numero_Telefono }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -6528,
        -240
      ],
      "id": "a92ccc49-18ae-48cd-9506-4f0bc026e876",
      "name": "Redis8",
      "credentials": {
        "redis": {
          "id": "ZcShMGwetuFGtBFq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b594f1da-51e8-47a4-a636-7928a73b69f8",
              "name": "mensaje",
              "value": "={{ JSON.parse($json.Mensaje).message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6016,
        -704
      ],
      "id": "916ceee3-97aa-4aa0-9855-316cd4e121e5",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.Mensaje).sessionID }}",
                    "rightValue": "={{ String($node[\"Redis1\"].json.ID).trim() }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "81c7205c-84c9-480e-8b5a-1a12b5ff7baa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ignoran"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fca4c39-e8bf-490b-8e2e-176c95d9156e",
                    "leftValue": "={{ $json.Mensaje ? DateTime.fromISO(JSON.parse($json.Mensaje).date_time).toJSDate() : $now.minus(1, 'hour').toJSDate() }}\n",
                    "rightValue": "={{ $now.minus({ seconds: 7 }).toJSDate() }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continuamos"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -6448,
        -624
      ],
      "id": "63bfc14b-7705-4a76-917c-313a32599373",
      "name": "Switch6"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -6208,
        -528
      ],
      "id": "5c312d5b-2c17-46fd-8994-96ee004bdd39",
      "name": "Wait1",
      "webhookId": "96c27c05-96e6-490e-ac24-3c38c75c7d9b"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -6208,
        -880
      ],
      "id": "6979008e-37d2-4eda-903a-85b37aa56cef",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields').item.json.Numero_Telefono }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -6176,
        -688
      ],
      "id": "7f2313d3-6fa5-4d16-a1af-81397811e623",
      "name": "Redis9",
      "credentials": {
        "redis": {
          "id": "ZcShMGwetuFGtBFq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5872,
        -592
      ],
      "id": "a0176be6-d365-4e52-a8d1-f645a2b7b818",
      "name": "Merge1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Tipo_Mensaje }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a1ae30d8-caca-41ff-857b-ed9f55b09ca1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "11e0f3f8-1dd2-4efd-aad1-cf42c96bbc5d",
                    "leftValue": "={{ $json.Tipo_Mensaje }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje de Voz"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c338dd6b-e18d-4528-95e7-990cd94d5da7",
                    "leftValue": "={{ $json.Tipo_Mensaje }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje Imagen"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -6768,
        -720
      ],
      "id": "c5ab51fb-0615-465b-8501-72322c663e51",
      "name": "Switch7"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $json.remoteJid_final || $json.body?.data?.key?.remoteJid || \"sesion_provisional\" }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -4416,
        448
      ],
      "id": "40e75f63-c274-4662-a62d-16c858b3217c",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15hopLrE19x_9ndFB6z8m2gluNjsx81t08lxiC9gi3i8",
          "mode": "list",
          "cachedResultName": "SERVICIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15hopLrE19x_9ndFB6z8m2gluNjsx81t08lxiC9gi3i8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -4256,
        400
      ],
      "id": "dd268795-41c8-4ba2-b415-8cf57f488dab",
      "name": "SERVICIOS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8",
          "mode": "list",
          "cachedResultName": "PRECIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -3968,
        272
      ],
      "id": "e4ac9e97-ea35-461b-866b-a7c0ac0b9859",
      "name": "consultar precios",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8ZUn5LRibZKCidxI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cliente-msg",
                    "leftValue": "={{ $('Webhook').item.json.body.type }}\n",
                    "rightValue": "whatsapp.inbound_message.received",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje Cliente"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "agente-msg",
                    "leftValue": "={{ $('Webhook').item.json.body.type }}\n\n",
                    "rightValue": "whatsapp.smb.message.echoes",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje Agente"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -9264,
        -288
      ],
      "id": "245877cb-2229-434c-a651-87fef1c568f6",
      "name": "Cliente o Agente"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "bot_status",
        "key": "=bot_off:{{ $json.body.whatsappInboundMessage.from.replace(/\\D/g, '') }}",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -8592,
        -304
      ],
      "id": "61228f37-e361-4541-bac3-012f58f7627d",
      "name": "Redis Cache",
      "credentials": {
        "redis": {
          "id": "ZcShMGwetuFGtBFq",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.ycloud.com/v2/contact/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "phoneNumber={{ $('Webhook').item.json.body.whatsappInboundMessage.from }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8432,
        -304
      ],
      "id": "2b19efcf-fbdc-4b47-ac98-443e75e9d6c1",
      "name": "GET Contacto Cliente",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NphMGDjGcAx9asTH",
          "name": "ycloud"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const cache = $('Redis Cache').item.json.bot_status;\nconst webhookData = $('Webhook').item.json;\n\n// Si Redis ya tiene flag, marcar como apagado\nif (cache === 'manual') {\n    return [{\n        json: {\n            ...webhookData,\n            bot_apagado: true,\n            origen: 'redis_cache'\n        }\n    }];\n}\n\n// Si no, revisar la respuesta de YCloud\nconst response = $input.item.json;\nlet contacts = [];\n\nif (Array.isArray(response)) {\n    contacts = response;\n} else if (response.items) {\n    contacts = response.items;\n} else if (response.data) {\n    contacts = response.data;\n}\n\nconst contact = contacts[0] || {};\nconst tags = contact.tags || [];\nconst customAttrs = contact.customAttributes || {};\n\nconst tieneTag = tags.some(t => \n    String(t).toLowerCase() === 'bot_desactivado'\n);\nconst tieneAttr = String(customAttrs.estado_bot || '').toLowerCase() === 'off';\n\nconst botApagado = tieneTag || tieneAttr;\n\nreturn [{\n    json: {\n        ...webhookData,\n        bot_apagado: botApagado,\n        origen: botApagado ? 'ycloud' : 'activo',\n        debug_tags: tags,\n        debug_attrs: customAttrs,\n        phoneNumber: webhookData.body.whatsappInboundMessage.from.replace(/\\D/g, '')\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8272,
        96
      ],
      "id": "2162392a-3ce9-4115-8043-5611cc200c35",
      "name": "Evaluar Estado Bot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-active",
              "leftValue": "={{ $json.bot_apagado }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -8064,
        -304
      ],
      "id": "48d09cb1-2bf3-4210-8037-e68cdc9ffd88",
      "name": "Bot Activo"
    },
    {
      "parameters": {
        "instanceName": "fernidarck@gmail.com",
        "token": "zCAhuBvWEgSU5bk",
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2304,
        0
      ],
      "id": "c7f75f81-3f75-42a5-be37-c74d0e58c759",
      "name": "Criar instancia",
      "credentials": {
        "evolutionApi": {
          "id": "GA5OtncS9WAT80hu",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.ycloud.com/v2/contact/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter.phoneNumber",
              "value": "={{ $json.body.whatsappMessage.to }}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-API-key",
              "value": "a25aaba6428e12e4df6310296f675272"
            }
          ]
        },
        "options": {}
      },
      "id": "993a8d34-0997-4cf9-ac46-105dddbb57af",
      "name": "Consultar Etiquetas YCloud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8976,
        -128
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.ycloud.com/v2/contact/contacts/{{ $json.items[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-key",
              "value": "a25aaba6428e12e4df6310296f675272"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"tags\": [\"bot_desactivado\"],\n  \"customAttributes\": [\n    {\n      \"name\": \"estado_bot\",\n      \"value\": [\"off\"]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "d8b04530-d24a-4bd7-8a14-4bded97600d3",
      "name": "desactivar_bot2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8752,
        -112
      ]
    },
    {
      "parameters": {
        "url": "=https://api.ycloud.com/v2/contact/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter.phoneNumber",
              "value": "={{ $json.body.whatsappMessage.to }}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-API-key",
              "value": "a25aaba6428e12e4df6310296f675272"
            }
          ]
        },
        "options": {}
      },
      "id": "330e1c5a-ea24-4899-bb10-880f54a327e1",
      "name": "Consultar Etiquetas YCloud1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8976,
        -304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6525adb8-8673-4f9c-9f70-35d7d4b99562",
              "leftValue": "={{ $json.items[0].tags[0] }}",
              "rightValue": "bot_desactivado",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -8768,
        -304
      ],
      "id": "59974463-1d09-4cce-bf5b-ef68253dbe57",
      "name": "Filter"
    },
    {
      "parameters": {
        "url": "={{ $json.body.whatsappInboundMessage.audio.link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7328,
        -80
      ],
      "id": "340b34ac-9211-478d-8fa5-acdd181b9676",
      "name": "Descargar Audio YCloud"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -7040,
        -48
      ],
      "id": "7c45c05c-206b-44b5-bf10-95fb82eca62e",
      "name": "Transcribir con Whisper",
      "credentials": {
        "openAiApi": {
          "id": "8Xn9MSXLwdbeAEv8",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.whatsappInboundMessage.image.link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7456,
        -768
      ],
      "id": "3b8789bc-3158-4514-824c-efd08962d7f8",
      "name": "Descargar Imagen YCloud"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"+50244315578\",\n  \"to\": \"{{ $json.remoteJid_fotos }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"link\": \"{{ $json.foto1 }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3472,
        -96
      ],
      "id": "81c3ad81-9433-4821-b4f6-b06de847e21e",
      "name": "Enviar Foto 1 YCloud",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NphMGDjGcAx9asTH",
          "name": "ycloud"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"+50244315578\",\n  \"to\": \"{{ $json.remoteJid_fotos }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"link\": \"{{ $json.foto2 }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2880,
        96
      ],
      "id": "3f8d79aa-0460-457e-a3d2-d562aeee05e2",
      "name": "Enviar Foto 2 YCloud",
      "credentials": {
        "httpHeaderAuth": {
          "id": "NphMGDjGcAx9asTH",
          "name": "ycloud"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2723096-4a41-4626-9ff2-e9f1e6c699df",
              "name": "file_type",
              "value": "foto",
              "type": "string"
            },
            {
              "id": "51c459b5-286e-4257-a1d8-e87c501185dd",
              "name": "mensaje",
              "value": "={{ $json.content + \"\\n\\nTexto del cliente: \" + ($('Webhook').item.json.body.whatsappInboundMessage.image?.caption || \"Sin texto extra\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7024,
        -656
      ],
      "id": "eb11c1f6-1450-41d0-9251-4ebf733f1828",
      "name": "set foto tag1"
    },
    {
      "parameters": {
        "toolDescription": "USAR cuando: el análisis de la imagen NO está claro o dice REQUIERE_VERIFICACION o cuando vez una marca específica de motor pero NO estás seguro si es hidráulico o estándar. \n\nOBLIGATORIO USAR si vez marcas como FAAC, Liftmaster, PPA, Nice, Came, Genius, BFT y necesitas confirmar el tipo. \n\nEsta tool busca en internet las especificaciones del motor para que cotices con el precio CORRECTO. Devuelve info técnica del fabricante.\n\nLa consulta debe incluir: marca + modelo + \"motor portón especificaciones hidráulico\"",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $fromAI('marca_modelo', 'Marca y modelo del motor a buscar (ej: FAAC 422 motor portón especificaciones hidráulico)', 'string') }}\",\n  \"search_depth\": \"basic\",\n  \"max_results\": 3,\n  \"include_answer\": true,\n  \"include_domains\": [\"faac.com\", \"liftmaster.com\", \"nice.com\", \"came.com\", \"genius.com\", \"ppa.com.br\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -4048,
        496
      ],
      "id": "686a667b-5d97-49d2-b162-c88ba631d629",
      "name": "Investigar Motor",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1ovCeX0wVVqeyKT1",
          "name": "Tavily API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://ycloud-dashboard.83aqlq.easypanel.host/api/settings",
        "options": {}
      },
      "id": "0a7b39f9-63bc-4caf-882b-7423bc83b0c1",
      "name": "Obtener Cerebro Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5600,
        -320
      ]
    },
    {
      "parameters": {
        "toolDescription": "Vendedor especializado en SERVICIOS de Reach Portones. USAR ÚNICAMENTE cuando el cliente:\n- Pide cotización de automatización de portón (instalación de motor)\n- Solicita mantenimiento preventivo o correctivo\n- Pregunta por reparación de portón eléctrico o motor existente\n- Manda foto de un portón o motor para que se le cotice el servicio\nNO USAR para productos físicos sueltos (controles, repuestos, accesorios, muebles) — esos los cotiza la recepcionista directamente con sus propias herramientas de catálogo.\nEl vendedor analiza el caso técnico, consulta precios de servicios y arma la propuesta.",
        "text": "=MENSAJE DEL CLIENTE: {{ $fromAI('mensaje_cliente', 'Mensaje íntegro del cliente que pide producto/precio', 'string') }}\n\nPRODUCTO IDENTIFICADO: {{ $fromAI('producto', 'Producto o categoría que detectó la recepcionista (ej: control Genius, zapatera blanca)', 'string') }}",
        "options": {
          "systemMessage": "=={{ `Eres el agente de ventas de ${$json.agent_empresa || 'la empresa'}.\n\nEMPRESA:\n${$json.agent_descripcion || ''}\n\nINSTRUCCIONES:\n${$json.prompt_ventas || ''}\n\nSé conciso en WhatsApp (máximo 3-4 líneas). Responde siempre en Español. IMPORTANTE: Si la base de datos te proporciona un enlace de Imagen, DEBES enviarlo en tu respuesta obligatoriamente usando Markdown: [Ver Imagen](URL_DE_LA_IMAGEN).` }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -4528,
        48
      ],
      "id": "6095fe3e-6dda-4b3b-be27-dfd9efe83f1a",
      "name": "agente_vendedor"
    },
    {
      "parameters": {
        "url": "={{ 'https://ycloud-dashboard.83aqlq.easypanel.host/api/bot/status/' + $('Webhook').item.json.body.whatsappInboundMessage.from.replace('+', '') }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9792,
        -80
      ],
      "id": "7aff9278-c785-4bc1-a24e-d5c9ae381353",
      "name": "CHECK BOT STATUS"
    },
    {
      "parameters": {
        "jsCode": "// Parsear la respuesta del dashboard de forma segura\nconst raw = $input.item.json.data || $input.item.json.body || '{}';\nlet parsed = { botActive: false, priority: 'normal', handoff_reason: null, found: false };\n\ntry {\n  const text = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  if (text.trim().startsWith('{')) {\n    parsed = JSON.parse(text);\n  }\n} catch(e) {\n  // Fallback: bot activo si hay error\n}\n\nreturn { json: parsed };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10080,
        -368
      ],
      "id": "5640c706-2f20-4e4c-b1fb-ae61241f614c",
      "name": "PARSEAR RESPUESTA BOT"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ycloud-cond-botactive",
              "leftValue": "={{ $json.botActive }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -9776,
        -320
      ],
      "id": "0dfa3d5f-f09f-40ad-82a9-d04e0c2ee7cf",
      "name": "IF Bot Activo?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ycloud-dashboard.83aqlq.easypanel.host/api/leads/handoff",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \n  phone: $('Webhook').item.json.body.whatsappInboundMessage.from, \n  reason: $('PARSEAR RESPUESTA BOT').item.json.handoff_reason || 'Bot desactivado — agente humano requerido',\n  mensaje: $('Webhook').item.json.body.whatsappInboundMessage.text.body,\n  nombre: $('Webhook').item.json.body.whatsappInboundMessage.from\n}) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9856,
        -528
      ],
      "id": "ee1f59e8-d586-4dea-89ff-dfaf9dea8cdd",
      "name": "NOTIFICAR DASHBOARD HANDOFF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ycloud-dashboard.83aqlq.easypanel.host/api/webhook/n8n",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.whatsappInboundMessage.from }}"
            },
            {
              "name": "nombre",
              "value": "={{ $('Webhook').item.json.body.whatsappInboundMessage.customerProfile?.name || 'Cliente' }}"
            },
            {
              "name": "mensaje",
              "value": "={{ $('Webhook').item.json.body.whatsappInboundMessage.text.body }}"
            },
            {
              "name": "respuesta_bot",
              "value": "={{ $json.texto_limpio }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4800,
        -624
      ],
      "id": "dd07bd02-6dff-4526-b04d-d3121f6c64d8",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ \"from\": \"+50244315578\", \"to\": $('Webhook').item.json.body.whatsappInboundMessage.from, \"type\": \"text\", \"text\": { \"body\": $json.texto_limpio, \"preview_url\": true } }) }}",
        "options": {}
      },
      "id": "92e3c409-5ae1-460a-af33-db025d6621f6",
      "name": "enviar cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4320,
        -928
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "NphMGDjGcAx9asTH",
          "name": "ycloud"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://ycloud-dashboard.83aqlq.easypanel.host/api/rag/context",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.mensaje || $('Webhook').item.json.body.whatsappInboundMessage.text?.body || '' }}"
            },
            {
              "name": "maxChars",
              "value": "2500"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "077c6bf6-6659-4726-a716-f7a8d0b5d217",
      "name": "Consultar Base RAG1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5616,
        -80
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje || $('Webhook').item.json.body.whatsappInboundMessage.text.body || 'Interesado en anuncio' }}",
        "options": {
          "systemMessage": "={{ `Eres ${$json.agent_nombre || 'el asistente'}, ${$json.agent_rol || 'asistente virtual'} de ${$json.agent_empresa || 'la empresa'}.\n\nEMPRESA:\n${$json.agent_descripcion || ''}\n\nINSTRUCCIONES:\n${$json.prompt_recepcionista || ''}\n\nSé conciso en WhatsApp (máximo 3-4 líneas). Responde siempre en Español.\n\n🚫 REGLA CRÍTICA SOBRE IMÁGENES:\n- JAMÁS inventes ni generes URLs de imágenes. NUNCA uses links de imgur, placeholder, ni ninguna URL que no hayas recibido textualmente en la información de referencia (RAG).\n- Si la base de datos RAG te entrega una URL de imagen (ejemplo: https://ycloud-dashboard... o https://drive.google.com/...), DEBES incluirla EXACTAMENTE como aparece usando este formato: [Ver Imagen](URL_EXACTA_DEL_RAG).\n- Si el RAG NO te entrega ninguna URL de imagen, entonces NO incluyas ningún link de imagen en tu respuesta. Simplemente describe el producto sin foto.\n- La URL que uses debe provenir EXCLUSIVAMENTE del texto de la sección 📚 INFORMACIÓN DE REFERENCIA.` + ($('Consultar Base RAG1').isExecuted && $('Consultar Base RAG1').item.json.found ? '\\n\\n📚 INFORMACIÓN DE REFERENCIA — úsala para responder con precisión:\\n' + $('Consultar Base RAG1').item.json.context : '') }}"
        }
      },
      "id": "8221b13f-b04d-4e40-9f8d-4a60d39d9d47",
      "name": "recepcionista",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -5328,
        -384
      ]
    },
    {
      "parameters": {
        "toolDescription": "\"OBLIGATORIO usar esta herramienta SIEMPRE que el cliente pregunte por un producto o precio. Debes mandar la palabra_clave.\"",
        "url": "https://ycloud-dashboard.83aqlq.easypanel.host/api/rag/context",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q",
              "valueProvider": "fieldValue",
              "value": "{palabra}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "palabra",
              "description": "OBLIGATORIO: El nombre exacto del producto que el cliente quiere buscar (ej: bull 8, motor, talanquera).",
              "type": "string"
            }
          ]
        }
      },
      "id": "fd9a76ae-8808-4b01-8659-35cb8fbc410d",
      "name": "Buscar en Base RAG",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -5168,
        384
      ]
    },
    {
      "parameters": {
        "toolDescription": "Usa esta herramienta para guardar el nombre, dirección, NIT o notas del cliente en cuanto los mencione.",
        "method": "POST",
        "url": "https://ycloud-dashboard.83aqlq.easypanel.host/api/leads/update-contact",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Webhook').item.json.body.whatsappInboundMessage.from }}\",\n  \"nombre\": \"{nombre}\",\n  \"direccion\": \"{direccion}\",\n  \"nit\": \"{nit}\",\n  \"notas\": \"{notas}\"\n}\n",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "nombre",
              "description": "Nombre completo del cliente",
              "type": "string"
            },
            {
              "name": "direccion",
              "description": "Dirección de entrega",
              "type": "string"
            },
            {
              "name": "nit",
              "description": "NIT para facturación",
              "type": "string"
            },
            {
              "name": "notas",
              "description": "Cualquier detalle o nota adicional",
              "type": "string"
            }
          ]
        }
      },
      "id": "4fe6ad31-d66c-4715-affd-23576f4b9bd5",
      "name": "Actualizar Datos Cliente",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -5856,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"+50244315578\",\n  \"to\": \"{{ $('Webhook').item.json.body.whatsappInboundMessage.from }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"link\": \"{{ $json.mediaUrl }}\",\n    \"caption\": \"{{ $json.texto_limpio }}\"\n  }\n}",
        "options": {}
      },
      "id": "667402aa-e652-450f-ab08-c001e82f4c32",
      "name": "Enviar Foto Real",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4624,
        -1152
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "NphMGDjGcAx9asTH",
          "name": "ycloud"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-media",
              "leftValue": "={{ $json.hasMedia }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1478208-4865-4be6-881a-efc211daaecc",
      "name": "¿Tiene Imagen?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4928,
        -992
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nlet textoIA = item.output || \"\";\n\nlet etiqueta = \"FLUJO_NORMAL\";\nif (textoIA.includes(\"#VENTA_ESPECIALIZADA\") || textoIA.includes(\"#VENTA\")) etiqueta = \"VENTA_ESPECIALIZADA\";\nelse if (textoIA.includes(\"#BODEGA\")) etiqueta = \"BODEGA\";\nelse if (textoIA.includes(\"#SOPORTE\")) etiqueta = \"SOPORTE\";\nelse if (textoIA.includes(\"#FLUJO_NORMAL\")) etiqueta = \"FLUJO_NORMAL\";\n\nconst mediaRegex = /\\[\\[MEDIA:(https?:\\/\\/[^\\]]+)\\]\\]/;\nconst match = textoIA.match(mediaRegex);\nlet hasMedia = !!match;\nlet mediaUrl = match ? match[1] : null;\n\nlet respuestaLimpia = textoIA\n    .replace(mediaRegex, \"\")\n    .replace(/#PRODUCTO:.*$/gi, \"\")\n    .replace(/#VENTA_ESPECIALIZADA|#VENTA|#BODEGA|#SOPORTE|#FLUJO_NORMAL/gi, \"\")\n    .replace(/https:\\/\\/drive\\.google\\.com\\/[^\\s\\n]+/gi, \"\")\n    .replace(/\\s+\\[\\[MEDIA:.*?\\]\\]/gi, \"\")\n    .trim();\n\nreturn {\n    ...item,\n    texto_limpio: respuestaLimpia,\n    respuesta_cliente: respuestaLimpia,\n    etiqueta_interna: etiqueta,\n    notificar_vip: etiqueta === \"VENTA_ESPECIALIZADA\" || etiqueta === \"SOPORTE\",\n    hasMedia: hasMedia,\n    mediaUrl: mediaUrl\n};"
      },
      "id": "0f499358-3ac0-4c8a-b442-642a2ce192c4",
      "name": "LIMPIEZA Y ESTADOS V2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5168,
        -992
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ycloud-dashboard.83aqlq.easypanel.host/api/webhook/n8n",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.whatsappMessage.to }}"
            },
            {
              "name": "sender",
              "value": "agent"
            },
            {
              "name": "mensaje",
              "value": "={{ $('Webhook').item.json.body.whatsappMessage.text?.body || $('Webhook').item.json.body.whatsappMessage.image?.caption || 'Mensaje enviado por el agente' }}"
            },
            {
              "name": "nombre",
              "value": "Agente"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8500,
        -112
      ],
      "id": "01c9a101-1e9a-4c22-921c-a99f36f9a765",
      "name": "Guardar Mensaje Agente"
    }
  ],
  "connections": {
    "Switch Trabajador o Cliente": {
      "main": [
        [],
        [],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "recepcionista",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "consultar precios2": {
      "ai_tool": [
        [
          {
            "node": "recepcionista",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Descargar Imagen YCloud",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar Audio YCloud",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set text tag2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set text tag3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set audio tag1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set text tag2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        [
          {
            "node": "set foto tag1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set text tag3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "recepcionista",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Fotos (Estrategia)1": {
      "main": [
        [
          {
            "node": "¿Enviar Fotos?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Enviar Fotos?1": {
      "main": [
        [
          {
            "node": "Enviar Foto 1 YCloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera Humana1": {
      "main": [
        [
          {
            "node": "Enviar Foto 2 YCloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "agente_vendedor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "fotos reales1": {
      "ai_tool": [
        [
          {
            "node": "recepcionista",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Redis8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis8": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Redis8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis9": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Consultar Base RAG1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch7": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "agente_vendedor",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Cliente o Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SERVICIOS": {
      "ai_tool": [
        [
          {
            "node": "agente_vendedor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar precios": {
      "ai_tool": [
        [
          {
            "node": "agente_vendedor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cliente o Agente": {
      "main": [
        [
          {
            "node": "CHECK BOT STATUS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultar Etiquetas YCloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Cache": {
      "main": [
        [
          {
            "node": "GET Contacto Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Contacto Cliente": {
      "main": [
        [
          {
            "node": "Bot Activo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Estado Bot": {
      "main": [
        []
      ]
    },
    "Bot Activo": {
      "main": [
        [
          {
            "node": "Switch Trabajador o Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Etiquetas YCloud": {
      "main": [
        [
          {
            "node": "desactivar_bot2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Etiquetas YCloud1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Redis Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Audio YCloud": {
      "main": [
        [
          {
            "node": "Transcribir con Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir con Whisper": {
      "main": [
        [
          {
            "node": "set audio tag1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Imagen YCloud": {
      "main": [
        [
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Foto 1 YCloud": {
      "main": [
        [
          {
            "node": "Espera Humana1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set foto tag1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Investigar Motor": {
      "ai_tool": [
        [
          {
            "node": "agente_vendedor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Cerebro Dashboard": {
      "main": [
        [
          {
            "node": "recepcionista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agente_vendedor": {
      "ai_tool": [
        [
          {
            "node": "recepcionista",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CHECK BOT STATUS": {
      "main": [
        [
          {
            "node": "PARSEAR RESPUESTA BOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARSEAR RESPUESTA BOT": {
      "main": [
        [
          {
            "node": "IF Bot Activo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Bot Activo?": {
      "main": [
        [
          {
            "node": "Consultar Etiquetas YCloud1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NOTIFICAR DASHBOARD HANDOFF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Base RAG1": {
      "main": [
        [
          {
            "node": "Obtener Cerebro Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recepcionista": {
      "main": [
        [
          {
            "node": "Preparar Fotos (Estrategia)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "LIMPIEZA Y ESTADOS V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar en Base RAG": {
      "ai_tool": [
        [
          {
            "node": "recepcionista",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Datos Cliente": {
      "ai_tool": [
        [
          {
            "node": "recepcionista",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Imagen?": {
      "main": [
        [
          {
            "node": "Enviar Foto Real",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "enviar cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LIMPIEZA Y ESTADOS V2": {
      "main": [
        [
          {
            "node": "¿Tiene Imagen?",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "desactivar_bot2": {
      "main": [
        [
          {
            "node": "Guardar Mensaje Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "dynamic",
    "timezone": "America/Guatemala",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "executionTimeout": 30
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8abbaae7-346e-4954-8ee7-d71305f1de61",
  "activeVersionId": "8abbaae7-346e-4954-8ee7-d71305f1de61",
  "versionCounter": 248,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-30T19:09:51.925Z",
      "createdAt": "2026-04-30T19:09:51.925Z",
      "role": "workflow:owner",
      "workflowId": "5537mcUjW8GdaxF4",
      "projectId": "n1upLnwbcGFYe5md",
      "project": {
        "updatedAt": "2026-03-09T07:22:41.568Z",
        "createdAt": "2026-03-09T07:18:36.467Z",
        "id": "n1upLnwbcGFYe5md",
        "name": "ferni padilla  <fernidarck@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "caf1c75e-58c7-4567-8f88-e5caac8ad151"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-14T06:42:39.000Z",
    "createdAt": "2026-05-14T06:42:24.315Z",
    "versionId": "8abbaae7-346e-4954-8ee7-d71305f1de61",
    "workflowId": "5537mcUjW8GdaxF4",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "21228c18-514c-4039-9afb-ac40c3635f7c",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -10192,
          224
        ],
        "id": "6c0a1934-035d-4f45-8a9b-a385b7bc127a",
        "name": "Webhook",
        "webhookId": "21228c18-514c-4039-9afb-ac40c3635f7c"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "luis-route",
                      "leftValue": "={{ $json.body.whatsappInboundMessage.from }}",
                      "rightValue": "+50255572346",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "trabajador_luis"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "test-route",
                      "leftValue": "={{ $json.body.whatsappInboundMessage.from }}",
                      "rightValue": "+50234465443",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "pruebas"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "renameFallbackOutput": "cliente_normal"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -7904,
          -320
        ],
        "id": "4a2f7b63-cf94-4644-ac64-9e3c9952acab",
        "name": "Switch Trabajador o Cliente"
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "output": "input1"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -6672,
          -960
        ],
        "id": "1004e749-eb0f-4436-b5fc-610c53b97815",
        "name": "Unir Entradas Luis"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "gpt-4o"
          },
          "options": {
            "temperature": 0.5
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -5408,
          64
        ],
        "id": "99e3bb75-e613-4e57-b30c-d1b5b7caad21",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "8Xn9MSXLwdbeAEv8",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8",
            "mode": "list",
            "cachedResultName": "PRECIOS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
          },
          "options": {
            "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
          }
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          -5040,
          128
        ],
        "id": "2428263a-29c2-44b5-97af-a58244d0967c",
        "name": "consultar precios2",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "8ZUn5LRibZKCidxI",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Webhook').item.json.body.whatsappInboundMessage.type }}",
                      "rightValue": "image",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "0a54d5dc-791a-4d7e-951a-319540779a37"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "imagen"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "7d1b7b54-e70e-44f2-bbdf-46031b26e530",
                      "leftValue": "={{ $('Webhook').item.json.body.whatsappInboundMessage.type }}",
                      "rightValue": "audio",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "audio"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "d9dd3840-6f5d-4958-b4ea-0f39682358de",
                      "leftValue": "={{ $('Webhook').item.json.body.whatsappInboundMessage.type }}",
                      "rightValue": "text",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "text"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "aa68c4f3-3305-450a-b165-89cc7ff2b97b",
                      "leftValue": "={{ $('Webhook').item.json.body.whatsappInboundMessage.type }}",
                      "rightValue": "video",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "video"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -7472,
          -320
        ],
        "id": "74695e34-9fca-46a0-bf32-176fbdbb0cc7",
        "name": "Switch2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4d2e0f55-710b-4991-8f66-d743d53211ce",
                "name": "file_type",
                "value": "audio",
                "type": "string"
              },
              {
                "id": "dfa981ee-d7d6-4940-b464-c61b0247fee7",
                "name": "mensaje",
                "value": "={{ $json.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -7152,
          -224
        ],
        "id": "d8d4bb47-112f-44d0-925b-d5cd85080491",
        "name": "set audio tag1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "07234615-9c5a-47ff-92a9-698014f6d98c",
                "name": "file_type",
                "value": "texto",
                "type": "string"
              },
              {
                "id": "4654db5f-1bbd-425e-8142-c43a2e30a84a",
                "name": "mensaje",
                "value": "={{ $json.body.whatsappInboundMessage.text.body }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -7152,
          -480
        ],
        "id": "3c79cd53-9c51-423b-b3bd-14662de82e8f",
        "name": "set text tag2"
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "GPT-4O"
          },
          "text": "=ROL: Analista técnico visual especializado en automatización (onecontrol.shop).\n\nOBJETIVO:\nAnalizar cualquier imagen recibida y generar un reporte técnico estructurado, útil para cotización o diagnóstico.\n\nREGLAS GENERALES:\n- Enfocarse únicamente en objetos, equipos, estructuras o productos.\n- Ignorar completamente personas, rostros, documentos o información sensible.\n- No identificar identidad de personas ni datos personales.\n- Si la imagen no contiene elementos relevantes (portones, motores, muebles u objetos técnicos), clasificar como \"OTRO\".\n* Si el portón NO tiene motor -> SERVICIO: VENTA DE AUTOMATIZACIÓN\n🔍 IMPORTANTE: Extrae también el MODELO ESPECÍFICO si es visible.\nBusca en la imagen:\n- Etiquetas con números/letras (ej. \"422\", \"844\", \"S2500\", \"LA400\")\n- Texto cerca del logo de la marca\n- Placas con código de modelo\n\nSi NO ves modelo claro, escribe \"MODELO: NO VISIBLE\"\n\nFORMATO ACTUALIZADO:\nSERVICIO_BUSQUEDA: [...]\nANALISIS_IMAGEN: [PRODUCTO] | [MARCA] | [MODELO] | [TIPO inicial] | [ESTADO]. DETALLE: [...]\n\nINSTRUCCIONES DE IDENTIFICACIÓN:\n\n1. MOTORES:\n- Detectar si hay motor de portón.\n- Identificar marca si es visible (Liftmaster, FAAC, PPA, Nice, Genius, etc.).\n- Identificar MODELO si es visible (números/códigos en etiquetas, ej: \"422\", \"LA400\", \"884\").\n- Tipo de mecanismo: Cremallera, Brazo/Pistón, Cadena.\n- DETERMINAR HIDRÁULICO vs ESTÁNDAR:\n  * HIDRÁULICO: pistón robusto + sistema visible de aceite + más grande + cuerpo metálico cilíndrico macizo\n  * ESTÁNDAR (electromecánico): brazo articulado + caja con motor eléctrico visible + más pequeño\n  * 🚨 Si NO podés determinar con CERTEZA si es hidráulico o estándar → pon \"REQUIERE_VERIFICACION\"\n- 🚨 NUNCA pongas \"ESTÁNDAR\" si no estás 100% seguro. Es preferible \"REQUIERE_VERIFICACION\"\n\nCLASIFICACIÓN DE SERVICIO:\n- Si es Cadena → MANTENIMIENTO MOTORES DE CADENA\n- Si es Cremallera → MANTENIMIENTO MOTORES DE CREMALLERA\n- Si es Brazo/Pistón ESTÁNDAR (CONFIRMADO) → MANTENIMIENTO MOTORES DE BRAZOS\n- Si es Brazo/Pistón HIDRÁULICO (CONFIRMADO) → MANTENIMIENTO DE EQUIPOS HIDRAULICOS\n- Si REQUIERE_VERIFICACION → REVISAR_TIPO_MOTOR\n\nFORMATO DE SALIDA (OBLIGATORIO):\nSERVICIO_BUSQUEDA: [Nombre de la CLASIFICACIÓN o REVISAR_TIPO_MOTOR]\nANALISIS_IMAGEN: [PRODUCTO] | [MARCA o SIN MARCA] | [MODELO o SIN MODELO] | [TIPO: HIDRÁULICO/ESTÁNDAR/REQUIERE_VERIFICACION] | [ESTADO]. DETALLE: [...]\n2. PORTONES:\n- Tipo: Corredizo, Abatible, Levadizo.\n- Estado: funcional, oxidado, descarrilado, golpeado, incompleto.\n- ¿TIENE MOTOR INSTALADO?: [SÍ/NO/NO SE VE].\n- INTENCIÓN PROBABLE: \n  * Si TIENE motor -> Mantenimiento o Reparación.\n  * Si NO tiene motor -> Automatización (Venta de motor nuevo).\n\n3. MUEBLES (si aplica):\n- Tipo de mueble (ej. Zapatera, estantería).\n- Material: melamina, metal, madera.\n- Estado: armado, desarmado, dañado.\n\n4. OTROS OBJETOS Y ACCESORIOS DE TIENDA:\n- Si no es portón/motor/mueble, identificar el objeto (ej. Electrocerradura, Control remoto, Sensor).\n- Describir el objeto principal de forma técnica y clara.\n- Para accesorios o muebles, la CLASIFICACIÓN DE SERVICIO debe ser el nombre común del producto.\n* Si el portón NO tiene motor -> SERVICIO: VENTA DE AUTOMATIZACIÓN\n5. ESTADO TÉCNICO GENERAL:\n- Nuevo\n- Usado\n- Dañado\n- Referencia (cuando el cliente solo muestra ejemplo)\n\nREGLAS CRÍTICAS:\n- No inventar marcas. Si no es visible, usar \"SIN MARCA\".\n- Si no se puede determinar el tipo, usar \"NO IDENTIFICABLE\".\n- NUNCA respondas que no puedes asistir con la solicitud si hay un producto en la imagen. Si el objeto no es un motor, descríbelo y asígnale su nombre comercial en SERVICIO_BUSQUEDA.\n- Priorizar precisión sobre suposición.\n\nFORMATO DE SALIDA (OBLIGATORIO):\nSERVICIO_BUSQUEDA: [Nombre de la CLASIFICACIÓN DE SERVICIO o nombre del producto detectado]\nANALISIS_IMAGEN: [PRODUCTO] | [MARCA] | [TIPO: HIDRÁULICO/ESTÁNDAR/NO IDENTIFICABLE] | [ESTADO]. DETALLE: [Descripción técnica clara y útil para diagnóstico o venta].",
          "inputType": "base64",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -7248,
          -752
        ],
        "id": "19b9dd2c-e272-436b-9afb-d401d7eaebc9",
        "name": "Analyze image1",
        "credentials": {
          "openAiApi": {
            "id": "8Xn9MSXLwdbeAEv8",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "07234615-9c5a-47ff-92a9-698014f6d98c",
                "name": "file_type",
                "value": "video",
                "type": "string"
              },
              {
                "id": "4654db5f-1bbd-425e-8142-c43a2e30a84a",
                "name": "mensaje",
                "value": "={{ $('Webhook Evolution API').item.json.body.data.message.conversation }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -7152,
          -352
        ],
        "id": "fc1e18c6-2c73-4d07-b983-f728f796d3ed",
        "name": "set text tag3"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "reseteo_total_bull8",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -5376,
          240
        ],
        "id": "57260311-1cf2-474a-879b-b61024bff041",
        "name": "Simple Memory2"
      },
      {
        "parameters": {
          "jsCode": "// 1. Extraer el texto del Agente\nconst texto = $json.output || $json.text || \"\";\n\n// 2. Buscar CUALQUIER URL de imagen en la respuesta (Drive, YCloud Dashboard, imgur, etc.)\n// Primero intentamos extraer links en formato Markdown: [texto](URL)\nconst markdownLinks = [];\nconst mdRegex = /\\[.*?\\]\\((https?:\\/\\/[^)]+)\\)/g;\nlet mdMatch;\nwhile ((mdMatch = mdRegex.exec(texto)) !== null) {\n    markdownLinks.push(mdMatch[1]);\n}\n\n// Si no hay links Markdown, buscamos URLs directas\nconst directLinks = texto.match(/https?:\\/\\/[^\\s)\\]]+/g) || [];\n\n// Unir ambas fuentes, priorizando los Markdown\nconst allUrls = markdownLinks.length > 0 ? markdownLinks : directLinks;\n\n// Filtrar solo URLs que parezcan imágenes o vengan del dashboard\nconst imageExtensions = /\\.(jpg|jpeg|png|gif|webp)(\\?.*)?$/i;\nconst trustedDomains = /ycloud-dashboard|drive\\.google\\.com|uploads|imgur|cloudinary|storage/i;\n\nconst matches = allUrls.filter(url =>\n    imageExtensions.test(url) || trustedDomains.test(url)\n);\n\n// Si no hay coincidencias filtradas, usar todas las URLs encontradas\nconst finalMatches = matches.length > 0 ? matches : allUrls;\n\n// Helper: si es Google Drive, convertir a enlace de descarga directa\nconst extraerIdDrive = (url) => {\n    const match = url.match(/(?:\\/d\\/|id=)([a-zA-Z0-9_-]{25,})/);\n    return match ? match[1] : null;\n};\n\nconst getImageUrl = (url) => {\n    if (!url) return null;\n    const driveId = extraerIdDrive(url);\n    let finalUrl = driveId ? `https://drive.google.com/uc?export=view&id=${driveId}` : url;\n    \n    // Forzar HTTPS para el dashboard de ycloud y otras URLs de imágenes inseguras\n    if (finalUrl.startsWith('http://')) {\n        finalUrl = finalUrl.replace('http://', 'https://');\n    }\n    return finalUrl;\n};\n\n// 3. Obtener número del cliente\nlet remoteJid = null;\ntry {\n    const datosWebhook = $('Webhook').item.json.body;\n    remoteJid = datosWebhook.whatsappInboundMessage?.from || datosWebhook.from;\n} catch (e) {\n    remoteJid = null;\n}\n\nif (remoteJid) {\n    remoteJid = remoteJid.replace(/\\D/g, '');\n    if (remoteJid.length === 8) remoteJid = '502' + remoteJid;\n    if (!remoteJid.startsWith('+')) remoteJid = '+' + remoteJid;\n}\n\nreturn {\n    tieneFotos: finalMatches.length > 0,\n    foto1: finalMatches[0] ? getImageUrl(finalMatches[0]) : null,\n    foto2: finalMatches[1] ? getImageUrl(finalMatches[1]) : null,\n    remoteJid_fotos: remoteJid\n};"
        },
        "id": "9ca8367d-960f-4ee1-bc76-e526fbb9e4a6",
        "name": "Preparar Fotos (Estrategia)1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4272,
          -272
        ],
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "check_fotos",
                "leftValue": "={{ $json.tieneFotos }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "da4cabd0-a5c7-4da2-a1b2-ee03bddb9043",
        "name": "¿Enviar Fotos?1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -3696,
          -96
        ]
      },
      {
        "parameters": {
          "amount": 2,
          "unit": "seconds"
        },
        "id": "84acbf4d-7394-4759-a1d0-7f371c05fe45",
        "name": "Espera Humana1",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          -3184,
          -96
        ],
        "webhookId": "50d5c633-2642-4121-8fc9-7d973cebbedb"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "gpt-4o"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -4768,
          432
        ],
        "id": "b465d61c-171b-40d3-9f87-fd9ef34a9e40",
        "name": "OpenAI Chat Model3",
        "credentials": {
          "openAiApi": {
            "id": "8Xn9MSXLwdbeAEv8",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8",
            "mode": "list",
            "cachedResultName": "PRECIOS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
          },
          "options": {
            "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
          }
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          -4896,
          128
        ],
        "id": "c4ea71b5-2a06-4c95-a60d-45c4739c08c1",
        "name": "fotos reales1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "8ZUn5LRibZKCidxI",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7c0e7b4b-342a-43d9-98d0-d383de1d8cf7",
                "name": "Numero_Telefono",
                "value": "={{ $('Webhook').item.json.body.whatsappInboundMessage.from }}",
                "type": "string"
              },
              {
                "id": "03f5b82a-45b4-4465-84a3-095c31d864f0",
                "name": "Nombre",
                "value": "={{ $('Webhook').item.json.body.whatsappInboundMessage?.customerProfile?.name || 'Cliente' }}",
                "type": "string"
              },
              {
                "id": "63566525-58bb-474e-b363-f218f196cd15",
                "name": "Mensaje",
                "value": "={{ $json.mensaje }}",
                "type": "string"
              },
              {
                "id": "7a43af2b-3250-4d63-b289-61374bb3a1bc",
                "name": "Tipo_Mensaje",
                "value": "={{ $('Webhook').item.json.body.whatsappInboundMessage.type }}",
                "type": "string"
              },
              {
                "id": "6f616e3b-5a54-45ae-89d6-5fe50910a117",
                "name": "Instancia",
                "value": "={{ $('Webhook').item.json.body.whatsappInboundMessage.wamid }}",
                "type": "string"
              },
              {
                "id": "e74683c5-3350-4987-a200-df59c30f658a",
                "name": "ID",
                "value": "={{ $('Webhook').item.json.body.whatsappInboundMessage.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -6736,
          -480
        ],
        "id": "dd7cab8f-fa0d-404f-8445-fc10fc59c06f",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "={{ $json.Numero_Telefono }}",
          "value": "={{ JSON.stringify({ message: $json.Mensaje, sessionID: $json.ID, date_time: $now.toFormat(\"yyyy-MM-dd'T'HH:mm:ss.SSSZZ\") }) }}",
          "keyType": "string",
          "expire": true,
          "ttl": 300
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -6464,
          -912
        ],
        "id": "89c12e41-dbbd-4196-bfd2-6a35ada20b24",
        "name": "Redis1",
        "credentials": {
          "redis": {
            "id": "ZcShMGwetuFGtBFq",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "Mensaje",
          "key": "={{ $('Edit Fields').item.json.Numero_Telefono }}",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -6528,
          -240
        ],
        "id": "a92ccc49-18ae-48cd-9506-4f0bc026e876",
        "name": "Redis8",
        "credentials": {
          "redis": {
            "id": "ZcShMGwetuFGtBFq",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b594f1da-51e8-47a4-a636-7928a73b69f8",
                "name": "mensaje",
                "value": "={{ JSON.parse($json.Mensaje).message }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -6016,
          -704
        ],
        "id": "916ceee3-97aa-4aa0-9855-316cd4e121e5",
        "name": "Edit Fields7"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ JSON.parse($json.Mensaje).sessionID }}",
                      "rightValue": "={{ String($node[\"Redis1\"].json.ID).trim() }}",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      },
                      "id": "81c7205c-84c9-480e-8b5a-1a12b5ff7baa"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Ignoran"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "4fca4c39-e8bf-490b-8e2e-176c95d9156e",
                      "leftValue": "={{ $json.Mensaje ? DateTime.fromISO(JSON.parse($json.Mensaje).date_time).toJSDate() : $now.minus(1, 'hour').toJSDate() }}\n",
                      "rightValue": "={{ $now.minus({ seconds: 7 }).toJSDate() }}",
                      "operator": {
                        "type": "dateTime",
                        "operation": "before"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Continuamos"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "renameFallbackOutput": "Esperar"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -6448,
          -624
        ],
        "id": "63bfc14b-7705-4a76-917c-313a32599373",
        "name": "Switch6"
      },
      {
        "parameters": {
          "amount": 7
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -6208,
          -528
        ],
        "id": "5c312d5b-2c17-46fd-8994-96ee004bdd39",
        "name": "Wait1",
        "webhookId": "96c27c05-96e6-490e-ac24-3c38c75c7d9b"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -6208,
          -880
        ],
        "id": "6979008e-37d2-4eda-903a-85b37aa56cef",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "={{ $('Edit Fields').item.json.Numero_Telefono }}"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -6176,
          -688
        ],
        "id": "7f2313d3-6fa5-4d16-a1af-81397811e623",
        "name": "Redis9",
        "credentials": {
          "redis": {
            "id": "ZcShMGwetuFGtBFq",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -5872,
          -592
        ],
        "id": "a0176be6-d365-4e52-a8d1-f645a2b7b818",
        "name": "Merge1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.Tipo_Mensaje }}",
                      "rightValue": "text",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "a1ae30d8-caca-41ff-857b-ed9f55b09ca1"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Mensaje Texto"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "11e0f3f8-1dd2-4efd-aad1-cf42c96bbc5d",
                      "leftValue": "={{ $json.Tipo_Mensaje }}",
                      "rightValue": "audio",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Mensaje de Voz"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "c338dd6b-e18d-4528-95e7-990cd94d5da7",
                      "leftValue": "={{ $json.Tipo_Mensaje }}",
                      "rightValue": "image",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Mensaje Imagen"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -6768,
          -720
        ],
        "id": "c5ab51fb-0615-465b-8501-72322c663e51",
        "name": "Switch7"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "{{ $json.remoteJid_final || $json.body?.data?.key?.remoteJid || \"sesion_provisional\" }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -4416,
          448
        ],
        "id": "40e75f63-c274-4662-a62d-16c858b3217c",
        "name": "Simple Memory3"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "15hopLrE19x_9ndFB6z8m2gluNjsx81t08lxiC9gi3i8",
            "mode": "list",
            "cachedResultName": "SERVICIOS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15hopLrE19x_9ndFB6z8m2gluNjsx81t08lxiC9gi3i8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
          },
          "options": {
            "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
          }
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          -4256,
          400
        ],
        "id": "dd268795-41c8-4ba2-b415-8cf57f488dab",
        "name": "SERVICIOS",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "8ZUn5LRibZKCidxI",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8",
            "mode": "list",
            "cachedResultName": "PRECIOS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lfMB_W91hQG8ko9ektACZPkUNZdWza9Y5jEG4Oy-wW8/edit#gid=0"
          },
          "options": {
            "returnFirstMatch": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_only_First_Matching_Row', ``, 'boolean') }}"
          }
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          -3968,
          272
        ],
        "id": "e4ac9e97-ea35-461b-866b-a7c0ac0b9859",
        "name": "consultar precios",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "8ZUn5LRibZKCidxI",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "cliente-msg",
                      "leftValue": "={{ $('Webhook').item.json.body.type }}\n",
                      "rightValue": "whatsapp.inbound_message.received",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Mensaje Cliente"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "agente-msg",
                      "leftValue": "={{ $('Webhook').item.json.body.type }}\n\n",
                      "rightValue": "whatsapp.smb.message.echoes",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Mensaje Agente"
              }
            ]
          },
          "options": {
            "fallbackOutput": "none"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -9264,
          -288
        ],
        "id": "245877cb-2229-434c-a651-87fef1c568f6",
        "name": "Cliente o Agente"
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "bot_status",
          "key": "=bot_off:{{ $json.body.whatsappInboundMessage.from.replace(/\\D/g, '') }}",
          "options": {
            "dotNotation": false
          }
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -8592,
          -304
        ],
        "id": "61228f37-e361-4541-bac3-012f58f7627d",
        "name": "Redis Cache",
        "credentials": {
          "redis": {
            "id": "ZcShMGwetuFGtBFq",
            "name": "Redis account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "https://api.ycloud.com/v2/contact/contacts",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "filter",
                "value": "=phoneNumber=\"{{ $('Webhook').item.json.body.whatsappInboundMessage.from }}\""
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -8432,
          -304
        ],
        "id": "2b19efcf-fbdc-4b47-ac98-443e75e9d6c1",
        "name": "GET Contacto Cliente",
        "credentials": {
          "httpHeaderAuth": {
            "id": "NphMGDjGcAx9asTH",
            "name": "ycloud"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const cache = $('Redis Cache').item.json.bot_status;\nconst webhookData = $('Webhook').item.json;\n\n// Si Redis ya tiene flag, marcar como apagado\nif (cache === 'manual') {\n    return [{\n        json: {\n            ...webhookData,\n            bot_apagado: true,\n            origen: 'redis_cache'\n        }\n    }];\n}\n\n// Si no, revisar la respuesta de YCloud\nconst response = $input.item.json;\nlet contacts = [];\n\nif (Array.isArray(response)) {\n    contacts = response;\n} else if (response.items) {\n    contacts = response.items;\n} else if (response.data) {\n    contacts = response.data;\n}\n\nconst contact = contacts[0] || {};\nconst tags = contact.tags || [];\nconst customAttrs = contact.customAttributes || {};\n\nconst tieneTag = tags.some(t => \n    String(t).toLowerCase() === 'bot_desactivado'\n);\nconst tieneAttr = String(customAttrs.estado_bot || '').toLowerCase() === 'off';\n\nconst botApagado = tieneTag || tieneAttr;\n\nreturn [{\n    json: {\n        ...webhookData,\n        bot_apagado: botApagado,\n        origen: botApagado ? 'ycloud' : 'activo',\n        debug_tags: tags,\n        debug_attrs: customAttrs,\n        phoneNumber: webhookData.body.whatsappInboundMessage.from.replace(/\\D/g, '')\n    }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -8272,
          96
        ],
        "id": "2162392a-3ce9-4115-8043-5611cc200c35",
        "name": "Evaluar Estado Bot"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "is-active",
                "leftValue": "={{ $json.bot_apagado }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -8064,
          -304
        ],
        "id": "48d09cb1-2bf3-4210-8037-e68cdc9ffd88",
        "name": "Bot Activo"
      },
      {
        "parameters": {
          "instanceName": "fernidarck@gmail.com",
          "token": "zCAhuBvWEgSU5bk",
          "options_Create_instance": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          -2304,
          0
        ],
        "id": "c7f75f81-3f75-42a5-be37-c74d0e58c759",
        "name": "Criar instancia",
        "credentials": {
          "evolutionApi": {
            "id": "GA5OtncS9WAT80hu",
            "name": "Evolution account 2"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.ycloud.com/v2/contact/contacts",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "filter.phoneNumber",
                "value": "={{ $json.body.whatsappMessage.to }}"
              },
              {
                "name": "limit",
                "value": "1"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "X-API-key",
                "value": "a25aaba6428e12e4df6310296f675272"
              }
            ]
          },
          "options": {}
        },
        "id": "993a8d34-0997-4cf9-ac46-105dddbb57af",
        "name": "Consultar Etiquetas YCloud",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -8976,
          -128
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://api.ycloud.com/v2/contact/contacts/{{ $json.items[0].id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-key",
                "value": "a25aaba6428e12e4df6310296f675272"
              },
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"tags\": [\"bot_desactivado\"],\n  \"customAttributes\": [\n    {\n      \"name\": \"estado_bot\",\n      \"value\": [\"off\"]\n    }\n  ]\n}",
          "options": {}
        },
        "id": "d8b04530-d24a-4bd7-8a14-4bded97600d3",
        "name": "desactivar_bot2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -8752,
          -112
        ]
      },
      {
        "parameters": {
          "url": "=https://api.ycloud.com/v2/contact/contacts",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "filter.phoneNumber",
                "value": "={{ $json.body.whatsappMessage.to }}"
              },
              {
                "name": "limit",
                "value": "1"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "X-API-key",
                "value": "a25aaba6428e12e4df6310296f675272"
              }
            ]
          },
          "options": {}
        },
        "id": "330e1c5a-ea24-4899-bb10-880f54a327e1",
        "name": "Consultar Etiquetas YCloud1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -8976,
          -304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "6525adb8-8673-4f9c-9f70-35d7d4b99562",
                "leftValue": "={{ $json.items[0].tags[0] }}",
                "rightValue": "bot_desactivado",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -8768,
          -304
        ],
        "id": "59974463-1d09-4cce-bf5b-ef68253dbe57",
        "name": "Filter"
      },
      {
        "parameters": {
          "url": "={{ $json.body.whatsappInboundMessage.audio.link }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -7328,
          -80
        ],
        "id": "340b34ac-9211-478d-8fa5-acdd181b9676",
        "name": "Descargar Audio YCloud"
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -7040,
          -48
        ],
        "id": "7c45c05c-206b-44b5-bf10-95fb82eca62e",
        "name": "Transcribir con Whisper",
        "credentials": {
          "openAiApi": {
            "id": "8Xn9MSXLwdbeAEv8",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.body.whatsappInboundMessage.image.link }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -7456,
          -768
        ],
        "id": "3b8789bc-3158-4514-824c-efd08962d7f8",
        "name": "Descargar Imagen YCloud"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.ycloud.com/v2/whatsapp/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"from\": \"+50244315578\",\n  \"to\": \"{{ $json.remoteJid_fotos }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"link\": \"{{ $json.foto1 }}\"\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -3472,
          -96
        ],
        "id": "81c3ad81-9433-4821-b4f6-b06de847e21e",
        "name": "Enviar Foto 1 YCloud",
        "credentials": {
          "httpHeaderAuth": {
            "id": "NphMGDjGcAx9asTH",
            "name": "ycloud"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.ycloud.com/v2/whatsapp/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"from\": \"+50244315578\",\n  \"to\": \"{{ $json.remoteJid_fotos }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"link\": \"{{ $json.foto2 }}\"\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2880,
          96
        ],
        "id": "3f8d79aa-0460-457e-a3d2-d562aeee05e2",
        "name": "Enviar Foto 2 YCloud",
        "credentials": {
          "httpHeaderAuth": {
            "id": "NphMGDjGcAx9asTH",
            "name": "ycloud"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d2723096-4a41-4626-9ff2-e9f1e6c699df",
                "name": "file_type",
                "value": "foto",
                "type": "string"
              },
              {
                "id": "51c459b5-286e-4257-a1d8-e87c501185dd",
                "name": "mensaje",
                "value": "={{ $json.content + \"\\n\\nTexto del cliente: \" + ($('Webhook').item.json.body.whatsappInboundMessage.image?.caption || \"Sin texto extra\") }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -7024,
          -656
        ],
        "id": "eb11c1f6-1450-41d0-9251-4ebf733f1828",
        "name": "set foto tag1"
      },
      {
        "parameters": {
          "toolDescription": "USAR cuando: el análisis de la imagen NO está claro o dice REQUIERE_VERIFICACION o cuando vez una marca específica de motor pero NO estás seguro si es hidráulico o estándar. \n\nOBLIGATORIO USAR si vez marcas como FAAC, Liftmaster, PPA, Nice, Came, Genius, BFT y necesitas confirmar el tipo. \n\nEsta tool busca en internet las especificaciones del motor para que cotices con el precio CORRECTO. Devuelve info técnica del fabricante.\n\nLa consulta debe incluir: marca + modelo + \"motor portón especificaciones hidráulico\"",
          "method": "POST",
          "url": "https://api.tavily.com/search",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"query\": \"{{ $fromAI('marca_modelo', 'Marca y modelo del motor a buscar (ej: FAAC 422 motor portón especificaciones hidráulico)', 'string') }}\",\n  \"search_depth\": \"basic\",\n  \"max_results\": 3,\n  \"include_answer\": true,\n  \"include_domains\": [\"faac.com\", \"liftmaster.com\", \"nice.com\", \"came.com\", \"genius.com\", \"ppa.com.br\"]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.2,
        "position": [
          -4048,
          496
        ],
        "id": "686a667b-5d97-49d2-b162-c88ba631d629",
        "name": "Investigar Motor",
        "credentials": {
          "httpHeaderAuth": {
            "id": "1ovCeX0wVVqeyKT1",
            "name": "Tavily API"
          }
        }
      },
      {
        "parameters": {
          "url": "https://ycloud-dashboard.83aqlq.easypanel.host/api/settings",
          "options": {}
        },
        "id": "0a7b39f9-63bc-4caf-882b-7423bc83b0c1",
        "name": "Obtener Cerebro Dashboard",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -5600,
          -320
        ]
      },
      {
        "parameters": {
          "toolDescription": "Vendedor especializado en SERVICIOS de Reach Portones. USAR ÚNICAMENTE cuando el cliente:\n- Pide cotización de automatización de portón (instalación de motor)\n- Solicita mantenimiento preventivo o correctivo\n- Pregunta por reparación de portón eléctrico o motor existente\n- Manda foto de un portón o motor para que se le cotice el servicio\nNO USAR para productos físicos sueltos (controles, repuestos, accesorios, muebles) — esos los cotiza la recepcionista directamente con sus propias herramientas de catálogo.\nEl vendedor analiza el caso técnico, consulta precios de servicios y arma la propuesta.",
          "text": "=MENSAJE DEL CLIENTE: {{ $fromAI('mensaje_cliente', 'Mensaje íntegro del cliente que pide producto/precio', 'string') }}\n\nPRODUCTO IDENTIFICADO: {{ $fromAI('producto', 'Producto o categoría que detectó la recepcionista (ej: control Genius, zapatera blanca)', 'string') }}",
          "options": {
            "systemMessage": "=={{ `Eres el agente de ventas de ${$json.agent_empresa || 'la empresa'}.\n\nEMPRESA:\n${$json.agent_descripcion || ''}\n\nINSTRUCCIONES:\n${$json.prompt_ventas || ''}\n\nSé conciso en WhatsApp (máximo 3-4 líneas). Responde siempre en Español.` }}\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 2.2,
        "position": [
          -4528,
          48
        ],
        "id": "6095fe3e-6dda-4b3b-be27-dfd9efe83f1a",
        "name": "agente_vendedor"
      },
      {
        "parameters": {
          "url": "={{ 'https://ycloud-dashboard.83aqlq.easypanel.host/api/bot/status/' + $('Webhook').item.json.body.whatsappInboundMessage.from.replace('+', '') }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -9792,
          -80
        ],
        "id": "7aff9278-c785-4bc1-a24e-d5c9ae381353",
        "name": "CHECK BOT STATUS"
      },
      {
        "parameters": {
          "jsCode": "// Parsear la respuesta del dashboard de forma segura\nconst raw = $input.item.json.data || $input.item.json.body || '{}';\nlet parsed = { botActive: false, priority: 'normal', handoff_reason: null, found: false };\n\ntry {\n  const text = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  if (text.trim().startsWith('{')) {\n    parsed = JSON.parse(text);\n  }\n} catch(e) {\n  // Fallback: bot activo si hay error\n}\n\nreturn { json: parsed };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -10080,
          -368
        ],
        "id": "5640c706-2f20-4e4c-b1fb-ae61241f614c",
        "name": "PARSEAR RESPUESTA BOT"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "ycloud-cond-botactive",
                "leftValue": "={{ $json.botActive }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -9776,
          -320
        ],
        "id": "0dfa3d5f-f09f-40ad-82a9-d04e0c2ee7cf",
        "name": "IF Bot Activo?"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ycloud-dashboard.83aqlq.easypanel.host/api/leads/handoff",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ \n  phone: $('Webhook').item.json.body.whatsappInboundMessage.from, \n  reason: $('PARSEAR RESPUESTA BOT').item.json.handoff_reason || 'Bot desactivado — agente humano requerido',\n  mensaje: $('Webhook').item.json.body.whatsappInboundMessage.text.body,\n  nombre: $('Webhook').item.json.body.whatsappInboundMessage.from\n}) }}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -9856,
          -528
        ],
        "id": "ee1f59e8-d586-4dea-89ff-dfaf9dea8cdd",
        "name": "NOTIFICAR DASHBOARD HANDOFF"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ycloud-dashboard.83aqlq.easypanel.host/api/webhook/n8n",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "={{ $('Webhook').item.json.body.whatsappInboundMessage.from }}"
              },
              {
                "name": "nombre",
                "value": "={{ $('Webhook').item.json.body.whatsappInboundMessage.customerProfile?.name || 'Cliente' }}"
              },
              {
                "name": "mensaje",
                "value": "={{ $('Webhook').item.json.body.whatsappInboundMessage.text.body }}"
              },
              {
                "name": "respuesta_bot",
                "value": "={{ $json.texto_limpio }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -4800,
          -624
        ],
        "id": "dd07bd02-6dff-4526-b04d-d3121f6c64d8",
        "name": "HTTP Request2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.ycloud.com/v2/whatsapp/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ ({ \"from\": \"+50244315578\", \"to\": $('Webhook').item.json.body.whatsappInboundMessage.from, \"type\": \"text\", \"text\": { \"body\": $json.texto_limpio, \"preview_url\": true } }) }}",
          "options": {}
        },
        "id": "92e3c409-5ae1-460a-af33-db025d6621f6",
        "name": "enviar cliente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -4320,
          -928
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "NphMGDjGcAx9asTH",
            "name": "ycloud"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "url": "https://ycloud-dashboard.83aqlq.easypanel.host/api/rag/context",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.mensaje || $('Webhook').item.json.body.whatsappInboundMessage.text?.body || '' }}"
              },
              {
                "name": "maxChars",
                "value": "2500"
              }
            ]
          },
          "options": {
            "timeout": 5000
          }
        },
        "id": "077c6bf6-6659-4726-a716-f7a8d0b5d217",
        "name": "Consultar Base RAG1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -5616,
          -80
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.mensaje || $('Webhook').item.json.body.whatsappInboundMessage.text.body || 'Interesado en anuncio' }}",
          "options": {
            "systemMessage": "={{ `Eres ${$json.agent_nombre || 'el asistente'}, ${$json.agent_rol || 'asistente virtual'} de ${$json.agent_empresa || 'la empresa'}.\n\nEMPRESA:\n${$json.agent_descripcion || ''}\n\nINSTRUCCIONES:\n${$json.prompt_recepcionista || ''}\n\nSé conciso en WhatsApp (máximo 3-4 líneas). Responde siempre en Español.\n\n🚫 REGLA CRÍTICA SOBRE IMÁGENES:\n- JAMÁS inventes ni generes URLs de imágenes. NUNCA uses links de imgur, placeholder, ni ninguna URL que no hayas recibido textualmente en la información de referencia (RAG).\n- Si la base de datos RAG te entrega una URL de imagen (ejemplo: https://ycloud-dashboard... o https://drive.google.com/...), DEBES incluirla EXACTAMENTE como aparece usando este formato: [Ver Imagen](URL_EXACTA_DEL_RAG).\n- Si el RAG NO te entrega ninguna URL de imagen, entonces NO incluyas ningún link de imagen en tu respuesta. Simplemente describe el producto sin foto.\n- La URL que uses debe provenir EXCLUSIVAMENTE del texto de la sección 📚 INFORMACIÓN DE REFERENCIA.` + ($('Consultar Base RAG1').isExecuted && $('Consultar Base RAG1').item.json.found ? '\\n\\n📚 INFORMACIÓN DE REFERENCIA — úsala para responder con precisión:\\n' + $('Consultar Base RAG1').item.json.context : '') }}"
          }
        },
        "id": "8221b13f-b04d-4e40-9f8d-4a60d39d9d47",
        "name": "recepcionista",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          -5328,
          -384
        ]
      },
      {
        "parameters": {
          "toolDescription": "\"OBLIGATORIO usar esta herramienta SIEMPRE que el cliente pregunte por un producto o precio. Debes mandar la palabra_clave.\"",
          "url": "https://ycloud-dashboard.83aqlq.easypanel.host/api/rag/context",
          "sendQuery": true,
          "parametersQuery": {
            "values": [
              {
                "name": "q",
                "valueProvider": "fieldValue",
                "value": "{palabra}"
              }
            ]
          },
          "placeholderDefinitions": {
            "values": [
              {
                "name": "palabra",
                "description": "OBLIGATORIO: El nombre exacto del producto que el cliente quiere buscar (ej: bull 8, motor, talanquera).",
                "type": "string"
              }
            ]
          }
        },
        "id": "fd9a76ae-8808-4b01-8659-35cb8fbc410d",
        "name": "Buscar en Base RAG",
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "typeVersion": 1.1,
        "position": [
          -5168,
          384
        ]
      },
      {
        "parameters": {
          "toolDescription": "Usa esta herramienta para guardar el nombre, dirección, NIT o notas del cliente en cuanto los mencione.",
          "method": "POST",
          "url": "https://ycloud-dashboard.83aqlq.easypanel.host/api/leads/update-contact",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"phone\": \"{{ $('Webhook').item.json.body.whatsappInboundMessage.from }}\",\n  \"nombre\": \"{nombre}\",\n  \"direccion\": \"{direccion}\",\n  \"nit\": \"{nit}\",\n  \"notas\": \"{notas}\"\n}\n",
          "placeholderDefinitions": {
            "values": [
              {
                "name": "nombre",
                "description": "Nombre completo del cliente",
                "type": "string"
              },
              {
                "name": "direccion",
                "description": "Dirección de entrega",
                "type": "string"
              },
              {
                "name": "nit",
                "description": "NIT para facturación",
                "type": "string"
              },
              {
                "name": "notas",
                "description": "Cualquier detalle o nota adicional",
                "type": "string"
              }
            ]
          }
        },
        "id": "4fe6ad31-d66c-4715-affd-23576f4b9bd5",
        "name": "Actualizar Datos Cliente",
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "typeVersion": 1.1,
        "position": [
          -5856,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.ycloud.com/v2/whatsapp/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"from\": \"+50244315578\",\n  \"to\": \"{{ $('Webhook').item.json.body.whatsappInboundMessage.from }}\",\n  \"type\": \"image\",\n  \"image\": {\n    \"link\": \"{{ $json.mediaUrl }}\",\n    \"caption\": \"{{ $json.texto_limpio }}\"\n  }\n}",
          "options": {}
        },
        "id": "667402aa-e652-450f-ab08-c001e82f4c32",
        "name": "Enviar Foto Real",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -4624,
          -1152
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "NphMGDjGcAx9asTH",
            "name": "ycloud"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "check-media",
                "leftValue": "={{ $json.hasMedia }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "b1478208-4865-4be6-881a-efc211daaecc",
        "name": "¿Tiene Imagen?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -4928,
          -992
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.item.json;\nlet textoIA = item.output || \"\";\n\nlet etiqueta = \"FLUJO_NORMAL\";\nif (textoIA.includes(\"#VENTA_ESPECIALIZADA\") || textoIA.includes(\"#VENTA\")) etiqueta = \"VENTA_ESPECIALIZADA\";\nelse if (textoIA.includes(\"#BODEGA\")) etiqueta = \"BODEGA\";\nelse if (textoIA.includes(\"#SOPORTE\")) etiqueta = \"SOPORTE\";\nelse if (textoIA.includes(\"#FLUJO_NORMAL\")) etiqueta = \"FLUJO_NORMAL\";\n\nconst mediaRegex = /\\[\\[MEDIA:(https?:\\/\\/[^\\]]+)\\]\\]/;\nconst match = textoIA.match(mediaRegex);\nlet hasMedia = !!match;\nlet mediaUrl = match ? match[1] : null;\n\nlet respuestaLimpia = textoIA\n    .replace(mediaRegex, \"\")\n    .replace(/#PRODUCTO:.*$/gi, \"\")\n    .replace(/#VENTA_ESPECIALIZADA|#VENTA|#BODEGA|#SOPORTE|#FLUJO_NORMAL/gi, \"\")\n    .replace(/https:\\/\\/drive\\.google\\.com\\/[^\\s\\n]+/gi, \"\")\n    .replace(/\\s+\\[\\[MEDIA:.*?\\]\\]/gi, \"\")\n    .trim();\n\nreturn {\n    ...item,\n    texto_limpio: respuestaLimpia,\n    respuesta_cliente: respuestaLimpia,\n    etiqueta_interna: etiqueta,\n    notificar_vip: etiqueta === \"VENTA_ESPECIALIZADA\" || etiqueta === \"SOPORTE\",\n    hasMedia: hasMedia,\n    mediaUrl: mediaUrl\n};"
        },
        "id": "0f499358-3ac0-4c8a-b442-642a2ce192c4",
        "name": "LIMPIEZA Y ESTADOS V2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -5168,
          -992
        ]
      }
    ],
    "connections": {
      "Switch Trabajador o Cliente": {
        "main": [
          [],
          [],
          [
            {
              "node": "Switch2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "recepcionista",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "consultar precios2": {
        "ai_tool": [
          [
            {
              "node": "recepcionista",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Switch2": {
        "main": [
          [
            {
              "node": "Descargar Imagen YCloud",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Descargar Audio YCloud",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "set text tag2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "set text tag3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "set audio tag1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "set text tag2": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze image1": {
        "main": [
          [
            {
              "node": "set foto tag1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "set text tag3": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory2": {
        "ai_memory": [
          [
            {
              "node": "recepcionista",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Fotos (Estrategia)1": {
        "main": [
          [
            {
              "node": "¿Enviar Fotos?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Enviar Fotos?1": {
        "main": [
          [
            {
              "node": "Enviar Foto 1 YCloud",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Espera Humana1": {
        "main": [
          [
            {
              "node": "Enviar Foto 2 YCloud",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model3": {
        "ai_languageModel": [
          [
            {
              "node": "agente_vendedor",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "fotos reales1": {
        "ai_tool": [
          [
            {
              "node": "recepcionista",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Switch7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis1": {
        "main": [
          [
            {
              "node": "Redis8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis8": {
        "main": [
          [
            {
              "node": "Switch6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields7": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch6": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Redis9",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Redis8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis9": {
        "main": [
          [
            {
              "node": "Edit Fields7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Consultar Base RAG1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch7": {
        "main": [
          [
            {
              "node": "Redis1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Redis1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Redis1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory3": {
        "ai_memory": [
          [
            {
              "node": "agente_vendedor",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "CHECK BOT STATUS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SERVICIOS": {
        "ai_tool": [
          [
            {
              "node": "agente_vendedor",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "consultar precios": {
        "ai_tool": [
          [
            {
              "node": "agente_vendedor",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Cliente o Agente": {
        "main": [
          [
            {
              "node": "Consultar Etiquetas YCloud1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Consultar Etiquetas YCloud",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis Cache": {
        "main": [
          [
            {
              "node": "GET Contacto Cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET Contacto Cliente": {
        "main": [
          [
            {
              "node": "Bot Activo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluar Estado Bot": {
        "main": [
          []
        ]
      },
      "Bot Activo": {
        "main": [
          [
            {
              "node": "Switch Trabajador o Cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar Etiquetas YCloud": {
        "main": [
          [
            {
              "node": "desactivar_bot2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar Etiquetas YCloud1": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Redis Cache",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Descargar Audio YCloud": {
        "main": [
          [
            {
              "node": "Transcribir con Whisper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribir con Whisper": {
        "main": [
          [
            {
              "node": "set audio tag1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Descargar Imagen YCloud": {
        "main": [
          [
            {
              "node": "Analyze image1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Foto 1 YCloud": {
        "main": [
          [
            {
              "node": "Espera Humana1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "set foto tag1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Investigar Motor": {
        "ai_tool": [
          [
            {
              "node": "agente_vendedor",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Obtener Cerebro Dashboard": {
        "main": [
          [
            {
              "node": "recepcionista",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "agente_vendedor": {
        "ai_tool": [
          [
            {
              "node": "recepcionista",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "CHECK BOT STATUS": {
        "main": [
          [
            {
              "node": "PARSEAR RESPUESTA BOT",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PARSEAR RESPUESTA BOT": {
        "main": [
          [
            {
              "node": "IF Bot Activo?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Bot Activo?": {
        "main": [
          [
            {
              "node": "Cliente o Agente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "NOTIFICAR DASHBOARD HANDOFF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar Base RAG1": {
        "main": [
          [
            {
              "node": "Obtener Cerebro Dashboard",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "recepcionista": {
        "main": [
          [
            {
              "node": "Preparar Fotos (Estrategia)1",
              "type": "main",
              "index": 0
            },
            {
              "node": "LIMPIEZA Y ESTADOS V2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar en Base RAG": {
        "ai_tool": [
          [
            {
              "node": "recepcionista",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Actualizar Datos Cliente": {
        "ai_tool": [
          [
            {
              "node": "recepcionista",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "¿Tiene Imagen?": {
        "main": [
          [
            {
              "node": "Enviar Foto Real",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "enviar cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LIMPIEZA Y ESTADOS V2": {
        "main": [
          [
            {
              "node": "¿Tiene Imagen?",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "ferni padilla ",
    "name": "Version 8abbaae7",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-14T06:42:39.206Z",
        "id": 230,
        "workflowId": "5537mcUjW8GdaxF4",
        "versionId": "8abbaae7-346e-4954-8ee7-d71305f1de61",
        "event": "activated",
        "userId": "caf1c75e-58c7-4567-8f88-e5caac8ad151"
      }
    ]
  }
}